USE [CCenterRIA]
GO
/****** Object:  StoredProcedure [dbo].[ccsp_GalateaChatBotConversationsResult]    Script Date: 13/09/2023 10:39:50 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[ccsp_GalateaChatBotConversationsResult]
@action int,@chatBotId int,@status int=0,
@conversationId bigint=0,@campaignId int=0,
@activeConversations int = 0
AS
set nocount on

IF @action=0 BEGIN --Insertar estado de finalización en Tabla de Conversaciones
	UPDATE ChatBotConversation SET  EndStatus=@status, CampIdTransfered=@campaignId WHERE ChatBotConversationId = @conversationId;
	EXEC ccsp_GalateaChatBotConversationsResult @action=1, @chatBotId=@chatBotId,
			 @status=@status, @conversationId=@conversationId, @campaignId=@campaignId
	END
	--To do: Añadir consulta para finder
if @action=1 begin --Actualizar el status
	declare @FinishedByClient int,@FinishedBySystemFail int,@TransferWhatsAppCampaign int,@TransferCallBack int
	select @FinishedByClient= case when @status=1 then 1 else 0 end
	,@FinishedBySystemFail= case when @status=2 then 1 else 0 end
	,@TransferWhatsAppCampaign= case when @status=3 then 1 else 0 end
	,@TransferCallBack= case when @status=4 then 1 else 0 end

	if not exists(select  * from ccChatBotConversationsResult where chatBotId=@chatBotId) begin
		insert into ccChatBotConversationsResult values(@chatBotId,@FinishedByClient,@FinishedBySystemFail,@TransferWhatsAppCampaign,@TransferCallBack, 1)
	end
	else begin
		update ccChatBotConversationsResult set [FinishedByClient]=[FinishedByClient]+@FinishedByClient
		,[FinishedBySystemFail]=[FinishedBySystemFail]+@FinishedBySystemFail
		,[TransferWhatsAppCampaign]=[TransferWhatsAppCampaign]+@TransferWhatsAppCampaign
		,[TransferCallBack]=[TransferCallBack]+@TransferCallBack
		where chatBotId=@chatBotId
	end
end
else if @action=2 begin	---Insert Conversation Abandoned
	insert into ccChatBotConversationsAbandoned values(@chatBotId,@conversationId,GETDATE())
end
else if @action=3 begin --Truncate Table 
	truncate table ccChatBotConversationsResult 
	truncate table ccChatBotConversationsAbandoned
end
else if @action=4 begin --GetChatBotConversationsResult
	select  * from ccChatBotConversationsResult where chatBotId=@chatBotId
end
else if @action=5 begin --GetChartAbandoned
	select CONVERT(varchar(5),dateadd(mi,-(DATEPART(MINUTE,Date) % 10),Date),108) [Hour]
	,COUNT(*) Amount
	from ccChatBotConversationsAbandoned where chatBotId=@chatBotId
	group by CONVERT(varchar(5),dateadd(mi,-(DATEPART(MINUTE,Date) % 10),Date),108)
end
else if @action=6 begin --Update Active Conversations
	UPDATE ccChatBotConversationsResult set activeConversations = @activeConversations where ChatBotId = @chatBotId 
end

set nocount off