USE [CCenterRIA]
GO
/****** Object:  StoredProcedure [dbo].[ccsp_GalateaChatBotAdmin]    Script Date: 13/09/2023 10:38:58 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[ccsp_GalateaChatBotAdmin]
@action int,@userId int=0,@chatBotId int=0,@camId int=0,@camType int=0,
@chatBotConversationId bigint=0, @WAConversationId int=0,
@IsPinned bit =null
AS
set nocount on

declare @camDescription varchar(255),@chatBotName varchar(255)
if @action in(4,5) begin
	select @chatBotName=ProjectName from AzureKnowledge where Id=@chatBotId
	if @camType=0 begin
		select @camDescription=descripcion from ccInbound where Inbound_id=@camId
	end
	else begin
		select @camDescription=cam_descripcion from ccCamps where cam_id=@camId
	end
end


if @action=1 begin --Relation los que estan dados de alto con algun numero 
	select A.id,A.ProjectName,B.ContactName from AzureKnowledge A 
	inner join ChatBotRelation B on A.id=B.AzureKnowledgeId 
end
else if @action=2 begin --Lista de campañas de entrada whats y Campaña de voz Normal
	;with WgRelationUser as(
	select Wgu.IDWG,WgC.IdCampEsp,WgC.Tipo from ccRIAWorkGroupUsers Wgu
	inner join ccRIACampEspWG WgC on WgC.IDWG =Wgu.IDWG
	where User_id=@userId 
	)
	select CAST( A.IdCampEsp as int) as CamId,descripcion as [Description],CAST( A.Tipo as int) as CampTypeInOut 
	from WgRelationUser A 
	inner join ccInbound B on A.IdCampEsp=B.Inbound_id and A.Tipo=0 and B.chat=5
	union
	select CAST(A.IdCampEsp as int) as CamId,cam_descripcion as [Description],CAST( A.Tipo as int) as CampTypeInOut
	from WgRelationUser A 
	inner join ccCamps B on A.IdCampEsp=B.cam_id and A.Tipo=1 and B.CampType=0
end
else if @action=3 begin --Relacion de Chatbot con alguna campaña entrada/salida
	;with WgRelationUser as(
	select Wgu.IDWG,WgC.IdCampEsp,WgC.Tipo from ccRIAWorkGroupUsers Wgu
	inner join ccRIACampEspWG WgC on WgC.IDWG =Wgu.IDWG
	where User_id=@userId
	)
	select cast(A.chatBotId as int) as chatBotId,cast(A.campId as int) as CamId,CAST(A.campType as int) as CampTypeInOut 
	from ChatBotCampaign A
	inner join WgRelationUser B on A.campId=B.IdCampEsp and A.campType=B.Tipo
	where (@chatBotId=0 or chatBotId=@chatBotId)
end
else if @action=4 begin --Add Campaing
	--set @chatBotId=@chatBotId/0
	if not exists(select * from ChatBotCampaign where chatBotId=@chatBotId and campId=@camId and campType=@camType) begin
		insert into ChatBotCampaign values(@chatBotId,@camId,@camType)
		
		exec ccsp_GalateaActivityLog @UserId=34,@Operations=78,@Identifiers='',@Values=@chatBotName,@Module=9,
		@Target=@camDescription
	end
end
else if @action=5 begin --delete Campaing
	--set @chatBotId=@chatBotId/0
	delete from ChatBotCampaign where chatBotId=@chatBotId and campId=@camId and campType=@camType
	exec ccsp_GalateaActivityLog @UserId=34,@Operations=79,@Identifiers='',@Values=@chatBotName,@Module=9,
	@Target=@camDescription
end
ELSE IF @action = 6 BEGIN --Add relation of Chatbot-WA conversations
	IF NOT EXISTS(SELECT * FROM ChatBotWhatsAppConversation WHERE ChatBotConversationId = @chatBotConversationId
	AND WhatsAppConversationId = @WAConversationId AND CampType = @camType) BEGIN
		INSERT INTO ChatBotWhatsAppConversation VALUES (@chatBotConversationId, @WAConversationId, @camType)
	END
END
ELSE IF @action = 7 BEGIN --Get chatbotConversationId value if it exists
	SELECT B.ChatBotConversationId, A.phoneACD AS ContactName, A.clientID AS ClientNumber FROM ccWhatsAppConversations A
	JOIN ChatBotWhatsAppConversation B ON B.WhatsAppConversationId = A.conversationId
	WHERE B.WhatsAppConversationId = @WAConversationId AND CampType = @camType;
END
ELSE IF @action = 8 BEGIN --GET AzureKnoledge bots
	select A.id as ChatBotId, A.ProjectName, ISNULL(A.IsPinned, 0) as IsPinned from AzureKnowledge A
END
ELSE IF @action = 9 BEGIN
	UPDATE AzureKnowledge set IsPinned = @IsPinned where id = @chatBotId
	select A.id as ChatBotId, A.ProjectName, ISNULL(A.IsPinned, 0) as IsPinned from AzureKnowledge A where A.id = @chatBotId
END
set nocount off