USE [CCenterRIA]
GO
/****** Object:  StoredProcedure [dbo].[ccsp_IVRUpdateCallSetStatus]    Script Date: 20/02/2024 04:46:48 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [dbo].[ccsp_IVRUpdateCallSetStatus]
@cal_id int,
@nStatus tinyint,
@userId int=0,
@generateCallback int=1
as
set nocount on

Update ccCallsIn SET cal_que=case @nStatus when 5 -- En Espera
then 1 else cal_que end, statusCall_id=case when statusCall_id<>13 then @nStatus else statusCall_id end
,User_id= case when @userId >0 and User_id=0  then @userId else User_id end
where cal_id=@cal_id

if @nStatus<>2 begin
	set @generateCallback=1
end

if @generateCallback=1 begin
	exec ccsp_RIAUpdateCallBack_Abandon @cal_id, @nStatus
end

return(0)
set nocount off