USE [CCenterRIA]
GO
/****** Object:  StoredProcedure [dbo].[ccsp_RIAUpdateCallBack_Abandon]    Script Date: 20/02/2024 11:48:13 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [dbo].[ccsp_KolobUpdateCallback_AbandonIVR]
   @idIvr int = 0, 
   @cam_id int=0   
    as
    set nocount on
    declare @ANI varchar(13), @callFechaDial datetime, @callout_id int
	if @cam_id is null or @cam_id=0 begin
		return
	end
        
	select @ANI= cal_ani from IVRCallsIn with(nolock) where IVR_id=@idIvr
	select top 1 @callout_id=callout_id from ccoWorkingTable WITH(nolock) WHERE cal_telefono=@ANI and cam_id=@cam_id

	if(@callout_id is not null) begin
		return
	end
		
		set @callFechaDial=dateadd(mi,1,GETDATE());

		exec @callout_id = ccsp_INInsertaCallBack @idIvr, @cam_id, @ANI, @callFechaDial, '','','','','', 1, 0, 1
		
		insert into ccRelationIvrWorkingTable values(@idIvr,@callout_id,@callFechaDial)
		

    set nocount off