USE [CCenterRIA]
GO
/****** Object:  StoredProcedure [dbo].[ccsp_IVRUpdateCallEndNew]    Script Date: 20/02/2024 03:52:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[ccsp_IVRUpdateCallEndNew]
	@cal_id INT,
	@cal_tIVRCallDuration INT,
	@statuscal_id TINYINT, 
	@cal_opciones VARCHAR(10),
	@cal_colgada TINYINT,
	@User_id SMALLINT,
	@cal_extension VARCHAR(7),
	@tWait SMALLINT,
	@cbPhone VARCHAR(20),
	@generateCallback int=1
	AS
	SET NOCOUNT ON

	if @statuscal_id <>2 begin
		set @generateCallback=1		
	end

	UPDATE ccCallsIn 
	SET statusCall_id = 
		CASE 
			WHEN @statuscal_id IN (2, 3, 4, 7, 8) THEN @statuscal_id 
			ELSE 
				CASE 
					WHEN statusCall_id = 5 THEN 6 
					ELSE statuscall_id 
				END 
		END, 
		user_id = 
		CASE 
			WHEN user_id = 0 AND @User_id > 0 THEN @User_id 
			ELSE user_id 
		END, 
	cal_extension = 
		CASE 
			WHEN LEN(cal_extension) = 0 AND LEN(@cal_extension) > 0 THEN @cal_extension 
			ELSE cal_extension 
		END, 
	cal_tWait = @tWait, 
	cal_final = getdate() 
	WHERE cal_id=@cal_id

	
	if @generateCallback=1 begin
		EXEC ccsp_RIAUpdateCallBack_Abandon @cal_id, @statuscal_id, @cbPhone
	end	
	EXEC ccsp_EngineLogTransfers 2, @cal_id, 2, 2, null, @tWait, @cal_tIVRCallDuration

	SET NOCOUNT OFF 
