USE [CCenterRIA]
GO
/****** Object:  StoredProcedure [dbo].[ccsp_GalateaCallbacks]    Script Date: 24/01/2024 03:53:37 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[ccsp_GalateaCallbacks]
@dateCallBack datetime,
@agentId int = 0
AS
-- Returns the total of callbacks by hour on especific day

declare @to datetime
set @dateCallBack=convert(date,@dateCallBack,121)
set @to=dateadd(dd,1,@dateCallBack)
;with CallBackHours as(
select  DATEPART(HOUR, cal_fcallback) 'Hour'
from ccoCallsOut with(nolock)
where cal_fcallback between @dateCallBack and @to
and User_id = @agentId
)
SELECT  CAST(Hour AS smallint) Hour, count(Hour) 'CallBacks' FROM CallBackHours
GROUP BY Hour
ORDER BY Hour
