USE [CCenterRIA]
GO
/****** Object:  StoredProcedure [dbo].[ccsp_WhatsAppConversationHistory]    Script Date: 01/11/2024 01:14:08 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[ccsp_WhatsAppConversationHistory]
 @Option smallint = null,
 @agentId smallint = null,
 @From datetime = null,
 @To datetime = null,
 @InboundIdsLst varchar(max) = null,
 @OutboundIdsLst varchar(max) = null,
 @ClientNumbersLst varchar(max) = null,   
 @MaxConversationHistory smallint = null,
 @ConversationIndex smallint = null,
 @ConversationId int = null,
 @ConversationIds  varchar(max) = null,
 @CamType bit = null,
 @CamId int = null,
 @ActualTime dateTime = null,
 @CamNumber varchar(max) = null,
 @ClientNumber varchar(max) = null,
 @AgentsIdsLst varchar(max) = null,
 @StatusLst varchar(max) = null

AS
BEGIN 
    DECLARE @MaxConversationHistoryTime INT = NULL;   
    DECLARE @MaxDaysPerWAConvo INT = NULL;            
    DECLARE @FinalMaxValue INT = NULL; 
	DECLARE @combinedCampsIn VARCHAR(MAX) = ''
	DECLARE @combinedCampsOut VARCHAR(MAX) = ''
	DECLARE @combinedInboundNames VARCHAR(MAX) = ''
	DECLARE @combinedOutboundNames VARCHAR(MAX) = ''

IF @Option = 0 -- Obtiene filtros para agente 
BEGIN   
    SELECT 
        @combinedCampsIn = ISNULL(STUFF((
            SELECT ',' + CAST(i.inbound_id AS VARCHAR)
            FROM ccInboundAgentes ia
            INNER JOIN ccInbound i ON ia.inbound_id = i.inbound_id
            WHERE ia.user_id = @agentId AND i.chat = 5
            FOR XML PATH(''), TYPE).value('.', 'NVARCHAR(MAX)'), 1, 1, ''), ''),
        
        @combinedInboundNames = ISNULL(STUFF((
            SELECT ',' + i.descripcion
            FROM ccInboundAgentes ia
            INNER JOIN ccInbound i ON ia.inbound_id = i.inbound_id
            WHERE ia.user_id = @agentId AND i.chat = 5
            FOR XML PATH(''), TYPE).value('.', 'NVARCHAR(MAX)'), 1, 1, ''), '');

    SELECT 
        @combinedCampsOut = ISNULL(STUFF((
            SELECT ',' + CAST(c.cam_id AS VARCHAR)
            FROM ccCampsAgente ca
            INNER JOIN ccCamps c ON ca.cam_id = c.cam_id
            WHERE ca.user_id = @agentId AND c.CampType = 5
            FOR XML PATH(''), TYPE).value('.', 'NVARCHAR(MAX)'), 1, 1, ''), ''),
        
        @combinedOutboundNames = ISNULL(STUFF((
            SELECT ',' + c.cam_descripcion
            FROM ccCampsAgente ca
            INNER JOIN ccCamps c ON ca.cam_id = c.cam_id
            WHERE ca.user_id = @agentId AND c.CampType = 5
            FOR XML PATH(''), TYPE).value('.', 'NVARCHAR(MAX)'), 1, 1, ''), '');

    IF @combinedCampsIn IS NOT NULL AND @combinedCampsIn <> ''
    BEGIN
        IF OBJECT_ID('tempdb..#TmpInboundIds') IS NOT NULL DROP TABLE #TmpInboundIds;
        CREATE TABLE #TmpInboundIds (Id INT);
        INSERT INTO #TmpInboundIds (Id)
        SELECT CAST(value AS INT) 
        FROM dbo.fn_RIASplitDelimited(@combinedCampsIn, ',');
        SELECT @MaxConversationHistoryTime = MAX(i.ConversationHistoryTime)
        FROM ccInbound i
        INNER JOIN #TmpInboundIds tmp ON tmp.Id = i.inbound_id;
        IF OBJECT_ID('tempdb..#TmpInboundIds') IS NOT NULL DROP TABLE #TmpInboundIds;
    END

    IF @combinedCampsOut IS NOT NULL AND @combinedCampsOut <> ''
    BEGIN
        IF OBJECT_ID('tempdb..#TmpOutboundIds') IS NOT NULL DROP TABLE #TmpOutboundIds;
        CREATE TABLE #TmpOutboundIds (Id INT);
        INSERT INTO #TmpOutboundIds (Id)
        SELECT CAST(value AS INT) 
        FROM dbo.fn_RIASplitDelimited(@combinedCampsOut, ',');
        SELECT @MaxDaysPerWAConvo = MAX(cmo.MaxDaysPerWAConvo)
        FROM contactMeanOut cmo 
        INNER JOIN #TmpOutboundIds tmp ON tmp.Id = cmo.camp_id;
        IF OBJECT_ID('tempdb..#TmpOutboundIds') IS NOT NULL DROP TABLE #TmpOutboundIds;
    END

    SET @FinalMaxValue = 
        CASE 
            WHEN @MaxConversationHistoryTime IS NULL THEN ISNULL(@MaxDaysPerWAConvo, 0)
            WHEN @MaxDaysPerWAConvo IS NULL THEN ISNULL(@MaxConversationHistoryTime, 0)
            ELSE CASE 
                WHEN @MaxConversationHistoryTime > @MaxDaysPerWAConvo THEN @MaxConversationHistoryTime
                ELSE @MaxDaysPerWAConvo
            END
        END;

    SELECT 
        ISNULL(@combinedCampsIn, '') AS InboundIdsLst, 
        ISNULL(@combinedInboundNames, '') AS InboundNamesLst, 
        ISNULL(@combinedCampsOut, '') AS OutboundIdsLst, 
        ISNULL(@combinedOutboundNames, '') AS OutboundNamesLst, 
        ISNULL(CAST(@FinalMaxValue AS SMALLINT), 0) AS MaxConversationHistory;
	END 
END

IF @Option = 1 -- Obtiene filtros de campañas para admin
BEGIN
	DECLARE @campsIn VARCHAR(MAX) = ''
	DECLARE @InboundNames VARCHAR(MAX) = ''
	DECLARE @OutboundNames VARCHAR(MAX) = ''
	DECLARE @campsOut VARCHAR(MAX) = ''

	DECLARE @ClientIds VARCHAR(MAX) = ''
	DECLARE @count INT
	DECLARE @id INT
	DECLARE @wg INT

	IF OBJECT_ID('tempdb..#AgentsRelations') IS NOT NULL 
		DROP TABLE #AgentsRelations;

	SELECT ROW_NUMBER() OVER(ORDER BY idWG ASC) AS Row,
			IDWG, @campsIn AS campsIn, @campsOut AS campsOut, 
			@InboundNames AS InboundNames, @OutboundNames AS OutboundNames
	INTO #AgentsRelations
	FROM ccRIAAreaWorkGroup wg
	WHERE EXISTS (
		SELECT 1 
		FROM ccRIAWorkGroupUsers wgu 
		WHERE wgu.IDWG = wg.IDWG 
			AND wgu.user_id = @agentId
	);

	SELECT @count = COUNT(idWG) FROM #AgentsRelations;
	SET @id = 1;

	WHILE @id <= @count
	BEGIN
		SELECT @wg = idwg FROM #AgentsRelations WHERE Row = @id;

		SET @campsIn = '';
		SET @campsOut = '';
		SET @InboundNames = '';
		SET @OutboundNames = '';

		SELECT @campsIn = ISNULL(@campsIn + CASE WHEN @campsIn = '' THEN '' ELSE ',' END + CONVERT(VARCHAR(12), inbound_id), @campsIn)
		FROM ccInbound i 
		INNER JOIN ccRIACampEspWG wg ON wg.IdCampEsp = i.Inbound_id
		WHERE wg.IDWG = @wg AND wg.Tipo = 0 and i.chat = 5
		ORDER BY inbound_id;

		SELECT @campsOut = ISNULL(@campsOut + CASE WHEN @campsOut = '' THEN '' ELSE ',' END + CONVERT(VARCHAR(12), cam_id), @campsOut)
		FROM ccCamps c 
		INNER JOIN ccRIACampEspWG wg ON wg.IdCampEsp = c.cam_id
		WHERE wg.IDWG = @wg AND wg.Tipo = 1 and c.CampType = 5
		ORDER BY cam_id;

		SELECT @InboundNames = ISNULL(@InboundNames + CASE WHEN @InboundNames = '' THEN '' ELSE ',' END + i.descripcion, @InboundNames)
		FROM ccInbound i
		WHERE i.Inbound_id IN (
			SELECT inbound_id FROM ccInbound 
			INNER JOIN ccRIACampEspWG wg ON wg.IdCampEsp = i.Inbound_id
			WHERE wg.IDWG = @wg AND wg.Tipo = 0 and i.chat = 5
		)
		ORDER BY i.Inbound_id;

		SELECT @OutboundNames = ISNULL(@OutboundNames + CASE WHEN @OutboundNames = '' THEN '' ELSE ',' END + c.cam_descripcion, @OutboundNames)
		FROM ccCamps c
		WHERE c.cam_id IN (
			SELECT cam_id FROM ccCamps 
			INNER JOIN ccRIACampEspWG wg ON wg.IdCampEsp = c.cam_id
			WHERE wg.IDWG = @wg AND wg.Tipo = 1 and c.CampType = 5
		)
		ORDER BY c.cam_id;

		IF @campsIn IS NOT NULL AND @campsIn <> ''
			SET @combinedCampsIn = ISNULL(@combinedCampsIn + CASE WHEN @combinedCampsIn = '' THEN '' ELSE ',' END + @campsIn, @combinedCampsIn);

		IF @campsOut IS NOT NULL AND @campsOut <> ''
			SET @combinedCampsOut = ISNULL(@combinedCampsOut + CASE WHEN @combinedCampsOut = '' THEN '' ELSE ',' END + @campsOut, @combinedCampsOut);

		IF @InboundNames IS NOT NULL AND @InboundNames <> ''
			SET @combinedInboundNames = ISNULL(@combinedInboundNames + CASE WHEN @combinedInboundNames = '' THEN '' ELSE ',' END + @InboundNames, @combinedInboundNames);

		IF @OutboundNames IS NOT NULL AND @OutboundNames <> ''
			SET @combinedOutboundNames = ISNULL(@combinedOutboundNames + CASE WHEN @combinedOutboundNames = '' THEN '' ELSE ',' END + @OutboundNames, @combinedOutboundNames);

		SET @id = @id + 1;
	END

	IF @combinedCampsIn IS NOT NULL AND @combinedCampsIn <> ''
	BEGIN
		IF OBJECT_ID('tempdb..#TmpInboundIds2') IS NOT NULL DROP TABLE #TmpInboundIds2;

		CREATE TABLE #TmpInboundIds2 (Id INT);
		INSERT INTO #TmpInboundIds2 (Id)
		SELECT CAST(value AS INT) 
		FROM fn_RIASplitDelimited(@combinedCampsIn, ',');

		SELECT @MaxConversationHistoryTime = MAX(i.ConversationHistoryTime)
		FROM ccInbound i
		INNER JOIN #TmpInboundIds2 tmp ON tmp.Id = i.Inbound_id;

		IF OBJECT_ID('tempdb..#TmpInboundIds2') IS NOT NULL DROP TABLE #TmpInboundIds2;
	END

	IF @combinedCampsOut IS NOT NULL AND @combinedCampsOut <> ''
	BEGIN
		IF OBJECT_ID('tempdb..#TmpOutboundIds2') IS NOT NULL DROP TABLE #TmpOutboundIds2;

		CREATE TABLE #TmpOutboundIds2 (Id INT);
		INSERT INTO #TmpOutboundIds2 (Id)
		SELECT CAST(value AS INT) 
		FROM fn_RIASplitDelimited(@combinedCampsOut, ',');

		SELECT @MaxDaysPerWAConvo = MAX(cmo.MaxDaysPerWAConvo)
		FROM contactMeanOut cmo 
		INNER JOIN #TmpOutboundIds2 tmp ON tmp.Id = cmo.camp_id;

		IF OBJECT_ID('tempdb..#TmpOutboundIds2') IS NOT NULL DROP TABLE #TmpOutboundIds2;
	END

	SET @FinalMaxValue = CASE 
		WHEN @MaxConversationHistoryTime IS NULL THEN @MaxDaysPerWAConvo
		WHEN @MaxDaysPerWAConvo IS NULL THEN @MaxConversationHistoryTime
		ELSE CASE 
			WHEN @MaxConversationHistoryTime > @MaxDaysPerWAConvo THEN @MaxConversationHistoryTime
			ELSE @MaxDaysPerWAConvo
		END
	END;

	SELECT 
		@combinedCampsIn AS InboundIdsLst, 
		@combinedInboundNames AS InboundNamesLst, 
		@combinedCampsOut AS OutboundIdsLst, 
		@combinedOutboundNames AS OutboundNamesLst, 
		ISNULL(CAST(@FinalMaxValue AS SMALLINT), 0) AS MaxConversationHistory;

	IF OBJECT_ID('tempdb..#AgentsRelations') IS NOT NULL 
		DROP TABLE #AgentsRelations;
	END

IF @Option = 2 -- Obtiene agentes tomando en cuenta filtros de Inbound, Outbound, o Client Numbers
BEGIN
    DECLARE @AgentIds VARCHAR(MAX) = '';
    DECLARE @AgentLogins VARCHAR(MAX) = '';
    DECLARE @AgentNames VARCHAR(MAX) = '';
    DECLARE @AgentStatusList VARCHAR(MAX) = '';

    IF OBJECT_ID('tempdb..#TmpCampAgentWg') IS NOT NULL DROP TABLE #TmpCampAgentWg;
    CREATE TABLE #TmpCampAgentWg (Id INT);

    IF @InboundIdsLst IS NOT NULL AND @InboundIdsLst <> ''
    BEGIN
        INSERT INTO #TmpCampAgentWg (Id)
        SELECT CAST(value AS INT)
        FROM fn_RIASplitDelimited(@InboundIdsLst, ',');
    END

    IF @OutboundIdsLst IS NOT NULL AND @OutboundIdsLst <> ''
    BEGIN
        INSERT INTO #TmpCampAgentWg (Id)
        SELECT CAST(value AS INT)
        FROM fn_RIASplitDelimited(@OutboundIdsLst, ',');
    END

    IF @ClientNumbersLst IS NOT NULL AND @ClientNumbersLst <> ''
    BEGIN
        INSERT INTO #TmpCampAgentWg (Id)
        SELECT DISTINCT inboundId
        FROM ccWhatsAppConversations
        WHERE clientId IN (SELECT CAST(value AS BIGINT) FROM fn_RIASplitDelimited(@ClientNumbersLst, ','));

        INSERT INTO #TmpCampAgentWg (Id)
        SELECT DISTINCT camId
        FROM ccWhatsAppConversationsOut
        WHERE clientId IN (SELECT CAST(value AS BIGINT) FROM fn_RIASplitDelimited(@ClientNumbersLst, ','));
    END

    ;WITH LatestStatus AS (
        SELECT 
            lad.User_id, 
            lad.currentStatus, 
            lad.fecha,
            ROW_NUMBER() OVER (PARTITION BY lad.User_id ORDER BY lad.fecha DESC) AS RowNum
        FROM ccLogAgentesDia lad
    )
    SELECT 
        @AgentIds = ISNULL(@AgentIds + CASE WHEN @AgentIds = '' THEN '' ELSE ',' END + CAST(u.User_id AS VARCHAR), ''),
        @AgentLogins = ISNULL(@AgentLogins + CASE WHEN @AgentLogins = '' THEN '' ELSE ',' END + u.Login, ''),
        @AgentNames = ISNULL(@AgentNames + CASE WHEN @AgentNames = '' THEN '' ELSE ',' END + u.Nombres + ' ' + u.ApellidoPaterno + ' ' + ISNULL(u.ApellidoMaterno, ''), ''),
        @AgentStatusList = ISNULL(@AgentStatusList + CASE WHEN @AgentStatusList = '' THEN '' ELSE ',' END + ISNULL(ts.descripcion, 'Unknown'), '')
    FROM ccUsers u
    INNER JOIN ccRIAWorkGroupUsers wgu ON u.User_id = wgu.User_id
    INNER JOIN ccRIACampEspWG wg ON wg.IDWG = wgu.IDWG
    LEFT JOIN LatestStatus ls ON u.User_id = ls.User_id AND ls.RowNum = 1
    LEFT JOIN ccTipoStatusAgente ts ON ls.currentStatus = ts.TipoStatusAge_id
    WHERE wg.IdCampEsp IN (SELECT Id FROM #TmpCampAgentWg)
      AND u.TipoUser_id = 1 
    GROUP BY u.User_id, u.Login, u.Nombres, u.ApellidoPaterno, u.ApellidoMaterno, ts.descripcion;

    SELECT @AgentIds AS AgentIdsList, @AgentLogins AS AgentLoginsList, @AgentNames AS AgentNamesList, @AgentStatusList AS AgentStatusList;

    IF OBJECT_ID('tempdb..#TmpCampAgentWg') IS NOT NULL DROP TABLE #TmpCampAgentWg;
END


DECLARE @PageSize INT = 10;
DECLARE @TotalConversations INT = 0;
DECLARE @Offset INT;

IF @Option = 3 -- Obtiene paginado de conversaciones de acuerdo a filtros seleccionados para agente 
BEGIN
    DECLARE @ClientNumberTable TABLE (ClientNumber BIGINT);
    DECLARE @InboundIdTable TABLE (InboundId INT);
    DECLARE @OutboundIdTable TABLE (OutboundId INT);

    IF @ClientNumbersLst IS NOT NULL AND @ClientNumbersLst <> ''
    BEGIN
        INSERT INTO @ClientNumberTable (ClientNumber)
        SELECT CAST(value AS BIGINT)
        FROM fn_RIASplitDelimited(@ClientNumbersLst, ',');
    END

    IF @InboundIdsLst IS NOT NULL AND @InboundIdsLst <> ''
    BEGIN
        INSERT INTO @InboundIdTable (InboundId)
        SELECT CAST(value AS INT)
        FROM fn_RIASplitDelimited(@InboundIdsLst, ',');
    END

    IF @OutboundIdsLst IS NOT NULL AND @OutboundIdsLst <> ''
    BEGIN
        INSERT INTO @OutboundIdTable (OutboundId)
        SELECT CAST(value AS INT)
        FROM fn_RIASplitDelimited(@OutboundIdsLst, ',');
    END

    SELECT 
        @TotalConversations = COUNT(DISTINCT ConversationId)
    FROM (
        SELECT ConversationId 
        FROM ccWhatsAppConversations 
        WHERE AgentId = @agentId 
		AND conversationDate IS NOT NULL
        AND requestDate BETWEEN @From AND @To
        AND (@ClientNumbersLst IS NULL OR @ClientNumbersLst = '' OR clientId IN (SELECT ClientNumber FROM @ClientNumberTable))
        AND (@InboundIdsLst IS NULL OR @InboundIdsLst = '' OR InboundId IN (SELECT InboundId FROM @InboundIdTable))  
		AND conversationStatus IN (4, 7, 10, 11, 12, 13, 14, 16, 17, 18, 19)

        UNION ALL

        SELECT ConversationId 
        FROM ccWhatsAppConversationsOut
        WHERE AgentId = @agentId 
		AND conversationDate IS NOT NULL   
        AND requestDate BETWEEN @From AND @To
        AND (@ClientNumbersLst IS NULL OR @ClientNumbersLst = '' OR clientId IN (SELECT ClientNumber FROM @ClientNumberTable))
        AND (@OutboundIdsLst IS NULL OR @OutboundIdsLst = '' OR camId IN (SELECT OutboundId FROM @OutboundIdTable))
		AND conversationStatus IN (4, 7, 10, 11, 12, 13, 14, 16, 17, 18, 19)
    ) AS AllConversations;

    SET @Offset = ISNULL(@ConversationIndex, 1) - 1; 

    IF @ConversationIndex >= @TotalConversations
    BEGIN
        SET @Offset = @TotalConversations - @PageSize; 
        IF @Offset < 0 SET @Offset = 0; 
    END

    ;WITH LatestInboundMessages AS (
        SELECT 
            c.ConversationId,
            c.InboundId AS CampaignId,
			c.phoneACD as CamNumber,
            g.graphic_id AS GraphicId,
            c.clientId AS ClientNumber,
            m.content AS MessageContent,
            m.TimeStampMessage AS LastMessageTimestamp,
            'Inbound' AS CampType,
            ROW_NUMBER() OVER (PARTITION BY c.ConversationId ORDER BY m.TimeStampMessage DESC) AS rn
        FROM ccWhatsAppConversations c
        LEFT JOIN ccRIAInboundGraph g ON g.inbound_id = c.InboundId
        LEFT JOIN ccWAMessagesConversations m ON m.conversationId = c.ConversationId
        WHERE c.AgentId = @agentId 
			AND c.conversationDate IS NOT NULL
            AND c.requestDate BETWEEN @From AND @To
            AND (@ClientNumbersLst IS NULL OR @ClientNumbersLst = '' OR c.clientId IN (SELECT ClientNumber FROM @ClientNumberTable))
            AND (@InboundIdsLst IS NULL OR @InboundIdsLst = '' OR c.InboundId IN (SELECT InboundId FROM @InboundIdTable))
			AND c.conversationStatus IN (4, 7, 10, 11, 12, 13, 14, 16, 17, 18, 19)
    ),
    
    LatestOutboundMessages AS (
        SELECT 
            c.ConversationId,
            c.camId AS CampaignId,
			c.phoneCamp AS CamNumber,
            g.graphic_id AS GraphicId,
            c.clientId AS ClientNumber,
            m.content AS MessageContent,
            m.TimeStampMessage AS LastMessageTimestamp,
            'Outbound' AS CampType,
            ROW_NUMBER() OVER (PARTITION BY c.ConversationId ORDER BY m.TimeStampMessage DESC) AS rn
        FROM ccWhatsAppConversationsOut c
        LEFT JOIN ccRIACampsGraph g ON g.cam_id = c.camId
        LEFT JOIN ccWAMessagesConversationsOut m ON m.conversationId = c.ConversationId
        WHERE c.AgentId = @agentId 
			AND c.conversationDate IS NOT NULL
            AND c.requestDate BETWEEN @From AND @To
            AND (@ClientNumbersLst IS NULL OR @ClientNumbersLst = '' OR c.clientId IN (SELECT ClientNumber FROM @ClientNumberTable))
            AND (@OutboundIdsLst IS NULL OR @OutboundIdsLst = '' OR c.camId IN (SELECT OutboundId FROM @OutboundIdTable))
			AND c.conversationStatus IN (4, 7, 10, 11, 12, 13, 14, 16, 17, 18, 19)
    ),

    CombinedMessages AS (
        SELECT 
            ConversationId,
            CampaignId,
			CamNumber,
            GraphicId,
            ClientNumber,
            MessageContent,
            LastMessageTimestamp,
            CampType
        FROM LatestInboundMessages
        WHERE rn = 1
        
        UNION ALL
        
        SELECT 
            ConversationId,
            CampaignId,
			CamNumber,
            GraphicId,
            ClientNumber,
            MessageContent,
            LastMessageTimestamp,
            CampType
        FROM LatestOutboundMessages
        WHERE rn = 1
    )

    SELECT conversationId as ConversationId,
           CampaignId as CamId,
		   CamNumber as CamNumber,
           CAST(GraphicId AS SMALLINT) AS Frame,
           ClientNumber as ClientNumber,
           MessageContent as MessageContent,
           CampType AS CamType,
           LastMessageTimestamp as LastMessageDateTime,
           @TotalConversations AS ConversationsCount
		   FROM CombinedMessages
		   where MessageContent is not null  
		   ORDER BY LastMessageTimestamp DESC
		   OFFSET @Offset ROWS FETCH NEXT @PageSize ROWS ONLY; 
END;

IF @Option = 4 -- Obtiene paginado de conversaciones de acuerdo a filtros seleccionados para administrador
BEGIN
    -- Drop and recreate temporary tables
    IF OBJECT_ID('tempdb..#ClientNumberTable') IS NOT NULL DROP TABLE #ClientNumberTable;
    CREATE TABLE #ClientNumberTable (ClientNumber BIGINT);

    IF OBJECT_ID('tempdb..#InboundIdTable') IS NOT NULL DROP TABLE #InboundIdTable;
    CREATE TABLE #InboundIdTable (InboundId INT);

    IF OBJECT_ID('tempdb..#OutboundIdTable') IS NOT NULL DROP TABLE #OutboundIdTable;
    CREATE TABLE #OutboundIdTable (OutboundId INT);

    IF OBJECT_ID('tempdb..#AgentIdTable') IS NOT NULL DROP TABLE #AgentIdTable;
    CREATE TABLE #AgentIdTable (AgentId INT);

    IF OBJECT_ID('tempdb..#StatusTable') IS NOT NULL DROP TABLE #StatusTable;
    CREATE TABLE #StatusTable (StatusCategory VARCHAR(50));

    IF OBJECT_ID('tempdb..#StatusIdTable') IS NOT NULL DROP TABLE #StatusIdTable;
    CREATE TABLE #StatusIdTable (StatusId INT);

    DECLARE @IncludeQueued BIT = 0;

    -- Populate temporary tables based on input parameters
    IF ISNULL(@ClientNumbersLst, '') <> ''
    BEGIN
        INSERT INTO #ClientNumberTable (ClientNumber)
        SELECT CAST(value AS BIGINT)
        FROM fn_RIASplitDelimited(@ClientNumbersLst, ',');
    END

    IF ISNULL(@InboundIdsLst, '') <> ''
    BEGIN
        INSERT INTO #InboundIdTable (InboundId)
        SELECT CAST(value AS INT)
        FROM fn_RIASplitDelimited(@InboundIdsLst, ',');
    END

    IF ISNULL(@OutboundIdsLst, '') <> ''
    BEGIN
        INSERT INTO #OutboundIdTable (OutboundId)
        SELECT CAST(value AS INT)
        FROM fn_RIASplitDelimited(@OutboundIdsLst, ',');
    END

    IF ISNULL(@AgentsIdsLst, '') <> ''
    BEGIN
        INSERT INTO #AgentIdTable (AgentId)
        SELECT CAST(value AS INT)
        FROM fn_RIASplitDelimited(@AgentsIdsLst, ',');
    END

    IF ISNULL(@StatusLst, '') <> ''
    BEGIN
        INSERT INTO #StatusTable (StatusCategory)
        SELECT LTRIM(RTRIM(value))
        FROM fn_RIASplitDelimited(@StatusLst, ',');
    END

    -- Map status categories to internal Status IDs
    INSERT INTO #StatusIdTable (StatusId)
    SELECT StatusId
    FROM (
        SELECT CASE 
            WHEN StatusCategory = 'active' THEN messageStatusId
            WHEN StatusCategory = 'pre-assigned' THEN 21
            WHEN StatusCategory = 'finished' THEN messageStatusId
            ELSE NULL
        END AS StatusId
        FROM messageStatus
        INNER JOIN #StatusTable ON
            (StatusCategory = 'active' AND messageStatusId IN (1, 2, 3, 5, 7, 8, 9))
            OR (StatusCategory = 'pre-assigned' AND messageStatusId = 21)
            OR (StatusCategory = 'finished' AND messageStatusId IN (4, 7, 10, 11, 12, 13, 14, 16, 17, 18, 19))
    ) AS MappedStatus
    WHERE StatusId IS NOT NULL;

    IF EXISTS (SELECT 1 FROM #StatusTable WHERE StatusCategory = 'queued')
    BEGIN
        SET @IncludeQueued = 1;
    END

    -- Calculate total conversations based on filters for Inbound, Outbound, or Client-only cases

    -- Case 1: Inbound Conversations
    IF @InboundIdsLst IS NOT NULL 
    BEGIN
        SELECT  
            @TotalConversations = COUNT(DISTINCT c.ConversationId)
        FROM ccWhatsAppConversations c
        INNER JOIN ccWAMessagesConversations m ON m.conversationId = c.ConversationId
        WHERE c.InboundId IN (SELECT InboundId FROM #InboundIdTable)
            AND (ISNULL(@ClientNumbersLst, '') = '' OR c.clientId IN (SELECT ClientNumber FROM #ClientNumberTable))
            AND (ISNULL(@AgentsIdsLst, '') = '' OR c.AgentId IN (SELECT AgentId FROM #AgentIdTable))
            AND ((ISNULL(@StatusLst, '') = '' OR c.conversationStatus IN (SELECT StatusId FROM #StatusIdTable)) 
            OR (@IncludeQueued = 1 AND c.onQueue = 1))
    END

    -- Case 2: Outbound Conversations
    ELSE IF @OutboundIdsLst IS NOT NULL
    BEGIN
        SELECT  
            @TotalConversations = COUNT(DISTINCT c.ConversationId)
        FROM ccWhatsAppConversationsOut c
        INNER JOIN ccWAMessagesConversationsOut m ON m.conversationId = c.ConversationId
        WHERE c.camId IN (SELECT OutboundId FROM #OutboundIdTable)
            AND (ISNULL(@ClientNumbersLst, '') = '' OR c.clientId IN (SELECT ClientNumber FROM #ClientNumberTable))
            AND (ISNULL(@AgentsIdsLst, '') = '' OR c.AgentId IN (SELECT AgentId FROM #AgentIdTable))
            AND ((ISNULL(@StatusLst, '') = '' OR c.conversationStatus IN (SELECT StatusId FROM #StatusIdTable)) 
            OR (@IncludeQueued = 1 AND c.onQueue = 1))
    END

    -- Case 3: ClientNumbers only (when both Inbound and Outbound IDs are NULL)
    ELSE IF @ClientNumbersLst IS NOT NULL AND @TotalConversations = 0
    BEGIN
        DECLARE @InboundConversations INT = 0;
        DECLARE @OutboundConversations INT = 0;

        -- Count inbound conversations
        SELECT  
            @InboundConversations = COUNT(DISTINCT whatsIn.ConversationId)
        FROM ccWhatsAppConversations whatsIn
        INNER JOIN ccWAMessagesConversations m ON m.conversationId = whatsIn.ConversationId
        WHERE whatsIn.clientId IN (SELECT ClientNumber FROM #ClientNumberTable)
            AND (ISNULL(@AgentsIdsLst, '') = '' OR whatsIn.AgentId IN (SELECT AgentId FROM #AgentIdTable))
            AND ((ISNULL(@StatusLst, '') = '' OR whatsIn.conversationStatus IN (SELECT StatusId FROM #StatusIdTable)) 
            OR (@IncludeQueued = 1 AND whatsIn.onQueue = 1));

        -- Count outbound conversations
        SELECT  
            @OutboundConversations = COUNT(DISTINCT whatOut.ConversationId)
        FROM ccWhatsAppConversationsOut whatOut
        INNER JOIN ccWAMessagesConversationsOut m ON m.conversationId = whatOut.ConversationId
        WHERE whatOut.clientId IN (SELECT ClientNumber FROM #ClientNumberTable)
            AND (ISNULL(@AgentsIdsLst, '') = '' OR whatOut.AgentId IN (SELECT AgentId FROM #AgentIdTable))
            AND ((ISNULL(@StatusLst, '') = '' OR whatOut.conversationStatus IN (SELECT StatusId FROM #StatusIdTable)) 
            OR (@IncludeQueued = 1 AND whatOut.onQueue = 1));

        -- Sum the inbound and outbound counts
        SET @TotalConversations = @InboundConversations + @OutboundConversations;
    END
    -- Paginate results based on @ConversationIndex
    SET @Offset = ISNULL(@ConversationIndex, 1) - 1;

    IF @ConversationIndex >= @TotalConversations
    BEGIN
        SET @Offset = @TotalConversations - @PageSize;
        IF @Offset < 0 SET @Offset = 0;
    END

	-- Collect unique conversation IDs from Inbound and Outbound messages
    ;WITH ExistingConversations AS (
        SELECT ConversationId FROM ccWhatsAppConversations WHERE InboundId IN (SELECT InboundId FROM #InboundIdTable)
        UNION
        SELECT ConversationId FROM ccWhatsAppConversationsOut WHERE camId IN (SELECT OutboundId FROM #OutboundIdTable)
    ),
	-- Retrieve paginated conversations for Inbound, Outbound, or Client-only case

	LatestInboundMessages AS (
        SELECT 
            c.ConversationId,
            c.InboundId AS CampaignId,
            COALESCE(g.graphic_id, 0) AS GraphicId,
            COALESCE(c.clientId, '') AS ClientNumber,
            COALESCE(m.content, '') AS MessageContent,
			COALESCE(m.typeMessage, '') AS MessageType,
            COALESCE(CONVERT(VARCHAR, m.TimeStampMessage, 120), '') AS LastMessageTimestamp,
            COALESCE(u.Login, '') AS AgentLogin,
            CASE 
                WHEN c.onQueue = 1 THEN 'queued'
                WHEN c.conversationStatus IN (1, 2, 3, 5, 7, 8, 9) THEN 'active'
                WHEN c.conversationStatus = 21 THEN 'pre-assigned'
                ELSE 'finished'
            END AS ConversationStatus,
            'Inbound' AS CampType,
            ROW_NUMBER() OVER (PARTITION BY c.ConversationId ORDER BY m.TimeStampMessage DESC) AS rn
        FROM ccWhatsAppConversations c
        INNER JOIN ccWAMessagesConversations m ON m.conversationId = c.ConversationId
        LEFT JOIN ccRIAInboundGraph g ON g.inbound_id = c.InboundId
        LEFT JOIN ccUsers u ON u.User_id = c.AgentId
        WHERE 
            c.InboundId IN (SELECT InboundId FROM #InboundIdTable)
            AND (ISNULL(@ClientNumbersLst, '') = '' OR c.clientId IN (SELECT ClientNumber FROM #ClientNumberTable))
            AND (ISNULL(@AgentsIdsLst, '') = '' OR c.AgentId IN (SELECT AgentId FROM #AgentIdTable))
            AND ((ISNULL(@StatusLst, '') = '' OR c.conversationStatus IN (SELECT StatusId FROM #StatusIdTable)) 
            OR (@IncludeQueued = 1 AND c.onQueue = 1))
    ),
    
	LatestOutboundMessages AS (
		SELECT 
			c.ConversationId,
			c.camId AS CampaignId,
			COALESCE(g.graphic_id, 0) AS GraphicId,
			COALESCE(c.clientId, '') AS ClientNumber,
			COALESCE(m.content, '') AS MessageContent,
			COALESCE(m.typeMessage, '') AS MessageType,
			COALESCE(CONVERT(VARCHAR, m.TimeStampMessage, 120), '') AS LastMessageTimestamp,
			COALESCE(u.Login, '') AS AgentLogin,
			CASE 
				WHEN c.onQueue = 1 THEN 'queued'
				WHEN c.conversationStatus IN (1, 2, 3, 5, 7, 8, 9) THEN 'active'
				WHEN c.conversationStatus = 21 THEN 'pre-assigned'
				ELSE 'finished'
			END AS ConversationStatus,
			'Outbound' AS CampType,
			ROW_NUMBER() OVER (PARTITION BY c.ConversationId ORDER BY m.TimeStampMessage DESC) AS rn
		FROM ccWhatsAppConversationsOut c
		INNER JOIN ccWAMessagesConversationsOut m ON m.conversationId = c.ConversationId
		LEFT JOIN ccRIACampsGraph g ON g.cam_id = c.camId
		LEFT JOIN ccUsers u ON u.User_id = c.AgentId
		WHERE 
			c.camId IN (SELECT OutboundId FROM #OutboundIdTable)
			AND (ISNULL(@ClientNumbersLst, '') = '' OR c.clientId IN (SELECT ClientNumber FROM #ClientNumberTable))
			AND (ISNULL(@AgentsIdsLst, '') = '' OR c.AgentId IN (SELECT AgentId FROM #AgentIdTable))
			AND ((ISNULL(@StatusLst, '') = '' OR c.conversationStatus IN (SELECT StatusId FROM #StatusIdTable)) 
			OR (@IncludeQueued = 1 AND c.onQueue = 1))
	),
    
	ClientOnlyMessages AS (
        -- Exclude conversations that already exist in ExistingConversations
        SELECT 
            whatsIn.ConversationId,
            whatsIn.InboundId AS CampaignId,
            COALESCE(g.graphic_id, 0) AS GraphicId,
            COALESCE(whatsIn.clientId, '') AS ClientNumber,
            COALESCE(m.content, '') AS MessageContent,
			COALESCE(m.typeMessage, '') AS MessageType,
            COALESCE(CONVERT(VARCHAR, m.TimeStampMessage, 120), '') AS LastMessageTimestamp,
            COALESCE(u.Login, '') AS AgentLogin,
            CASE 
                WHEN whatsIn.onQueue = 1 THEN 'queued'
                WHEN whatsIn.conversationStatus IN (1, 2, 3, 5, 7, 8, 9) THEN 'active'
                WHEN whatsIn.conversationStatus = 21 THEN 'pre-assigned'
                ELSE 'finished'
            END AS ConversationStatus,
            'Inbound' AS CampType,
            ROW_NUMBER() OVER (PARTITION BY whatsIn.ConversationId ORDER BY m.TimeStampMessage DESC) AS rn
        FROM ccWhatsAppConversations whatsIn
        INNER JOIN ccWAMessagesConversations m ON m.conversationId = whatsIn.ConversationId
        LEFT JOIN ccRIAInboundGraph g ON g.inbound_id = whatsIn.InboundId
        LEFT JOIN ccUsers u ON u.User_id = whatsIn.AgentId
        WHERE 
            whatsIn.clientId IN (SELECT ClientNumber FROM #ClientNumberTable)
            AND (ISNULL(@AgentsIdsLst, '') = '' OR whatsIn.AgentId IN (SELECT AgentId FROM #AgentIdTable))
            AND ((ISNULL(@StatusLst, '') = '' OR whatsIn.conversationStatus IN (SELECT StatusId FROM #StatusIdTable)) 
            OR (@IncludeQueued = 1 AND whatsIn.onQueue = 1))
            AND whatsIn.ConversationId NOT IN (SELECT ConversationId FROM ExistingConversations)

        UNION ALL

        SELECT 
            whatOut.ConversationId,
            whatOut.camId AS CampaignId,
            COALESCE(g.graphic_id, 0) AS GraphicId,
            COALESCE(whatOut.clientId, '') AS ClientNumber,
            COALESCE(m.content, '') AS MessageContent,
			COALESCE(m.typeMessage, '') AS MessageType,
            COALESCE(CONVERT(VARCHAR, m.TimeStampMessage, 120), '') AS LastMessageTimestamp,
            COALESCE(u.Login, '') AS AgentLogin,
            CASE 
                WHEN whatOut.onQueue = 1 THEN 'queued'
                WHEN whatOut.conversationStatus IN (1, 2, 3, 5, 7, 8, 9) THEN 'active'
                WHEN whatOut.conversationStatus = 21 THEN 'pre-assigned'
                ELSE 'finished'
            END AS ConversationStatus,
            'Outbound' AS CampType,
            ROW_NUMBER() OVER (PARTITION BY whatOut.ConversationId ORDER BY m.TimeStampMessage DESC) AS rn
        FROM ccWhatsAppConversationsOut whatOut
        INNER JOIN ccWAMessagesConversationsOut m ON m.conversationId = whatOut.ConversationId
        LEFT JOIN ccRIACampsGraph g ON g.cam_id = whatOut.camId
        LEFT JOIN ccUsers u ON u.User_id = whatOut.AgentId
        WHERE 
            whatOut.clientId IN (SELECT ClientNumber FROM #ClientNumberTable)
            AND (ISNULL(@AgentsIdsLst, '') = '' OR whatOut.AgentId IN (SELECT AgentId FROM #AgentIdTable))
            AND ((ISNULL(@StatusLst, '') = '' OR whatOut.conversationStatus IN (SELECT StatusId FROM #StatusIdTable)) 
            OR (@IncludeQueued = 1 AND whatOut.onQueue = 1))
            AND whatOut.ConversationId NOT IN (SELECT ConversationId FROM ExistingConversations)
    )

    -- Final result
    SELECT 
        CAST(ConversationId AS INT) AS ConversationId,
        CAST(CampaignId AS SMALLINT) AS CamId,
        CAST(GraphicId AS SMALLINT) AS Frame,
        CAST(ClientNumber AS VARCHAR(50)) AS ClientNumber,
        CAST(MessageContent AS VARCHAR(MAX)) AS MessageContent,
		CAST(MessageType AS VARCHAR(MAX)) AS MessageType, 
        CAST(LastMessageTimestamp AS DATETIME) AS LastMessageDateTime,
        CAST(AgentLogin AS VARCHAR(50)) AS AgentLogin,
        CAST(ConversationStatus AS VARCHAR(50)) AS ConversationStatus,
        CAST(CampType AS VARCHAR(50)) AS CamType,
        CAST(@TotalConversations AS INT) AS ConversationsCount
    FROM (
        SELECT * FROM LatestInboundMessages WHERE rn = 1
        UNION ALL
        SELECT * FROM LatestOutboundMessages WHERE rn = 1
        UNION ALL
        SELECT * FROM ClientOnlyMessages WHERE rn = 1
    ) AS CombinedMessages
    ORDER BY LastMessageTimestamp DESC
    OFFSET @Offset ROWS FETCH NEXT @PageSize ROWS ONLY;
END;
	

IF @Option = 5 -- Obtiene número máximo de días a buscar por historial cuando se filtra por campañas 
BEGIN 											
    IF OBJECT_ID('tempdb..#TmpInboundIdsCampFilter') IS NOT NULL DROP TABLE #TmpInboundIdsCampFilter;

    CREATE TABLE #TmpInboundIdsCampFilter (Id INT);

    INSERT INTO #TmpInboundIdsCampFilter (Id)
    SELECT CAST(value AS INT) 
    FROM fn_RIASplitDelimited(@InboundIdsLst, ',');

    SELECT @MaxConversationHistoryTime = MAX(i.ConversationHistoryTime)
    FROM ccInbound i
    INNER JOIN #TmpInboundIdsCampFilter tmp ON tmp.Id = i.Inbound_id;

    IF OBJECT_ID('tempdb..#TmpInboundIdsCampFilter') IS NOT NULL DROP TABLE #TmpInboundIdsCampFilter;

    IF OBJECT_ID('tempdb..#TmpOutboundIdsCampFilter') IS NOT NULL DROP TABLE #TmpOutboundIdsCampFilter;

    CREATE TABLE #TmpOutboundIdsCampFilter (Id INT);

    INSERT INTO #TmpOutboundIdsCampFilter (Id)
    SELECT CAST(value AS INT) 
    FROM fn_RIASplitDelimited(@OutboundIdsLst, ',');

    SELECT @MaxDaysPerWAConvo = MAX(cmo.MaxDaysPerWAConvo)
    FROM contactMeanOut cmo 
    INNER JOIN #TmpOutboundIdsCampFilter tmp ON tmp.Id = cmo.camp_id;

    IF OBJECT_ID('tempdb..#TmpOutboundIdsCampFilter') IS NOT NULL DROP TABLE #TmpOutboundIdsCampFilter;

    SET @FinalMaxValue = CASE 
        WHEN @MaxConversationHistoryTime IS NULL THEN @MaxDaysPerWAConvo
        WHEN @MaxDaysPerWAConvo IS NULL THEN @MaxConversationHistoryTime
        ELSE CASE 
            WHEN @MaxConversationHistoryTime > @MaxDaysPerWAConvo THEN @MaxConversationHistoryTime
            ELSE @MaxDaysPerWAConvo
        END
    END;

     SELECT CAST(@FinalMaxValue AS SMALLINT) AS MaxConversationHistory;
END;

IF @Option = 6 -- obtiene cabecera de varias conversaciones
BEGIN  --  exec [ccsp_WhatsAppConversationHistory] @option=6, @ConversationIds='59', @camtype=0
	CREATE TABLE #TmpConversationIds (Id INT);
	INSERT INTO #TmpConversationIds (Id)
	SELECT CAST(value AS INT) 
	FROM fn_RIASplitDelimited(@ConversationIds, ',');

	IF @CamType = 0
	BEGIN 
		SELECT 
			cwc.conversationId AS ConversationId, 
			(CASE WHEN cwc.disposition = 0 THEN 'N/A' ELSE ctc.Description END) AS Disposition,
			(CASE WHEN cwc.SubDisposition = 0 THEN 'N/A' ELSE ctcs.califSubDesc END) AS SubDisposition, 
			cwc.inboundId AS CamId, 
			ISNULL(cwc.conversationDate, '1900-01-01') AS ConversationDate, 
			cwc.tConversation AS TConversation,
			0 AS CampType,
			ci.descripcion AS CampName,
			cwc.clientId AS PhoneNumber,
			cu.User_id AS AgentId,
			cu.Nombres + ' ' + cu.ApellidoPaterno + ' ' + cu.ApellidoMaterno AS AgentName
		FROM ccWhatsAppConversations cwc
		INNER JOIN ccInbound ci ON ci.inbound_id = cwc.inboundId
		INNER JOIN ccUsers cu ON cu.User_id = cwc.agentId
		INNER JOIN #TmpConversationIds tci ON tci.Id = cwc.conversationId
		LEFT JOIN ccTipoCalif ctc ON ctc.calif_id = cwc.disposition
		LEFT JOIN ccTipoCalifSub ctcs ON ctcs.califSub_id = cwc.subDisposition
	END
	ELSE
	BEGIN
		SELECT 
			cwo.conversationId AS ConversationId, 
			(CASE WHEN cwo.disposition = 0 THEN 'N/A' ELSE ctco.Description END) AS Disposition, 
			(CASE WHEN cwo.SubDisposition = 0 THEN 'N/A' ELSE ctcso.califSubDesc END) AS SubDisposition,
			cwo.camId AS CamId, 
			ISNULL(cwo.conversationDate, '1900-01-01') AS ConversationDate, 
			cwo.tConversation AS TConversation,
			1 AS CampType,
			cc.cam_descripcion AS CampName,
			cwo.clientId AS PhoneNumber,
			cu.User_id AS AgentId,
			cu.Nombres + ' ' + cu.ApellidoPaterno + ' ' + cu.ApellidoMaterno AS AgentName
		FROM ccWhatsAppConversationsOut cwo
		INNER JOIN ccCamps cc ON cc.cam_id = cwo.camId 
		INNER JOIN ccUsers cu ON cu.User_id = cwo.agentId
		INNER JOIN #TmpConversationIds tci ON tci.Id = cwo.conversationId
		LEFT JOIN ccTipoCalifOUT ctco ON ctco.calif_id = cwo.disposition
		LEFT JOIN ccTipoCalifSubOUT ctcso ON ctcso.califSub_id = cwo.subDisposition
	END
END

IF @Option = 7 -- Obtiene archivos adjuntos
BEGIN -- exec ccsp_GetAgentAndCampaignRelationship @option=5,@ConversationId=279,@CamType=0
    DECLARE @messageIdList NVARCHAR(MAX);

    IF @CamType = 0
    BEGIN
        SELECT @messageIdList = STRING_AGG(messageId, ',') 
        FROM ccWAMessagesConversations
        WHERE conversationId = @ConversationId
        AND typeMessage IN (/*'text,'*/ 'image', 'video', 'audio', 'file');
    END
    ELSE
    BEGIN
        SELECT @messageIdList = STRING_AGG(messageId, ',') 
        FROM ccWAMessagesConversationsOut
        WHERE conversationId = @ConversationId
        AND typeMessage IN (/*'text,'*/ 'image', 'video', 'audio', 'file');
    END

    SELECT * 
    FROM dbo.fn_GetConversationAttachments(@CamType, @ConversationId, @messageIdList);
END; 

IF @Option = 8-- Obtiene valor si se reabrirá o no la conversación y si será se reabrirá tipo entrada o salida
BEGIN -- exec ccsp_WhatsAppConversationHistory @option=7, @AgentId=2, @CamType=0, @ConversationId=1366, @CamId=109, @ActualTime='2024-11-01T18:00:00', @CamNumber='15556232075', @ClientNumber='525548692056'
	DECLARE @ConversationWithinInboundWindowTime BIT = 0;
	DECLARE @ReopenConversationResponse VARCHAR(50);
	DECLARE @MaxWhatsAllowed INT;
	DECLARE @AgentName varchar(50);
	DECLARE @ConvId int

    IF NOT EXISTS (SELECT 1 FROM ccRIAAgentsPermissions WHERE AgentId = @AgentId AND AllowReopenWAConversation = 1)
    BEGIN
        SELECT 'REOPEN_PERMISSION_DISABLED' AS ReopenConversationResponse,
									  'N/A' AS AgentName;
        RETURN(0);
    END;

	IF EXISTS (SELECT 1 FROM ccWhatsAppGlobalIds WHERE AssociatedNumber = @CamNumber AND ClientNumber = @ClientNumber AND @ActualTime <= DATEADD(HOUR, 48, FirstMessageDateFromAgent))
	BEGIN
		SET @ReopenConversationResponse = 'REOPEN_CONVERSATION';
	END
	ELSE 
	BEGIN 
		SET @ReopenConversationResponse = 'REOPEN_CONVERSATION_WITH_TEMPLATE';
	END

    IF @CamType = 0
    BEGIN
		SELECT @ConversationWithinInboundWindowTime = 1 FROM ccWhatsAppConversations WITH (NOLOCK) WHERE InboundId = @CamId AND ConversationId = @ConversationId AND @ActualTime <= DATEADD(HOUR, 24, requestDate);
		IF @ConversationWithinInboundWindowTime = 1
        BEGIN
			IF EXISTS (SELECT 1 FROM ccWhatsAppConversations WHERE InboundId = @CamId AND ConversationId = @ConversationId AND @ActualTime <= DATEADD(HOUR, 24, requestDate))
			BEGIN
				IF NOT EXISTS (SELECT 1 FROM ccmetawhatsAppNumbers WHERE Number = @CamNumber AND Inbound_Id = @CamId)
				BEGIN
					SELECT'CAMPAIGN_NUMBER_CHANGED' AS ReopenConversationResponse,
											  'N/A' AS AgentName;
					RETURN(0);
				END
				ELSE IF EXISTS (SELECT 1 FROM ccWhatsAppConversations WHERE InboundId = @CamId AND phoneACD = @CamNumber AND clientId = @ClientNumber AND conversationStatus = 2 AND (agentId = @agentId OR agentId <> @agentId))
				BEGIN
					SELECT TOP 1 @ConvId = ConversationId FROM ccWhatsAppConversations WHERE InboundId = @CamId  AND phoneACD = @CamNumber  AND clientId = @ClientNumber  AND conversationStatus = 2  AND (agentId = @agentId OR agentId <> @agentId);
					SELECT @AgentName = u.Nombres FROM ccWhatsAppConversations c
												  INNER JOIN ccusers u ON c.agentId = u.User_id 
												  WHERE c.ConversationId = @ConvId;
					SELECT 'ONGOING_CONVERSATION' AS ReopenConversationResponse,
									   @AgentName AS AgentName;
					RETURN(0);
				END
				SELECT @MaxWhatsAllowed = a.maxWhats FROM ccinbound i
											  		 INNER JOIN ccriacat_Areas a ON i.IDArea = a.IDArea
											  		 WHERE i.Inbound_Id = @CamId;
            
				IF (SELECT COUNT(1) FROM ccwhatsappconversations WHERE agentID = @AgentId AND conversationStatus = 2) >= @MaxWhatsAllowed
				BEGIN
					SELECT 'MAX_LIMIT_CONVERSATION_ALLOWED' AS ReopenConversationResponse,
													  'N/A' AS AgentName;;
					RETURN(0);
				END
				ELSE
				BEGIN
					SELECT @ReopenConversationResponse AS ReopenConversationResponse,
												 'N/A' AS AgentName;
					RETURN(0);
				END
			END
		END
		ELSE 
		BEGIN
			SET @CamType = 1;
		END
    END
    IF @CamType = 1
    BEGIN
        IF EXISTS (SELECT 1 FROM ccWhatsAppConversationsOut WHERE camId = @CamId AND phoneCamp = @CamNumber AND clientId = @ClientNumber AND conversationStatus = 2 AND (agentId = @agentId OR agentId <> @agentId))
        BEGIN
			SELECT TOP 1 @ConvId = ConversationId FROM ccWhatsAppConversationsOut WHERE camId = @CamId  AND phoneCamp = @CamNumber  AND clientId = @ClientNumber  AND conversationStatus = 2  AND (agentId = @agentId OR agentId <> @agentId);
			SELECT @AgentName = u.Nombres FROM ccWhatsAppConversationsOut c
										  INNER JOIN ccusers u ON c.agentId = u.User_id 
									      WHERE c.ConversationId = @ConvId;
            SELECT 'ONGOING_CONVERSATION' AS ReopenConversationResponse,
							   @AgentName AS AgentName;
			RETURN(0);
        END
		SELECT @MaxWhatsAllowed = a.maxWhatsOut FROM cccamps c
										  	 INNER JOIN ccriacat_Areas a ON c.IDArea = a.IDArea
										  	 WHERE c.cam_id = @CamId;
        
        IF (SELECT COUNT(1) FROM ccwhatsappconversationsOut WHERE agentID = @AgentId AND conversationStatus = 2) >= @MaxWhatsAllowed
        BEGIN
            SELECT 'MAX_LIMIT_CONVERSATION_ALLOWED' AS ReopenConversationResponse,
											  'N/A' AS AgentName;;
            RETURN(0);
        END
        ELSE
        BEGIN
            SELECT @ReopenConversationResponse AS ReopenConversationResponse,
									     'N/A' AS AgentName;
            RETURN(0);
        END
    END
END;

IF @Option = 10 -- Obtener id de conversación creada de entrada al reabrir conversación dentro de hitorial de agente
BEGIN
	EXEC ccsp_ConversationWASave @action=1, @phoneacd=@CamNumber, @clientid= @ClientNumber, @inboundid=@CamId, @agentId = @agentId
END 

