USE [CCenterRia]


if not exists (select * from sys.columns where name = N'cal_tMsg' and Object_ID = Object_ID(N'ccocallsout'))
begin
	alter table ccocallsout ADD cal_tMsg smallint null
end


GO
/****** Object:  StoredProcedure [dbo].[ccsp_DLRUpdateMachineTime]    Script Date: 21/06/2018 12:04:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER  PROCEDURE [dbo].[ccsp_DLRUpdateMachineTime]
@CallID as int,
@tMsg smallint = 0
AS
/*
SP para guardar el tiempo que duró reproduciendo el mensaje
*/
update ccocallsout set cal_tMsg = @tMsg where cal_id = @CallID