    set @process = 'Alter Column cctipocalif.Description -- CW-972'
    set @Sql= 'ALTER TABLE cctipocalif ALTER COLUMN Description varchar(60)'
    EXEC(@Sql)

    set @process = 'Alter Column cctipocalifsub.califSubDesc --CW-972'
    set @Sql= 'ALTER TABLE cctipocalifsub ALTER COLUMN  califSubDesc varchar(60)'
    EXEC(@Sql)