<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="NLog NLog.xsd"
      autoReload="true"
      internalLogFile="${basedir}/../logs/NuxibaBase_Services.log"
      internalLogLevel="Info">

	<!-- the targets to write to -->
	<targets>
		<!-- write logs to file -->
		<target
		   name="NuxibaBaseConsoleWriter"
		   xsi:type="Console"
		   layout="${time} - ${level} - ${callsite:includeNamespace=false:includeSourcePath=false} - ${message}" />

		<target name="NuxibaBaseWriter" xsi:type="File"
			layout="${time} - ${pad:padding=5:inner=${level:uppercase=true}} - ${callsite:includeNamespace=false:includeSourcePath=false} - ${message}"
			fileName="${basedir}/../logs/DatabaseUpdateValidator.log"
			archiveFileName="${basedir}/../logs/DatabaseUpdateValidator{###}.log"
			archiveNumbering="DateAndSequence"
			archiveEvery="Day"
			archiveAboveSize="52428800"
			archiveDateFormat="yyyyMMdd"
			concurrentWrites="true"
			keepFileOpen="false" />
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="NuxibaBaseConsoleWriter" />
		<logger name="*" minlevel="Trace" writeTo="NuxibaBaseWriter" />
	</rules>
</nlog>