USE [CCenterRIA]
GO
/****** Object:  StoredProcedure [dbo].[ccsp_AgentGetStartStopPermission]    Script Date: 26/02/2024 05:47:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[ccsp_AgentGetStartStopPermission]
@age_id int,
@cam_id int,
@call_type int,
@phone varchar(50)=null
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE @isStateVersion TABLE(value bit)
	INSERT INTO @isStateVersion select valor from ccSettings2 where setting_id = 262
	declare @option varchar(50)
	select @option = value from @isStateVersion
	declare @agentRec int, @valor as int

	set @valor = 0
	if(@option = 0) begin
		select @agentRec=isnull(startStopRecording,0) from ccusers (nolock) where [User_id] = @age_id
		IF @agentRec = 1
		BEGIN
	---------- Entra agente con permiso de StartStopRecording
			IF @call_type = 1 ------- Revisamos especialidad
				set @valor = (select isnull(startStopRecording,0) from ccInbound (nolock) where Inbound_id = @cam_id)
			ELSE ------- Revisamos Campaña
				set @valor = (select isnull(startStopRecording,0) from ccCamps (nolock) where cam_id = @cam_id)
		END
		else begin
			set @valor = 0
		end
	end
	else begin 
		---------- Entra agente con permiso de StartStopRecording
		IF @call_type = 1 ------- Revisamos especialidad
			set @valor = (select isnull(startStopRecording,0) from ccInbound (nolock) where Inbound_id = @cam_id)
		ELSE ------- Revisamos Campaña
			set @valor = (select isnull(startStopRecording,0) from ccCamps (nolock) where cam_id = @cam_id)
	end
	select @valor Allowed
END