USE [CCenterRIA]
GO
/****** Object:  StoredProcedure [dbo].[ccsp_LoadGraphics]    Script Date: 26/02/2024 05:58:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[ccsp_LoadGraphics]
					@Id as smallint,
					@callType as smallint,
					@UserId as smallint,
					@phone varchar(50)=null
					AS
					BEGIN
					        
					    SET NOCOUNT ON  
						DECLARE @AuthorizationPlayStopRec TABLE(value bit)
						DECLARE @realValue bit

						INSERT INTO @AuthorizationPlayStopRec 
						exec ccsp_AgentGetStartStopPermission @age_id=@UserId, @cam_id=@Id, @call_type=@callType,@phone=@phone

						select @realValue=value from @AuthorizationPlayStopRec

					    if (@callType=1)
							begin
								DECLARE @canReprogram bit  
								create table #canReprogram (canReprogram bit)
								insert into #canReprogram
								exec ccsp_AgentGetCampReprogramData @Id, @callType
								select @canReprogram = canReprogram from #canReprogram
								drop table #canReprogram

								select a1.Inbound_id id, a2.descripcion description, a1.graphic_id, a3.type_id, a3.frame, a2.EditableCallKey, 0 as leaveRecMessage ,
								case when isnull(a4.callsBySurvey,0) > 0 then 1 else 0 end isRelationSurvey ,
								isnull(a2.callBackSurveyAgent,1) callBackSurveyAgent,isnull(a2.callBackSurveyClient,1) callBackSurveyClient,
								a2.ShowCalifWnd as ShowDisposition,
								isnull(a2.startStopRecording,0) as StartStopRecording,
								@realValue as IsStartStopRecording,
								isnull(a2.editableDtmf, 0) as isEditDtmf,
								@canReprogram  CanReprogram
								from ccRIAInboundGraph a1 
								inner join ccInbound a2 on (a1.inbound_id=a2.inbound_id)
								 inner join ccRIAGraphics a3 on (a1.graphic_id=a3.graphic_id) 
								 left join ccCamps a4 on a4.cam_id=a2.cam_id  where a1.inbound_id=@Id and type_id in(1,2,3) order by type_id		
							 end	
							 else
							 begin
								select a1.cam_id Id, a2.cam_descripcion description, a1.graphic_id, a3.type_id, a3.frame, a2.EditableCallKey,
								case when msgFile <> '' and leaveRecMessage = 1 then 1 else 0 end as leaveRecMessage, 
								case when isnull(a2.surveyCamId,0) >0 then 1 else 0 end isRelationSurvey ,
								a2.cam_ShowCalifWnd as ShowDisposition,
								a2.callBackSurveyAgent,a2.callBackSurveyClient,
								isnull(a2.startStopRecording,0) as StartStopRecording,
								@realValue as IsStartStopRecording
								from ccRIACampsGraph a1 
								inner join ccCamps a2 on (a1.cam_id=a2.cam_id)
								inner join ccRIAGraphics a3 on (a1.graphic_id=a3.graphic_id)
								left outer join (select top 1 M.cam_id, coalesce(msgFile+'','','') as msgFile 
								from ccCampsMsgs M join ccMsgFiles T on M.Msg_id=T.msg_id 
								where M.cam_id = @Id and type = 8) b 
								on (a2.cam_id = b.cam_id) 
								where a1.cam_id=@Id and type_id in(1,2,3) order by type_id
							 end	
					END