USE [CCenterRIA]
GO
/****** Object:  StoredProcedure [dbo].[ccsp_VirtualAgents]    Script Date: 1/24/2025 4:49:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[ccsp_VirtualAgents]
    @action INT,
	@idVirtualAgent INT = 0,
    @nameAgent NVARCHAR(255) = NULL,
    @statusAgent BIT = NULL,
    @globalAgent BIT = NULL,
    @descriptionAgent NVARCHAR(500) = NULL,
    @languageAgent INT = NULL,
    @rolAgent NVARCHAR(50) = NULL,
	@campaignId INT = NULL,
	@mediaType INT = NULL, -- CALLS, WHATSAPP, SMS
	@campType INT = NULL, -- 0 IN - 1 OUT
	-- Masivo
	@virtualAgentIds VARCHAR(600) = NULL
AS
BEGIN
    IF @action = 1
    BEGIN
        SELECT
            va.idAgent AS idAgent,
            va.NameAgent AS nombre,
			ISNULL(CAST(va.idCampaign AS INT),0) AS idCampaign,
			ISNULL(va.concurrentSessionsLimit, 0) AS concurrentSessionsLimit,
            CAST(va.StatusAgent AS BIT) AS status,
			CAST(va.mediaType AS INT) as SubType,
            ISNULL(
                CASE 
                    WHEN va.CampType = 0 THEN ci.descripcion 
                    ELSE co.cam_descripcion
                END, 'N/A'
            ) AS campName,
			ISNULL(
				CASE 
                    WHEN va.CampType = 0 THEN ci.IDArea -- Campaña de entrada
                    ELSE co.IDArea -- Campaña de salida
                END,
			0) AS IDArea,
            CAST(ISNULL(
                CASE 
                    WHEN va.CampType = 0 THEN ig.graphic_id -- Icono para entrada
                    ELSE og.graphic_id -- Icono para salida
                END, 0
            ) AS int) AS campaignGraph,
            CAST(va.CampType AS int) CampType,
            ISNULL(
                CASE 
                    WHEN va.CampType = 0 THEN CAST(ci.Status AS BIT) -- Estado de la campaña de entrada
                    ELSE CAST(co.cam_activo AS BIT) -- Estado de la campaña de salida
                END, 0
            ) AS IsActiveCampaign, -- Devuelve 1 o 0
            ISNULL(
                CASE 
                    WHEN (va.CampType = 0 AND ci.chat = 5) THEN wn.Number
					WHEN (va.CampType = 1 AND co.CampType = 5) THEN wno.Number
                    ELSE 'N/A'
                END, 'N/A'
            ) AS NumeroAsociado,
            CONVERT(VARCHAR(10), va.createDateAgent, 120) AS FechaCreacion, -- Devuelve como 'YYYY-MM-DD'
            ISNULL(
                CASE 
                    WHEN va.latestUpdateDateAgent IS NULL OR va.latestUpdateDateAgent = '' THEN 'N/A'
                    ELSE CONVERT(VARCHAR(10), va.latestUpdateDateAgent, 120) -- Devuelve como 'YYYY-MM-DD'
                END, 'N/A'
            ) AS FechaUltimaModificacion, -- Devuelve 'YYYY-MM-DD' o 'N/A'
            CAST(va.globalAgent AS BIT) AS Global -- Devuelve 1 o 0
        FROM dbo.ccVirtualAgent va
        LEFT JOIN dbo.ccInbound ci ON ci.Inbound_id = va.idCampaign AND va.campType = 0
        LEFT JOIN dbo.ccCamps co ON co.cam_id = va.idCampaign AND va.campType = 1
        LEFT JOIN dbo.ccMetaWhatsAppNumbers wn ON wn.Inbound_Id = va.idCampaign AND va.campType = 0 AND mediaType != 0
		LEFT JOIN dbo.ccMetaWhatsAppNumbers wno ON wno.Cam_Id = va.idCampaign AND va.campType = 1 AND mediaType != 0
        LEFT JOIN dbo.ccRIAInboundGraph ig ON ig.Inbound_id = va.idCampaign AND va.campType = 0
        LEFT JOIN dbo.ccRIACampsGraph og ON og.cam_id = va.idCampaign AND va.campType = 1
    END

    ELSE IF @action = 2
    BEGIN
        -- Creación de un nuevo agente virtual
        INSERT INTO dbo.ccVirtualAgent (
            nameAgent, 
            statusAgent, 
            globalAgent, 
            createDateAgent, 
            latestUpdateDateAgent, 
            descriptionAgent, 
            languageAgent, 
            rolAgent
        )
        VALUES (
            @nameAgent, 
            @statusAgent, 
            @globalAgent, 
            GETDATE(), -- Fecha de creación actual
            NULL, -- latestUpdateDateAgent
            @descriptionAgent, 
            @languageAgent, 
            @rolAgent
        );

        -- Retornar mensaje de éxito
        SELECT 'Agente creado exitosamente' AS Resultado, SCOPE_IDENTITY() AS IdAgenteCreado;
    END

	ELSE IF @action = 3 -- Elimination of virtual Agent
	BEGIN
		CREATE TABLE #deletedVirtualAgents(idAgent int, agentName varchar(255))

		DELETE FROM dbo.ccVirtualAgent
		OUTPUT deleted.idAgent, deleted.nameAgent INTO #deletedVirtualAgents
		WHERE idAgent IN(SELECT Value FROM fn_RIASplitDelimited(@virtualAgentIds,',')) AND statusAgent = 0;

		SELECT * FROM #deletedVirtualAgents
	END

	ELSE IF @action = 4 -- Association between campaign and agent
	BEGIN
		IF NOT EXISTS (SELECT 1 FROM ccVirtualAgent WHERE idAgent != @idVirtualAgent AND idCampaign = @campaignId AND mediaType = @mediaType AND campType = @campType)
		BEGIN
			UPDATE ccVirtualAgent SET idCampaign = @campaignId, 
									  mediaType = @mediaType, 
									  campType = @campType,
									  latestUpdateDateAgent = GETDATE()
			WHERE idAgent = @idVirtualAgent

			SELECT @@ROWCOUNT
		END
		ELSE
			SELECT 0
	END

	ELSE IF @action = 5 -- Status change
	BEGIN
		CREATE TABLE #updatedVirtualAgents(idAgent int, nameAgent varchar(255), newStatus BIT)

		UPDATE ccVirtualAgent SET statusAgent = @statusAgent,
								  latestUpdateDateAgent = GETDATE()
		OUTPUT inserted.idAgent, inserted.nameAgent, inserted.statusAgent as newStatus INTO #updatedVirtualAgents
		WHERE idAgent IN (SELECT Value FROM fn_RIASplitDelimited(@virtualAgentIds,',')) and statusAgent != @statusAgent

		SELECT * FROM #updatedVirtualAgents
	END
END