USE [CCenterRia]
GO
/****** Object:  StoredProcedure [dbo].[ccsp_OUTGetNewJobsSMS]    Script Date: 13/03/2024 09:10:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [dbo].[ccsp_OUTGetNewJobsSMS]
@CAMPID INT,
@action INT=0, --0 select and update, 1 select registry
@topCount INT=50

as
set nocount on
DECLARE @iZonas INT = NULL
DECLARE @bIsDaylight bit, @revHorario bit
DECLARE @country_id INT, @TipoJobs INT

DECLARE @sql nvarchar(MAX), @Order_Asc_Desc char(4)
declare @sqlInsertGeneric nvarchar(MAX)
declare @parameters nvarchar(MAX)
		
-- VALIDAMOS EL IDIOMA Y LADA CONFIGURADA --
SELECT @country_id=valor FROM ccSettings WHERE setting_id=104
SELECT @revHorario=valor from ccsettings where setting_id = 112
-- VALIDAMOS EL ORDER EN COMO SE VAN A MOSTRAR LOS REGISTROS --
SELECT @Order_Asc_Desc=case dialOrder when 1 then 'desc' else 'asc' end FROM ccCamps WHERE cam_id=@CAMPID
SELECT @Order_Asc_Desc=isnull(@Order_Asc_Desc,'asc')

SET DATEFIRST 1
--Checamos si es horario de verano
SELECT @bIsDaylight = dbo.fnIsDayLight (@country_id, getdate())

exec @iZonas= ccsp_OUTcheckTimeZone @cam_id=@campid,@isReturnSelect=0

if exists(SELECT cam_id from ccSmsSchedules where cam_id=@campid)
begin
	if @iZonas = 0 begin
		print 'Sin Zona horaria'
		SELECT 0 as SmsOutId, 0 as CamId, '' as Phone, 0 as SmsStatus, '' as DateDial, 0 as user_id, 0 as tz where 1=0		
		return
	end
end


IF OBJECT_ID(N'tempdb..#NEW_JOBS') IS NOT NULL  DROP TABLE #NEW_JOBS

CREATE TABLE #NEW_JOBS (
	SmsOutId INT
	,CamId INT
	,Phone VARCHAR(30) collate SQL_Latin1_General_CP1_CI_AS
	,SmsStatus TINYINT
	,DateDial DATETIME
	,Tz1 INT
	,Tz2 INT
	,Tz3 INT
	,Tz4 INT
	,Tz5 INT
	,CallKey VARCHAR(40)
	,Message VARCHAR(255)
	)
set @sql=''

DECLARE @new_calls_date VARCHAR(max) = '';
		

SELECT @TipoJobs=cam_TipoJobs from ccCamps where cam_id=@CAMPID

DECLARE @isVerano varchar(max)

	set @isVerano = 'W.iTimeZone' + case @bIsDaylight when 1 then '_summer' else '' END

	select @sqlInsertGeneric=nchar(13)+ 'INSERT #NEW_JOBS
SELECT top(@topCount) W.smsout_id, W.cam_id, W.sms_phoneNumber, W.sms_status, W.sms_dateDial,'
+@isVerano+','
+@isVerano+'2,'
+@isVerano+'3,'
+@isVerano+'4,'
+@isVerano+'5,
sos.callkey as CallKey
,msg.message as Message
FROM smsWorkingTable W with(nolock)
left join smsOutSource sos with(nolock) on sos.smsout_id=W.smsout_id
left join smsoutSourceMessage msg with(nolock) on msg.smsout_id =W.smsout_id
WHERE STATUS_REPLACE_QUERY
and DATE_REPLACE_QUERY
and W.cam_id=@CAMPID
and msg.message is not null
and (
   ( ('+@isVerano+'  & @iZonas)>0 or '+@isVerano+'=0) 
or ( ('+@isVerano+'2 & @iZonas)>0 or '+@isVerano+'2=0) 
or ( ('+@isVerano+'3 & @iZonas)>0 or '+@isVerano+'3=0) 
or ( ('+@isVerano+'4 & @iZonas)>0 or '+@isVerano+'4=0)
or ( ('+@isVerano+'5 & @iZonas)>0 or '+@isVerano+'5=0)
)'

if @TipoJobs in(0,2)--** INCLUIR LOS NUEVAS
begin				
	select @sql=@sql+nchar(13)+'--INCLUIR LAS NUEVAS--'
	select @sql=@sql+REPLACE(
	REPLACE(@sqlInsertGeneric,'DATE_REPLACE_QUERY','W.sms_dateDial < dateadd(mi, 5, getdate())')
		,'STATUS_REPLACE_QUERY','W.sms_status=0')
	select @sql=@sql+nchar(13)+' order by W.sms_dateDial '+ @Order_Asc_Desc +', smsout_id '+ @Order_Asc_Desc
	--print(@sql)
end -- TOMA EN CUENTA LAS NUEVAS

if @TipoJobs in(0,1)--** INCLUIR LOS CALLBACKS
begin
	select @sql=@sql+nchar(13)+'--INCLUIR LOS CALLBACKS--'
	select @sql=@sql+nchar(13)+REPLACE(
		REPLACE(@sqlInsertGeneric,'DATE_REPLACE_QUERY','W.sms_dateDial<dateadd(mi, 5, getdate())')
	,'STATUS_REPLACE_QUERY','W.sms_status=1 -- CallBacks')
	select @sql=@sql+nchar(13)+' order by priority_cb desc, W.sms_dateDial '  + @Order_Asc_Desc +', smsout_id '+ @Order_Asc_Desc-- Solo se aplica el order en registros Nuevos (cal_status=0)
		
					
end -- TOMA EN CUENTA LOS CALLBACKS
----------------------- RETORNA LOS RESULTADOS OBTENIDOS -------------------------------
set @parameters='@CAMPID int,@topCount int,@iZonas int'		

if @action=0
begin	
	SELECT @sql=@sql+nchar(13)+ 'UPDATE smsWorkingTable with (rowlock) SET sms_status=2 --CALLBACK IN PROGRESS
	WHERE smsout_id in(SELECT SmsOutId from #NEW_JOBS)'	
end

		
	select @sql=@sql+nchar(13)+ 'SELECT SmsOutId, CamId, Phone, SmsStatus, DateDial,
Tz1,Tz2,Tz3,Tz4,Tz5,CallKey as RegistryClient,Message
FROM #NEW_JOBS where len(Phone)>0
'


--print (@sql)
--print '@iZonas:' +convert(varchar(max),@iZonas)

exec sp_executesql  @sql,@parameters,
@CAMPID=@CAMPID
,@topCount=@topCount
,@iZonas=@iZonas

IF OBJECT_ID(N'tempdb..#NEW_JOBS') IS NOT NULL  DROP TABLE #NEW_JOBS

return(0)