<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="NuxibaAppBaseWriter" xsi:type="File"
        layout="${longdate} - ${level} - ${callsite} - ${message}"
        fileName="${basedir}/logs/NuxibaReport.log"
        archiveFileName="${basedir}/logs/NuxibaReport.{###}.log"
        archiveAboveSize="102400"
        maxArchiveFiles="7"
        archiveNumbering="Sequence"
        concurrentWrites="true"
        keepFileOpen="false"
        encoding="iso-8859-2" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="NuxibaAppBaseWriter" />
  </rules>
</nlog>