USE [CCRecorderRIA]
GO

/****** Object:  StoredProcedure [dbo].[trsp_SaveAVRSExportParameters]    Script Date: 17/12/2023 09:50:34 a. m. ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[trsp_SaveAVRSExportParameters] @export_mode AS INT, @netcred_id 
	AS INT = - 1, @net_user AS VARCHAR(100) = '', @net_password AS VARCHAR(100) = '', 
	@net_sever AS VARCHAR(max) = '', @net_path AS VARCHAR(max) = '', @ftp_user AS VARCHAR(
		100) = '', @ftp_password AS VARCHAR(100) = '', @ftp_sever AS VARCHAR(max) = '', 
	@ftp_path AS VARCHAR(max) = '', @ftp_port AS INT = - 1, @ftp_protocol AS INT = - 1, 
	@time_export AS VARCHAR(100) = '', @grabid_start AS INT = - 1, @csv_log AS INT = - 1, 
	@delete_rec AS INT = - 1, @export_format AS INT = 1, @export_encrypted AS BIT = 0, 
	@file_encrypted AS BIT, @AutomaticConfigurationDto VARCHAR(max) = ''
	,@DateStartExport	datetime null,@DateEndExport	datetime =null
AS
BEGIN
	DECLARE @repo_Id AS INT
	declare @ccConfigurationExportId bigint=0

	IF LEN(@time_export) > 0
	BEGIN
		UPDATE TREC_PARAMETROS
		SET par_valor = @time_export
		WHERE par_id = 33
	END

	UPDATE TREC_PARAMETROS
	SET par_valor = @export_format
	WHERE par_id = 35

	-- Update FTP Parameters
	IF @export_mode = 1
	BEGIN
		UPDATE TREC_PARAMETROS
		SET par_valor = @ftp_path
		WHERE par_id = 41

		UPDATE TREC_PARAMETROS
		SET par_valor = @ftp_protocol
		WHERE par_id = 42

		UPDATE TREC_PARAMETROS
		SET par_valor = @ftp_sever
		WHERE par_id = 43

		UPDATE TREC_PARAMETROS
		SET par_valor = @ftp_user
		WHERE par_id = 44

		UPDATE TREC_PARAMETROS
		SET par_valor = @ftp_password
		WHERE par_id = 45

		UPDATE TREC_PARAMETROS
		SET par_valor = @ftp_port
		WHERE par_id = 46		
		
	END
	ELSE
	BEGIN
		-- Update NetBios parameters
		DECLARE @avrs_enviroment AS INT
		
		SELECT @avrs_enviroment=par_valor
		FROM TREC_PARAMETROS
		WHERE par_id = 29
				

		IF @avrs_enviroment = 2
		BEGIN
			UPDATE RIA_NETWORKCREDENTIALS
			SET [domain] = @net_sever, [user] = @net_user, [password] = @net_password
			WHERE id = @netcred_id
		END
		ELSE
		BEGIN
			UPDATE TREC_NETWORKCREDENTIALS
			SET [domain] = @net_sever, [user] = @net_user, [password] = @net_password
			WHERE id = @netcred_id
		END

		UPDATE TREC_PARAMETROS
		SET par_valor = @net_path
		WHERE par_id = 36
	END

	

	IF @grabid_start <> - 1
	BEGIN
		UPDATE TREC_PARAMETROS
		SET par_valor = @grabid_start
		WHERE par_id = 40
	END

	UPDATE TREC_PARAMETROS
	SET par_valor = @csv_log
	WHERE par_id = 50

	UPDATE TREC_PARAMETROS
	SET par_valor = @export_mode
	WHERE par_id = 51

	UPDATE TREC_PARAMETROS
	SET par_valor = @delete_rec
	WHERE par_id = 57

	UPDATE TREC_PARAMETROS
	SET par_valor = @file_encrypted
	WHERE par_id = 61

	UPDATE TREC_PARAMETROS
	SET par_valor = @export_encrypted
	WHERE par_id = 62

	if @AutomaticConfigurationDto<>'' begin
		UPDATE TREC_PARAMETROS
		SET par_valor =case when @AutomaticConfigurationDto='' then par_valor else  @AutomaticConfigurationDto end
		WHERE par_id = 77
		select @ccConfigurationExportId=case when par_valor='' then 0 else  convert(bigint,par_valor) end 
		from TREC_PARAMETROS WHERE par_id = 78

		if @ccConfigurationExportId=0 begin		
			insert into ccConfigurationExportManagerAutomatic(DateStartExport,DateEndExport,Json,ExportStatus)
			values(@DateStartExport,@DateEndExport, @AutomaticConfigurationDto,0) 
			select @ccConfigurationExportId=@@IDENTITY
		end
		else begin
			declare @ExportStatus tinyint 
			select @ExportStatus=ExportStatus from ccConfigurationExportManagerAutomatic
			where ccConfigurationExportId=@ccConfigurationExportId
			if @ExportStatus =0 begin--Create
				update ccConfigurationExportManagerAutomatic set [Json]=@AutomaticConfigurationDto where ccConfigurationExportId=@ccConfigurationExportId
			end
			else if @ExportStatus =1 begin--Process
				update ccExportManagerAutomatic set StatusId=3 where ccConfigurationExportId=@ccConfigurationExportId
				update ccConfigurationExportManagerAutomatic set ExportStatus =3 where ccConfigurationExportId=@ccConfigurationExportId
				set @ExportStatus=3
			end
			if @ExportStatus in(2,3) begin--2 End,3 Cancelada
				insert into ccConfigurationExportManagerAutomatic(DateStartExport,DateEndExport,Json,ExportStatus)
				values(@DateStartExport,@DateEndExport, @AutomaticConfigurationDto,0) 
				select @ccConfigurationExportId=@@IDENTITY				
			end		
		end
		UPDATE TREC_PARAMETROS
		SET par_valor =convert(varchar(100),@ccConfigurationExportId)
		WHERE par_id = 78
	end
END