USE [CCRecorderRIA]
GO
/****** Object:  StoredProcedure [dbo].[trsp_ExportManagerAutomatic]    Script Date: 31/01/2024 05:15:16 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[trsp_ExportManagerAutomatic] @action int
,@grabIds varchar(max)='',@ccConfigurationExportId bigint=0,@ExportStatus tinyint=0,@StatusId tinyint=0
AS
BEGIN
	declare @sql varchar(max)
	declare @grabIdTmp table (grabId bigint not null)
	if @action=0 begin -- Insert Status
		if @grabIds='' or @ccConfigurationExportId=0 begin
		return
		end

		insert into @grabIdTmp
		select convert(bigint, value) grabId from dbo.fn_RIASplitDelimited(@grabIds,',')
		
		insert into ccExportManagerAutomatic
		select T.grabId,@ccConfigurationExportId ccConfigurationExportId,getdate() DateDownload,0 StatusId
		from @grabIdTmp T
		left join ccExportManagerAutomatic E on T.grabId=E.GrabId and E.ccConfigurationExportId=@ccConfigurationExportId
		where E.ccConfigurationExportId is null

		update ccConfigurationExportManagerAutomatic set ExportStatus=1 
		where ccConfigurationExportId=@ccConfigurationExportId and ExportStatus=0
	end
	else if @action=1 begin --GetStatus ccExportManagerAutomatic
		select ExportStatus from ccConfigurationExportManagerAutomatic where ccConfigurationExportId=@ccConfigurationExportId
	end
	else if @action=2 begin --Update Status ccExportManagerAutomatic
		insert into @grabIdTmp
		select convert(bigint, value) grabId from dbo.fn_RIASplitDelimited(@grabIds,',')
		
		insert into ccExportManagerAutomatic
		select T.grabId,@ccConfigurationExportId ccConfigurationExportId,getdate() DateDownload,@StatusId StatusId
		from @grabIdTmp T
		left join ccExportManagerAutomatic E on T.grabId=E.GrabId and E.ccConfigurationExportId=@ccConfigurationExportId
		where E.ccConfigurationExportId is null

		update E set
		E.StatusId=@StatusId
		--select T.grabId,@ExportStatus
		from @grabIdTmp T
		inner join ccExportManagerAutomatic E on T.grabId=E.GrabId and E.ccConfigurationExportId=@ccConfigurationExportId	
	end
	else if @action=3 begin --Update Status ccExportManagerAutomatic
		
		select isnull(min(GrabId),0) GrabId from ccExportManagerAutomatic 
		where StatusId=0 and ccConfigurationExportId=@ccConfigurationExportId
	end
	else if @action=4 begin --Update Status ccExportManagerAutomatic
		
		update ccConfigurationExportManagerAutomatic set ExportStatus=@ExportStatus 
		where ccConfigurationExportId=@ccConfigurationExportId

		if @ExportStatus=2 begin
			update ccExportManagerAutomatic set StatusId=3 where ccConfigurationExportId=@ccConfigurationExportId and StatusId=0
		end
	end

END