USE [CCenterRIA]
GO
/****** Object:  UserDefinedFunction [dbo].[fnGetTimeZoneByZip]    Script Date: 3/13/2026 3:51:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER FUNCTION [dbo].[fnGetTimeZoneByZip]
(
    @zipCode VARCHAR(30)
)
RETURNS TABLE
AS
RETURN
(
    -- Devuelve ambos tz_id en una sola evaluación (invierno/verano)
    SELECT 
        inv.tz_id AS tz_id_invierno,
        v.tz_id   AS tz_id_verano,
		z.State
    FROM ccTimeZoneAreaCP AS z WITH (NOLOCK)
    INNER JOIN ccTimeZones AS inv
        ON inv.tz_offset = z.WinterTimeDifference
    INNER JOIN ccTimeZones AS v
        ON v.tz_offset   = z.SummerTimeDifference
    WHERE z.ZipCode = @zipCode
);