USE [CCenterRIA]
GO
/****** Object:  StoredProcedure [dbo].[ccsp_UpdateCallsOutFromTempAction]    Script Date: 16/02/2026 03:27:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[ccsp_UpdateCallsOutFromTempAction]
		@action INT,
		@tableName NVARCHAR(255),
		@cal_status int = 0,
		@idLoad int=0,
		@motivo varchar(50)=null,
		@cam_id int=null,
		@isIAQuantumCamp bit =0,
		@internationalRecords int=0,
		@isZipCodeValidation BIT = 0

	AS
	BEGIN
		SET NOCOUNT ON;

		DECLARE @sql NVARCHAR(MAX);
		DECLARE @paramDef NVARCHAR(300);    
		DECLARE @count INT;
		declare @empty varchar(1)='',@zipCodeSchedule bit = 0;
		declare @columnsIAQuntum varchar(max)='' , @columnsZipCode varchar(max)='', @valuesColumnsZipCode varchar(max)='';  

		IF @action = 1
		BEGIN
			SET @sql = '
			UPDATE ' + QUOTENAME(@tableName) + '
			SET international = 1';
		   
			EXEC sp_executesql @sql;
		END
		ELSE IF @action = 2
		BEGIN
				
			if @isIAQuantumCamp =1 begin
				set @columnsIAQuntum=', data_api_quantum, data_overflow_variables_quantum'
			END

			SET @sql = '
			INSERT INTO dbo.ccoCallsOutSource (
				cal_Key, cal_telefono, cal_telefono2, cal_telefono3, cal_telefono4, cal_telefono5,
				Dato1, Dato2, Dato3, Dato4, Dato5,
				dialPrefix, list_id, cam_id, Region, Localidad, cal_status, cal_fechaDial
				,iZonaHoraria,iZonaHoraria_verano
				,iZonaHoraria2,iZonaHoraria_verano2
				,iZonaHoraria3,iZonaHoraria_verano3
				,iZonaHoraria4,iZonaHoraria_verano4
				,iZonaHoraria5,iZonaHoraria_verano5
				' + @columnsIAQuntum + '
			)
			SELECT
				cal_Key, cal_telefono, cal_telefono2, cal_telefono3, cal_telefono4, cal_telefono5,
				Dato1, Dato2, Dato3, Dato4, Dato5,
				dialPrefix, list_id, cam_id, Region, Localidad, cal_status, cal_fechaDial
				,iZonaHoraria,iZonaHoraria_verano
				,iZonaHoraria2,iZonaHoraria_verano2
				,iZonaHoraria3,iZonaHoraria_verano3
				,iZonaHoraria4,iZonaHoraria_verano4
				,iZonaHoraria5,iZonaHoraria_verano5
				' + @columnsIAQuntum + '
			FROM ' + QUOTENAME(@tableName) + '
			WHERE callout_id = 0;';

			IF (@isZipCodeValidation = 1)
			BEGIN
				SET @columnsZipCode = ', zipCode, isZipCodeValidation'
				SET @valuesColumnsZipCode = ', T.cal_zipCodeValidation, ' +CAST(@isZipCodeValidation AS VARCHAR(1));

				SET @sql += '
				INSERT INTO dbo.ccoCallsOutSource_ZipCode (callout_id ' + @columnsZipCode  + ')
				SELECT 
					C.callout_id
					' + @valuesColumnsZipCode  + '
				FROM ' + QUOTENAME(@tableName) + ' AS T
				INNER JOIN dbo.ccoCallsOutSource AS C WITH (NOLOCK)
					ON T.cal_Key = C.cal_Key 
					AND T.cam_id = C.cam_id
				WHERE T.callout_id = 0 
				  AND T.cal_zipCodeValidation IS NOT NULL 
				  AND T.cal_zipCodeValidation <> '''';';
			END

			EXEC sp_executesql @sql;
		END
		
		ELSE IF @action = 3
		BEGIN
			SET @sql = '
			INSERT INTO dbo.ccoCallsPreviewData (
				cal_Key, cam_id, TotalData, Headers,
				Dato6, Dato7, Dato8, Dato9, Dato10,
				Dato11, Dato12, Dato13, Dato14, Dato15
			)
			SELECT 
				A.cal_Key, A.cam_id, A.TotalData, A.Headers,
				A.Dato6, A.Dato7, A.Dato8, A.Dato9, A.Dato10,
				A.Dato11, A.Dato12, A.Dato13, A.Dato14, A.Dato15
			FROM ' + QUOTENAME(@tableName) + ' A
			left join ccoCallsPreviewData B on A.cal_Key=B.cal_Key and A.cam_id=B.cam_id
			WHERE B.cam_id is null;
			';
		
			EXEC sp_executesql @sql;
		END
		ELSE IF @action = 4
		BEGIN
			SET @sql = '
			UPDATE C SET
				C.Headers = A.Headers,
				C.TotalData = A.TotalData,
				C.Dato6 = A.Dato6, C.Dato7 = A.Dato7, C.Dato8 = A.Dato8, C.Dato9 = A.Dato9, C.Dato10 = A.Dato10,
				C.Dato11 = A.Dato11, C.Dato12 = A.Dato12, C.Dato13 = A.Dato13, C.Dato14 = A.Dato14, C.Dato15 = A.Dato15
			FROM ' + QUOTENAME(@tableName) + ' A
			INNER JOIN dbo.ccoCallsPreviewData C WITH (ROWLOCK, UPDLOCK)
				ON A.cal_Key = C.cal_Key AND A.cam_id = C.cam_id;
			';
		
			EXEC sp_executesql @sql;
		END
		ELSE IF @action =5
		BEGIN
			if @isIAQuantumCamp =1 begin
				set @columnsIAQuntum=', C.data_api_quantum = A.data_api_quantum, C.data_overflow_variables_quantum = A.data_overflow_variables_quantum'
			END

			SET @sql = '
			UPDATE C SET
				C.cal_status = CASE WHEN B.callout_id IS NULL THEN @cal_status_param ELSE C.cal_status END,
				C.cal_telefono = A.cal_telefono,
				C.cal_telefono2 = A.cal_telefono2,
				C.cal_telefono3 = A.cal_telefono3,
				C.cal_telefono4 = A.cal_telefono4,
				C.cal_telefono5 = A.cal_telefono5,
				C.Dato1 = A.Dato1,
				C.Dato2 = A.Dato2,
				C.Dato3 = A.Dato3,
				C.Dato4 = A.Dato4,
				C.Dato5 = A.Dato5,
				C.dialPrefix = A.dialPrefix,
				C.list_id = A.list_id,
				C.cal_fechaDial = case when ISNULL(B.cal_status, 0) = 1 then C.cal_fechaDial else A.cal_fechaDial end,
				C.Region = A.Region,
				C.Localidad = A.Localidad,
				C.international = A.international,
				C.recycledByResult = @empty,
				C.recycledByDisposition = 0,
				C.recyclePhone = 0,
				C.recycleType = 1
				,C.iZonaHoraria=A.iZonaHoraria,C.iZonaHoraria_verano=A.iZonaHoraria_verano
				,C.iZonaHoraria2=A.iZonaHoraria2,C.iZonaHoraria_verano2=A.iZonaHoraria_verano2
				,C.iZonaHoraria3=A.iZonaHoraria3,C.iZonaHoraria_verano3=A.iZonaHoraria_verano3
				,C.iZonaHoraria4=A.iZonaHoraria4,C.iZonaHoraria_verano4=A.iZonaHoraria_verano4
				,C.iZonaHoraria5=A.iZonaHoraria5,C.iZonaHoraria_verano5=A.iZonaHoraria_verano5
				' + @columnsIAQuntum + '
			FROM ' + QUOTENAME(@tableName) + ' A
			LEFT JOIN dbo.ccoWorkingTable B WITH (ROWLOCK, UPDLOCK, READPAST) ON A.callout_id = B.callout_id AND B.cal_status <= 2
			INNER JOIN dbo.ccoCallsOutSource C WITH (ROWLOCK, UPDLOCK) ON A.callout_id = C.callout_id;';

			IF (@isZipCodeValidation = 1)
			BEGIN
				SET @columnsZipCode = 'Z.zipCode = A.cal_zipCodeValidation, Z.isZipCodeValidation = ' + CAST(@isZipCodeValidation AS VARCHAR(1));

				SET @sql += '
				UPDATE Z SET 
					' + @columnsZipCode + '
				FROM ' + QUOTENAME(@tableName) + ' A
				LEFT JOIN dbo.ccoWorkingTable B WITH (ROWLOCK, UPDLOCK, READPAST) ON A.callout_id = B.callout_id AND B.cal_status <= 2
				INNER JOIN dbo.ccoCallsOutSource_ZipCode Z WITH (ROWLOCK, UPDLOCK) ON A.callout_id = Z.callout_id;

				INSERT INTO dbo.ccoCallsOutSource_ZipCode (callout_id, zipCode, isZipCodeValidation)
				SELECT A.callout_id, A.cal_zipCodeValidation, 1
				FROM ' + QUOTENAME(@tableName) + ' A
				WHERE A.callout_id > 0 
				  AND A.cal_zipCodeValidation IS NOT NULL 
				  AND A.cal_zipCodeValidation <> ''''
				  AND NOT EXISTS (SELECT 1 FROM dbo.ccoCallsOutSource_ZipCode Z WHERE Z.callout_id = A.callout_id);';
			END
			
			SET @paramDef = N'@cal_status_param TINYINT, @empty varchar(1)';
			EXEC sp_executesql @sql, @paramDef, @cal_status_param = @cal_status, @empty= @empty;
		END
		ELSE IF @action = 6
		BEGIN
			DECLARE @today DATE = CONVERT(DATE, GETDATE());

			SET @sql = '
		UPDATE B
		SET B.list_id = A.list_id
		FROM ' + QUOTENAME(@tableName) + ' A
		INNER JOIN ccoCallsOutSource C WITH (NOLOCK)  ON A.callout_id = C.callout_id
		INNER JOIN ccoWorkingTable B WITH (NOLOCK)    ON A.callout_id = B.callout_id AND A.cam_id = B.cam_id
		WHERE B.list_id <> A.list_id;

		WHILE 1 = 1
		BEGIN
		    ;WITH cte AS
		    (
		        SELECT TOP (200) ld.logDial_id
		        FROM ' + QUOTENAME(@tableName) + ' t
		        LEFT JOIN ccoWorkingTable wt WITH (READPAST, UPDLOCK) ON t.cam_id = wt.cam_id AND t.callout_id = wt.callout_id AND wt.cal_status < 2
		        INNER JOIN ccoLogDials ld WITH (UPDLOCK) ON ld.callout_id = t.callout_id
		        WHERE wt.callout_id IS NULL AND ld.fecha >= @today AND (ld.canBeRecycled = 1 OR ld.canBeRecycled IS NULL)
				ORDER BY ld.logDial_id
		    )
		    UPDATE ld
		    SET ld.canBeRecycled = 0
		    FROM ccoLogDials ld
		    INNER JOIN cte x
		        ON ld.logDial_id = x.logDial_id;

		    IF @@ROWCOUNT = 0 BREAK;

			WAITFOR DELAY ''00:00:00.05'';
		END


		WHILE 1 = 1
		BEGIN
		    ;WITH cte AS
		    (
		        SELECT TOP (200) co.cal_id
		        FROM ' + QUOTENAME(@tableName) + ' t
		        LEFT JOIN ccoWorkingTable wt WITH (READPAST, UPDLOCK) ON t.cam_id = wt.cam_id AND t.callout_id = wt.callout_id AND wt.cal_status < 2
		        INNER JOIN ccoCallsOut co WITH (UPDLOCK) ON co.callout_id = t.callout_id
		        WHERE wt.callout_id IS NULL AND co.cal_Inicio >= @today AND (co.canBeRecycled = 1 OR co.canBeRecycled IS NULL)
				ORDER BY co.cal_id
		    )
		    UPDATE co
		    SET co.canBeRecycled = 0
		    FROM ccoCallsOut co
		    INNER JOIN cte x
		        ON co.cal_id = x.cal_id;

		    IF @@ROWCOUNT = 0 BREAK;

			WAITFOR DELAY ''00:00:00.05'';
		END

			';
			--print(@sql)
			EXEC sp_executesql @sql, N'@today DATE', @today=@today;
		END
		ELSE IF @action = 7
		BEGIN       

			-- Contar registros inválidos
			SET @sql = '
			SELECT @cnt = COUNT(*)
			FROM ' + QUOTENAME(@tableName) + ' A
			LEFT JOIN ccoWorkingTable B WITH (NOLOCK)
				ON A.callout_id = B.callout_id AND A.cam_id = B.cam_id AND B.cal_status <= 2
			WHERE B.callout_id IS NULL and A.callout_id > 0;';

			EXEC sp_executesql @sql, N'@cnt INT OUTPUT', @cnt = @count OUTPUT;

			-- Insertar en ccRIALogPhones los registros sin match
			SET @sql = '
			INSERT INTO ccRIALogPhones(load_id, cal_key, telefono, tipoMov, motivo,internationalRecords)
			SELECT @idLoad, A.cal_Key, @empty, 2, @motivo,@internationalRecords
			FROM ' + QUOTENAME(@tableName) + ' A
			LEFT JOIN ccoWorkingTable B WITH (NOLOCK)
				ON A.callout_id = B.callout_id AND A.cam_id = B.cam_id AND B.cal_status <= 2
			WHERE B.callout_id IS NULL;';

			EXEC sp_executesql @sql,
				N'@idLoad INT, @motivo NVARCHAR(200),@empty varchar(1),@internationalRecords int',
				@idLoad = @idLoad,
				@motivo = @motivo,
				@internationalRecords =@internationalRecords,
				@empty=@empty;

			-- Eliminar los registros sin match
			SET @sql = '
			DELETE A
			FROM ' + QUOTENAME(@tableName) + ' A
			LEFT JOIN ccoWorkingTable B WITH (NOLOCK)
				ON A.callout_id = B.callout_id AND A.cam_id = B.cam_id AND B.cal_status <= 2
			WHERE B.callout_id IS NULL;';

			EXEC(@sql);

			-- Retornar el count como resultado
			SELECT @count AS RegistrosEliminados;
		END
		ELSE IF @action = 8
		BEGIN
			

			-- Contar total de registros antes del borrado
			SET @sql = '
			SELECT @cnt = COUNT(*) FROM ' + QUOTENAME(@tableName) + ';';
		
			EXEC sp_executesql @sql, N'@cnt INT OUTPUT', @cnt = @count OUTPUT;

			-- Log en ccRIALogPhones todos los registros de la tabla temporal
			SET @sql = '
			INSERT INTO ccRIALogPhones(load_id, cal_key, telefono, tipoMov, motivo,internationalRecords)
			SELECT @idLoad, cal_Key, @empty, 6, @motivo,@internationalRecords FROM ' + QUOTENAME(@tableName) + ';';

			EXEC sp_executesql @sql,
					N'@idLoad INT, @motivo NVARCHAR(200),@empty varchar(1),@internationalRecords int',
				@idLoad = @idLoad,
				@motivo = @motivo,
				@internationalRecords =@internationalRecords,
				@empty=@empty;

			-- Eliminar todos los registros de la tabla temporal
			SET @sql = 'DELETE FROM ' + QUOTENAME(@tableName) + ';';
			EXEC(@sql);

			-- Retornar el número de registros eliminados
			SELECT @count AS RegistrosEliminados;
		END
		ELSE IF @action = 9 BEGIN
			
			DECLARE @country TINYINT;
			DECLARE @zipLogic_Inv VARCHAR(100) = '';
			DECLARE @zipLogic_Ver VARCHAR(100) = '';
			DECLARE @zipJoin VARCHAR(MAX) = '';
			DECLARE @zipRegion VARCHAR(MAX) = '';

			SELECT @country = CONVERT(TINYINT, valor) FROM ccSettings WITH (NOLOCK) WHERE setting_id = 104;
			
			if @country =1 begin
				select @zipCodeSchedule=@isZipCodeValidation;
			end
			if @zipCodeSchedule is null begin
				set @zipCodeSchedule=0
			END
        
			IF @zipCodeSchedule = 1 
			BEGIN
				SET @zipLogic_Inv = 'WHEN @country=1 THEN ISNULL(Z.tz_id_invierno,0) ';
				SET @zipLogic_Ver = 'WHEN @country=1 THEN ISNULL(Z.tz_id_verano,0) ';
				SET @zipJoin = ' OUTER APPLY dbo.fnGetTimeZoneByZip(T.cal_zipCodeValidation) AS Z ';
				SET @zipRegion = ', Region = Z.State';
			END

			SET @sql = '
			UPDATE T SET 
				iZonaHoraria = CASE 
					WHEN (cal_telefono IS NULL OR LTRIM(RTRIM(cal_telefono)) = @empty) THEN 0 
					' + @zipLogic_Inv + ' 
					ELSE dbo.fnGetTimeZone(T.cal_telefono,  0) END,
	 
				iZonaHoraria_verano = CASE 
					WHEN (cal_telefono IS NULL OR LTRIM(RTRIM(cal_telefono)) = @empty) THEN 0 
					 ' + @zipLogic_Ver + ' 
					 ELSE dbo.fnGetTimeZone(T.cal_telefono,  1) END,
	 
				iZonaHoraria2 = CASE 
					WHEN (cal_telefono2 IS NULL OR LTRIM(RTRIM(cal_telefono2)) = @empty) THEN 0 
					 ' + @zipLogic_Inv + '             
					 ELSE dbo.fnGetTimeZone(T.cal_telefono2,  0) END,
	 
				iZonaHoraria_verano2 = CASE 
					WHEN (cal_telefono2 IS NULL OR LTRIM(RTRIM(cal_telefono2)) = @empty) THEN 0  
					 ' + @zipLogic_Ver + '            
					 ELSE dbo.fnGetTimeZone(T.cal_telefono2,  1) END,

				iZonaHoraria3 = CASE 
					WHEN (cal_telefono3 IS NULL OR LTRIM(RTRIM(cal_telefono3)) = @empty) THEN 0 
					 ' + @zipLogic_Inv + '            
					 ELSE dbo.fnGetTimeZone(T.cal_telefono3,  0) END,
	 
				iZonaHoraria_verano3 = CASE 
					WHEN (cal_telefono3 IS NULL OR LTRIM(RTRIM(cal_telefono3)) = @empty) THEN 0 
					 ' + @zipLogic_Ver + '           
					 ELSE dbo.fnGetTimeZone(T.cal_telefono3,  1) END,

				iZonaHoraria4 = CASE 
					WHEN (cal_telefono4 IS NULL OR LTRIM(RTRIM(cal_telefono4)) = @empty) THEN 0 
					 ' + @zipLogic_Inv + '             
					 ELSE dbo.fnGetTimeZone(T.cal_telefono4,  0) END,
	 
				iZonaHoraria_verano4 = CASE 
					WHEN (cal_telefono4 IS NULL OR LTRIM(RTRIM(cal_telefono4)) = @empty) THEN 0 
					 ' + @zipLogic_Ver + '          
					 ELSE dbo.fnGetTimeZone(T.cal_telefono4,  1) END,

				iZonaHoraria5 = CASE 
					WHEN (cal_telefono5 IS NULL OR LTRIM(RTRIM(cal_telefono5)) = @empty) THEN 0 
					 ' + @zipLogic_Inv + '              
					 ELSE dbo.fnGetTimeZone(T.cal_telefono5,  0) END,
	 
				iZonaHoraria_verano5 = CASE 
					WHEN (cal_telefono5 IS NULL OR LTRIM(RTRIM(cal_telefono5)) = @empty) THEN 0 
					 ' + @zipLogic_Ver + '           
					 ELSE dbo.fnGetTimeZone(T.cal_telefono5,  1) END
					' + @zipRegion + '

			FROM ' + QUOTENAME(@tableName) + ' T ' + @zipJoin;
		
			EXEC sp_executesql @sql,
				N'@country TINYINT,@empty varchar(1)',
				@country = @country,
				@empty = @empty

		END
		ELSE IF @action = 10
		BEGIN
			SET @sql = 'DELETE FROM ' + QUOTENAME(@tableName) + ' WHERE callout_id = 0;';    
			EXEC sp_executesql @sql;
		END
		 ELSE IF @action = 11 BEGIN
					
			SET @sql = '
		UPDATE T SET 
			international=@internationalRecords
		FROM ' + QUOTENAME(@tableName) + ' T
		'
		EXEC sp_executesql @sql,
				N'@internationalRecords int',         
				@empty = @empty

		END
		ELSE
		BEGIN
			RAISERROR('Acción inválida: %d. Use 1 = UpdateOutSource, 2 = UpdateLogDials, 3 = UpdateCallsOut, 4 = UpdateInternational', 16, 1, @action);
			RETURN;
		END
	END