USE [CCenterRIA]
GO
/****** Object:  StoredProcedure [dbo].[ccsp_UpdateSmsOutFromTempAction]    Script Date: 3/11/2026 5:46:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[ccsp_UpdateSmsOutFromTempAction]
    @action INT,
    @tableName NVARCHAR(255),
    @sms_status int = 0,
    @idLoad int=0,
    @motivo varchar(50)=null,   
    @DateStart varchar(50) = null,
    @DateEnd varchar(50) = null,
    @internationalRecords int=0,
	@isZipCodeValidation BIT = 0

AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @sql NVARCHAR(MAX);
    DECLARE @paramDef NVARCHAR(300);
    DECLARE @date datetime = getdate()  
    declare @empty varchar(1)='',@zipCodeSchedule BIT = 0 ;
	DECLARE @columnsZipCode varchar(max)='', @valuesColumnsZipCode varchar(max)='';

    IF @action = 1
    BEGIN
        SET @sql = 'INSERT INTO dbo.smsOutSource(callkey,sms_phoneNumber,sms_phoneNumber2,sms_phoneNumber3,sms_phoneNumber4,sms_phoneNumber5,
        data1,data2,data3,data4,data5,list_id,cam_id,Region,Localidad,sms_status,sms_dateDial,
        iTimeZone,iTimeZone_summer,iTimeZone2,iTimeZone_summer2,iTimeZone3,iTimeZone_summer3,iTimeZone4,iTimeZone_summer4,iTimeZone5,iTimeZone_summer5)
        select cal_Key,cal_telefono,cal_telefono2,cal_telefono3,cal_telefono4,cal_telefono5
        ,Dato1,Dato2,Dato3,Dato4,Dato5,list_id,cam_id,Region,Localidad,cal_status,cal_fechaDial 
        ,iZonaHoraria,iZonaHoraria_verano
        ,iZonaHoraria2,iZonaHoraria_verano2
        ,iZonaHoraria3,iZonaHoraria_verano3
        ,iZonaHoraria4,iZonaHoraria_verano4
        ,iZonaHoraria5,iZonaHoraria_verano5
        from ' + QUOTENAME(@tableName) + ' where callout_id=0;';

		IF (@isZipCodeValidation = 1)
		BEGIN
			SET @columnsZipCode = ', zipCode, isZipCodeValidation'
			SET @valuesColumnsZipCode = ', T.cal_zipCodeValidation, ' +CAST(@isZipCodeValidation AS VARCHAR(1));

			SET @sql += '
			INSERT INTO dbo.smsOutSource_ZipCode (smsout_id ' + @columnsZipCode  + ')
			SELECT 
				C.smsout_id
				' + @valuesColumnsZipCode  + '
			FROM ' + QUOTENAME(@tableName) + ' AS T
			INNER JOIN dbo.smsOutSource AS C WITH (NOLOCK)
				ON T.callkey = C.callkey 
				AND T.cam_id = C.cam_id
			WHERE T.callout_id=0
				AND T.cal_zipCodeValidation IS NOT NULL 
				AND T.cal_zipCodeValidation <> '''';';
		END
       
        EXEC sp_executesql @sql;
    END
    ELSE IF @action = 2
    BEGIN
        SET @sql = N'
UPDATE A
SET A.cal_fechaDial = CASE 
                         WHEN A.callout_id > 0 THEN B.sms_dateDial 
                         ELSE @date
                      END
FROM ' + QUOTENAME(@tableName) + ' AS A
INNER JOIN smsOutSource AS B WITH (NOLOCK)
    ON A.callout_id = B.smsout_id;
';
        SET @paramDef =  N'@date DATETIME';
        EXEC sp_executesql @sql,@paramDef , @date = @date;
    END
    
    ELSE IF @action = 3
    BEGIN
        SET @sql = 'update C set C.sms_status = @sms_status,
C.sms_phoneNumber = A.cal_telefono,C.sms_phoneNumber2 = A.cal_telefono2,C.sms_phoneNumber3 = A.cal_telefono3,C.sms_phoneNumber4 = A.cal_telefono4,
C.sms_phoneNumber5 = A.cal_telefono5,
C.data1 = A.Dato1,C.data2 = A.Dato2,C.data3 = A.Dato3,C.data4 = A.Dato4,C.data5 = A.Dato5,
C.list_id = A.list_id,
C.sms_dateDial =  '''+@DateStart+''', C.sms_dateDialEnd =  '''+@DateEnd+''',
C.Region = A.Region,
C.Localidad = A.Localidad,
C.isSegmentLoad = 1
,C.iTimeZone=A.iZonaHoraria,C.iTimeZone_summer=A.iZonaHoraria_verano
,C.iTimeZone2=A.iZonaHoraria2,C.iTimeZone_summer2=A.iZonaHoraria_verano2
,C.iTimeZone3=A.iZonaHoraria3,C.iTimeZone_summer3=A.iZonaHoraria_verano3
,C.iTimeZone4=A.iZonaHoraria4,C.iTimeZone_summer4=A.iZonaHoraria_verano4
,C.iTimeZone5=A.iZonaHoraria5,C.iTimeZone_summer5=A.iZonaHoraria_verano5
from ' + QUOTENAME(@tableName) + ' A 
left join dbo.smsWorkingTable  B with (nolock) on A.callout_id=B.smsout_id and A.cam_id=B.cam_id and B.sms_status <=2
inner join dbo.smsOutSource  C with(nolock) on A.callout_id=C.smsout_id
where B.smsout_id is null;';
        
        SET @paramDef =   N'@sms_status int';
        EXEC sp_executesql @sql,@paramDef ,@sms_status=@sms_status;
    END
    ELSE IF @action = 4
    BEGIN

        SET @sql = 'update C set C.sms_status = @sms_status,
		C.sms_phoneNumber = A.cal_telefono,C.sms_phoneNumber2 = A.cal_telefono2,C.sms_phoneNumber3 = A.cal_telefono3,C.sms_phoneNumber4 = A.cal_telefono4,
		C.sms_phoneNumber5 = A.cal_telefono5,
		C.data1 = A.Dato1,C.data2 = A.Dato2,C.data3 = A.Dato3,C.data4 = A.Dato4,C.data5 = A.Dato5,
		C.list_id = A.list_id,
		C.sms_dateDial =  A.cal_fechaDial,
		C.Region = A.Region,
		C.Localidad = A.Localidad
		,C.isSegmentLoad = 0
		from  ' + QUOTENAME(@tableName) + ' A 
		left join dbo.smsWorkingTable  B with (nolock) on A.callout_id=B.smsout_id and A.cam_id=B.cam_id and B.sms_status <=2
		inner join dbo.smsOutSource  C with(nolock) on A.callout_id=C.smsout_id';

		IF (@isZipCodeValidation = 1)
			BEGIN
				SET @columnsZipCode = 'Z.zipCode = ' + CASE WHEN @isZipCodeValidation = 1 THEN 'A.cal_zipCodeValidation' ELSE '@empty' END + 
                        ', Z.isZipCodeValidation = ' + CAST(@isZipCodeValidation AS VARCHAR(1));

				SET @sql += '
				UPDATE Z SET 
					' + @columnsZipCode + '
				FROM ' + QUOTENAME(@tableName) + ' A
				LEFT JOIN dbo.smsWorkingTable B WITH (ROWLOCK, UPDLOCK, READPAST) ON A.callout_id = B.smsout_id and A.cam_id=B.cam_id and B.sms_status <=2
				INNER JOIN dbo.smsOutSource_ZipCode Z WITH (ROWLOCK, UPDLOCK) ON A.callout_id = Z.smsout_id;

				INSERT INTO dbo.smsOutSource_ZipCode (smsout_id, zipCode, isZipCodeValidation)
				SELECT A.callout_id, A.cal_zipCodeValidation, 1
				FROM ' + QUOTENAME(@tableName) + ' A
				WHERE A.callout_id > 0 
					AND A.cal_zipCodeValidation IS NOT NULL 
					AND A.cal_zipCodeValidation <> ''''
					AND NOT EXISTS (SELECT 1 FROM dbo.smsOutSource_ZipCode Z WHERE Z.smsout_id = A.callout_id);';
			END
        
        SET @paramDef =   N'@sms_status int, @empty varchar(1)';
        EXEC sp_executesql @sql,@paramDef ,@sms_status=@sms_status, @empty = @empty;     

    END
    ELSE IF @action =5
    BEGIN
        SET @sql = 'select count(*) from ' + QUOTENAME(@tableName) + ' A
left join smsWorkingTable B with (nolock) on A.callout_id=B.smsout_id and A.cam_id=B.cam_id and B.sms_status <=2
where B.smsout_id is null;';
        
        EXEC sp_executesql @sql;
    END
    ELSE IF @action =6
    BEGIN
        SET @sql = 'Insert into ccRIALogPhones(load_id,cal_key,telefono,tipoMov,motivo,internationalRecords)
select @idLoad, A.cal_Key,@empty, 2, @motivo, @internationalRecords from ' + QUOTENAME(@tableName) + ' A
left join smsWorkingTable B with (nolock) on A.callout_id=B.smsout_id and A.cam_id=B.cam_id and B.sms_status <=2
where B.smsout_id is null;

delete A from ' + QUOTENAME(@tableName) + ' A
left join smsWorkingTable B with (nolock) on A.callout_id=B.smsout_id and A.cam_id=B.cam_id and B.sms_status <=2
where B.smsout_id is null;';

        SET @paramDef = N'@empty varchar(1),@idLoad int,@motivo varchar(50),@internationalRecords int';
        EXEC sp_executesql @sql, @paramDef, 
        @empty=@empty,
        @idLoad=@idLoad,
        @motivo=@motivo,
        @internationalRecords =@internationalRecords;
    END

    ELSE IF @action =7
    BEGIN
        SET @sql = 'select count(*) from ' + QUOTENAME(@tableName) + ';
Insert into ccRIALogPhones(load_id,cal_key,telefono,tipoMov,motivo)
select @idLoad, A.cal_Key,@empty, 2, @motivo from ' + QUOTENAME(@tableName) + ' A;
delete from ' + QUOTENAME(@tableName) + ';';

        SET @paramDef = N'@empty varchar(1),@idLoad int,@motivo varchar(50)';
        EXEC sp_executesql @sql, @paramDef, @empty = @empty,@idLoad=@idLoad,@motivo=@motivo;
    END
    ELSE IF @action = 8
    BEGIN
        SET @sql = 'select count(*) from ' + QUOTENAME(@tableName) + ' where callout_id=0;
delete from ' + QUOTENAME(@tableName) + ' where callout_id=0;';

        EXEC sp_executesql @sql;
    END
    ELSE IF @action =9
    BEGIN
        SET @sql = 'Insert into ccRIALogPhones(load_id,cal_key,telefono,tipoMov,motivo,internationalRecords)
select @idLoad, A.cal_Key,@empty, 2, @motivo, @internationalRecords from ' + QUOTENAME(@tableName) + ' A;
delete from ' + QUOTENAME(@tableName) + ';';

        SET @paramDef = N'@empty varchar(1),@idLoad int,@motivo varchar(50), @internationalRecords int';
        EXEC sp_executesql @sql, @paramDef, 
        @empty=@empty,
        @idLoad=@idLoad,
        @motivo=@motivo,
        @internationalRecords =@internationalRecords;       
    END 
    ELSE IF @action = 10
    BEGIN
        SET @sql = 'select count(*) from ' + QUOTENAME(@tableName) + ';';
        EXEC sp_executesql @sql
    END
    ELSE IF @action = 11 BEGIN

		DECLARE @country TINYINT;
		DECLARE @zipLogic_Inv VARCHAR(100) = '';
		DECLARE @zipLogic_Ver VARCHAR(100) = '';
		DECLARE @zipJoin VARCHAR(MAX) = '';
		DECLARE @zipRegion VARCHAR(MAX) = '';

		SELECT @country = CONVERT(TINYINT, valor) FROM ccSettings WITH (NOLOCK) WHERE setting_id = 104;
		IF @country =1 begin
				select @zipCodeSchedule=@isZipCodeValidation;
		END
        
		if @zipCodeSchedule is null begin
			set @zipCodeSchedule=0
		END
        
		IF @zipCodeSchedule = 1 
		BEGIN
			SET @zipLogic_Inv = 'WHEN @country=1 THEN ISNULL(Z.tz_id_invierno,0) ';
			SET @zipLogic_Ver = 'WHEN @country=1 THEN ISNULL(Z.tz_id_verano,0) ';
			SET @zipJoin = ' OUTER APPLY dbo.fnGetTimeZoneByZip(T.cal_zipCodeValidation) AS Z ';
			SET @zipRegion = ', Region = Z.State';
		END
                
        SET @sql = '
		UPDATE T SET 
			iZonaHoraria = CASE 
				WHEN (cal_telefono IS NULL OR LTRIM(RTRIM(cal_telefono)) = @empty) THEN 0   
				 ' + @zipLogic_Inv + ' 
				  ELSE dbo.fnGetTimeZone(T.cal_telefono,  0) END,
 
			iZonaHoraria_verano = CASE 
			  WHEN (cal_telefono IS NULL OR LTRIM(RTRIM(cal_telefono)) = @empty) THEN 0  
			   ' + @zipLogic_Ver + '   
				 ELSE dbo.fnGetTimeZone(T.cal_telefono,  1) END,
 
			iZonaHoraria2 = CASE 
				WHEN (cal_telefono2 IS NULL OR LTRIM(RTRIM(cal_telefono2)) = @empty) THEN 0 
				 ' + @zipLogic_Inv + ' 
				  ELSE dbo.fnGetTimeZone(T.cal_telefono2,  0) END,
 
			iZonaHoraria_verano2 = CASE 
			  WHEN (cal_telefono2 IS NULL OR LTRIM(RTRIM(cal_telefono2)) = @empty) THEN 0               
			   ' + @zipLogic_Ver + '   
				 ELSE dbo.fnGetTimeZone(T.cal_telefono2,  1) END,

			iZonaHoraria3 = CASE 
				WHEN (cal_telefono3 IS NULL OR LTRIM(RTRIM(cal_telefono3)) = @empty) THEN 0
				 ' + @zipLogic_Inv + ' 
				 ELSE dbo.fnGetTimeZone(T.cal_telefono3,  0) END,
 
			iZonaHoraria_verano3 = CASE 
			  WHEN (cal_telefono3 IS NULL OR LTRIM(RTRIM(cal_telefono3)) = @empty) THEN 0  
			   ' + @zipLogic_Ver + '   
				 ELSE dbo.fnGetTimeZone(T.cal_telefono3,  1) END,

			iZonaHoraria4 = CASE 
				WHEN (cal_telefono4 IS NULL OR LTRIM(RTRIM(cal_telefono4)) = @empty) THEN 0  
				 ' + @zipLogic_Inv + ' 
				 ELSE dbo.fnGetTimeZone(T.cal_telefono4,  0) END,
 
			iZonaHoraria_verano4 = CASE 
			  WHEN (cal_telefono4 IS NULL OR LTRIM(RTRIM(cal_telefono4)) = @empty) THEN 0 
			   ' + @zipLogic_Ver + '   
				ELSE dbo.fnGetTimeZone(T.cal_telefono4,  1) END,

			iZonaHoraria5 = CASE 
				WHEN (cal_telefono5 IS NULL OR LTRIM(RTRIM(cal_telefono5)) = @empty) THEN 0 
				 ' + @zipLogic_Inv + ' 
				 ELSE dbo.fnGetTimeZone(T.cal_telefono5,  0) END,
 
			iZonaHoraria_verano5 = CASE 
			   WHEN (cal_telefono5 IS NULL OR LTRIM(RTRIM(cal_telefono5)) = @empty) THEN 0 
			    ' + @zipLogic_Ver + '         
				 ELSE dbo.fnGetTimeZone(T.cal_telefono5,  1) END
			' + @zipRegion + '

		FROM ' + QUOTENAME(@tableName) + ' T ' + @zipJoin;

		EXEC sp_executesql @sql,
				N'@country TINYINT,@empty varchar(1)', 
				@country = @country,
				@empty = @empty

    END
    ELSE
    BEGIN
        RAISERROR('Acción inválida: %d. Use 1 = UpdateOutSource, 2 = UpdateLogDials, 3 = UpdateCallsOut, 4 = UpdateInternational', 16, 1, @action);
        RETURN;
    END
END