USE [CCenterRIA]
GO
/****** Object:  Trigger [dbo].[trigZonaHoraria]    Script Date: 16/02/2026 03:36:20 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER TRIGGER [dbo].[trigZonaHoraria] ON [dbo].[ccoCallsOutSource]
FOR INSERT,UPDATE
AS
SET NOCOUNT ON
begin
declare @country as tinyint,@zipCodeSchedule bit 
declare @tableCpZoneSchedule table(callout_id int primary key,iZonaHoraria int,iZonaHoraria_verano int)

select @country =convert(tinyint, valor) from ccSettings with(nolock) where setting_id = 104
-- ALEXIS Acá iría la nueva validación al realizar la carga
--if @country =1 begin
--    select @zipCodeSchedule=zipCodeSchedule from ccCampsExtend where cam_id in(select top 1 cam_id from inserted)
--end
if @zipCodeSchedule is null begin
    set @zipCodeSchedule=0
end

if @zipCodeSchedule = 1 begin
    
    insert into @tableCpZoneSchedule
    select cs.callout_id, inv.tz_id,v.tz_id
    from ccTimeZoneAreaCP zoneCp with(nolock) 
    inner join inserted cs on zoneCp.ZipCode=cs.Dato1   
    inner join ccTimeZones V on V.tz_offset=zoneCp.SummerTimeDifference
    inner join ccTimeZones inv on inv.tz_offset=zoneCp.WinterTimeDifference
end


if update(cal_telefono) begin
    update ccoCallsOutSource 
    set iZonaHoraria =case  when i.cal_telefono ='' then 0 
        when cs.iZonaHoraria=0 or cs.cal_telefono<>i.cal_telefono then
                                case when @zipCodeSchedule=1 then cp.iZonaHoraria else dbo.fnGetTimeZone(cs.cal_telefono,0) end 
                           else cs.iZonaHoraria end,

    iZonaHoraria_verano =case  when i.cal_telefono ='' then 0 
    when cs.iZonaHoraria_verano=0 or cs.cal_telefono<>i.cal_telefono then 
                                    case when @zipCodeSchedule=1 then cp.iZonaHoraria_verano else dbo.fnGetTimeZone(cs.cal_telefono,1) end 
                              else cs.iZonaHoraria_verano end
    from ccoCallsOutSource cs 
    inner join inserted i
    left join @tableCpZoneSchedule cp on cp.callout_id= i.callout_id
    on cs.callout_id = i.callout_id
end

if update(cal_telefono2) begin
    update ccoCallsOutSource 
    set iZonaHoraria2 = case when i.cal_telefono2 ='' then 0 
                when cs.iZonaHoraria2=0 or cs.cal_telefono2<>i.cal_telefono2 then 
                                    case when @zipCodeSchedule=1 then cp.iZonaHoraria else dbo.fnGetTimeZone(cs.cal_telefono2,0) end 
                             else cs.iZonaHoraria2 end,

    iZonaHoraria_verano2 = case when i.cal_telefono2 ='' then 0 
    when cs.iZonaHoraria_verano2=0 or cs.cal_telefono2<>i.cal_telefono2 then 
                                        case when @zipCodeSchedule=1 then cp.iZonaHoraria_verano else  dbo.fnGetTimeZone(cs.cal_telefono2,1) end 
                                else cs.iZonaHoraria_verano2 end
    from ccoCallsOutSource cs 
    inner join inserted i on cs.callout_id = i.callout_id
    left join @tableCpZoneSchedule cp on cp.callout_id= i.callout_id
    
end

if update(cal_telefono3) begin
    update ccoCallsOutSource 
    set iZonaHoraria3 =  case when i.cal_telefono3 ='' then 0 
        when cs.iZonaHoraria3=0  or cs.cal_telefono3<>i.cal_telefono3 then 
                                    case when @zipCodeSchedule=1 then cp.iZonaHoraria else dbo.fnGetTimeZone(cs.cal_telefono3,0) end 
                              else cs.iZonaHoraria3 end,
    iZonaHoraria_verano3 = case when i.cal_telefono3 ='' then 0 
        when cs.iZonaHoraria_verano3=0 or cs.cal_telefono3<>i.cal_telefono3 then 
                                        case when @zipCodeSchedule=1 then cp.iZonaHoraria_verano else  dbo.fnGetTimeZone(cs.cal_telefono3,1) end 
                                else cs.iZonaHoraria_verano3 end
    from ccoCallsOutSource cs 
    inner join inserted i on cs.callout_id = i.callout_id
    left join @tableCpZoneSchedule cp on cp.callout_id= i.callout_id
end

if update(cal_telefono4) begin
    update ccoCallsOutSource 
    set iZonaHoraria4 = case when i.cal_telefono4 ='' then 0 
    when cs.iZonaHoraria4=0  or cs.cal_telefono4<>i.cal_telefono4  then 
                                    case when @zipCodeSchedule=1 then cp.iZonaHoraria else dbo.fnGetTimeZone(cs.cal_telefono4,0) end 
                            else cs.iZonaHoraria4 end,
    iZonaHoraria_verano4 = case when i.cal_telefono4 ='' then 0 
    when cs.iZonaHoraria_verano4=0 or cs.cal_telefono4<>i.cal_telefono4 then 
                                        case when @zipCodeSchedule=1 then cp.iZonaHoraria_verano else   dbo.fnGetTimeZone(cs.cal_telefono4,1) end 
                                else cs.iZonaHoraria_verano4 end
    from ccoCallsOutSource cs 
    inner join inserted i on cs.callout_id = i.callout_id
    left join @tableCpZoneSchedule cp on cp.callout_id= i.callout_id
end

if update(cal_telefono5) begin
    update ccoCallsOutSource 
    set iZonaHoraria5 = case when i.cal_telefono5 ='' then 0 
    when cs.iZonaHoraria5=0 or cs.cal_telefono5<>i.cal_telefono5  then 
                                    case when @zipCodeSchedule=1 then cp.iZonaHoraria else dbo.fnGetTimeZone(cs.cal_telefono5,0) end 
                            else cs.iZonaHoraria5 end,
    iZonaHoraria_verano5 = case when i.cal_telefono5 ='' then 0 
    when cs.iZonaHoraria_verano5=0  or cs.cal_telefono5<>i.cal_telefono5 then 
                                        case when @zipCodeSchedule=1 then cp.iZonaHoraria_verano else   dbo.fnGetTimeZone(cs.cal_telefono5,1) end 
                                else cs.iZonaHoraria_verano5 end
    from ccoCallsOutSource cs 
    inner join inserted i on cs.callout_id = i.callout_id
    left join @tableCpZoneSchedule cp on cp.callout_id= i.callout_id
end
end
