USE [CCenterRIA]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[ccsp_InsertDNCList_Static]
    @telephone NVARCHAR(30) = NULL,
    @ln_id INT,
    @calKey VARCHAR(40) = NULL,
    @skipWorkingCleanup BIT = 0 -- 0 = limpia WT/CS, 1 = solo inserta en ccListaNegra
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @telefonoLimpio VARCHAR(30);

    IF @telephone IS NULL OR @telephone = ''
        RETURN;

    SET @telefonoLimpio = CONVERT(VARCHAR(30), dbo.Limpia(@telephone));

    IF @telefonoLimpio IS NULL OR @telefonoLimpio = ''
        RETURN;
 
    IF NOT EXISTS
    (
        SELECT 1
        FROM dbo.ccListaNegra with(nolock)
        WHERE idtipolista = @ln_id
            AND telefono = @telefonoLimpio
            AND (calKey = @calKey OR (calKey IS NULL AND @calKey IS NULL))
    )
    BEGIN       

        INSERT INTO dbo.ccListaNegra
        (
            telefono,
            idtipolista,
            HashKey,
            calKey
        )
        VALUES
        (
            @telefonoLimpio,
            @ln_id,
            dbo.hashList(@calKey),
            @calKey
        );

        INSERT INTO dbo.cchistoriallistanegra
        (
            telefono,
            idtipomov,
            idtipolista
        )
        VALUES
        (
            @telefonoLimpio,
            7,
            @ln_id
        );

        IF NOT EXISTS
        (
            SELECT 1
            FROM dbo.ccDNCQueue
            WHERE telefono = @telefonoLimpio
              AND ln_id = @ln_id
              AND (calKey = @calKey OR (calKey IS NULL AND @calKey IS NULL))
        )
        BEGIN
            INSERT INTO dbo.ccDNCQueue (telefono, ln_id, calKey)
            VALUES (@telefonoLimpio, @ln_id, @calKey);
        END



    END
       
    
   

END
GO