USE [CCenterRIA]
GO
/****** Object:  StoredProcedure [dbo].[ccsp_PhoneInBL]    Script Date: 13/03/2026 05:31:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[ccsp_PhoneInBL]
@action as tinyint,
@cam_id as smallint = null,
@telefono as varchar(30) = null,
@cal_key as varchar(40) = null,
@telefono2 varchar(30) = null,
@telefono3 varchar(30) = null,
@telefono4 varchar(30) = null,
@telefono5 varchar(30) = null,
@insertRow nvarchar(max) =null

AS

declare @sql nvarchar(max)
DECLARE @tableName NVARCHAR(255)

if @action = 1 begin
    if (select dbo.ValidateBlackListPhone(@telefono,@cam_id,@cal_key)) = 1 begin
        select 1 as IsBlackList
    end
    else begin
        select 0 as IsBlackList
    end
end
else if @action =2 begin
    DECLARE @hKey BIGINT = dbo.hashList(@cal_key);

    ;WITH Phones AS (
      SELECT * FROM (
        SELECT 1 AS ord, dbo.hashPhone(@telefono) AS hTel
        UNION ALL
        SELECT 2, dbo.hashPhone(@telefono2)
        UNION ALL
        SELECT 3, dbo.hashPhone(@telefono3)
        UNION ALL
        SELECT 4, dbo.hashPhone(@telefono4)
        UNION ALL
        SELECT 5, dbo.hashPhone(@telefono5)
      ) AS phones
      WHERE hTel IS NOT NULL
    )
    SELECT
      MAX(CASE WHEN p.ord = 1 AND m.match_flag = 1 THEN 1 ELSE 0 END) AS hasBlackList,
      MAX(CASE WHEN p.ord = 2 AND m.match_flag = 1 THEN 1 ELSE 0 END) AS hasBlackList2,
      MAX(CASE WHEN p.ord = 3 AND m.match_flag = 1 THEN 1 ELSE 0 END) AS hasBlackList3,
      MAX(CASE WHEN p.ord = 4 AND m.match_flag = 1 THEN 1 ELSE 0 END) AS hasBlackList4,
      MAX(CASE WHEN p.ord = 5 AND m.match_flag = 1 THEN 1 ELSE 0 END) AS hasBlackList5
    FROM Phones p
    LEFT JOIN (
      SELECT
        cn.Hashtel,
        cn.HashKey,
        cl.cam_id,
        1 AS match_flag
      FROM camplistanegra cl with(nolock)
      Inner JOIN cclistanegra  cn with(nolock) ON cn.idtipolista = cl.idtipolista AND (cn.HashKey IS NULL OR cn.HashKey = @hKey)
      WHERE cl.STATUS = 1
      and cl.cam_id = @cam_id
    ) m
      ON m.Hashtel  = p.hTel
end
else if @action =3 begin
    exec [ccsp_PhoneInBL] @action=6,@cam_id=@cam_id
    set @tableName = 'PhoneListTemp_' + CAST(@cam_id AS VARCHAR);

    set @sql='CREATE TABLE '+@tableName+'(
        callout_id INT
        , hKey bigint
        , hTel bigint
        , ord int
        )
        CREATE NONCLUSTERED INDEX IX_'+@tableName+'_1 ON '+@tableName+'(hTel, hKey);
        '
    --print(@sql)
    exec(@sql)
end
else if @action = 4 begin
    exec(@insertRow)
end

else if @action = 5 begin
    set @tableName = 'PhoneListTemp_' + CAST(@cam_id AS VARCHAR);

    SET @sql = 'SELECT 
    p.callout_id,

    MAX(CASE WHEN p.ord = 1 AND n.Hashtel IS NOT NULL THEN 1 ELSE 0 END) AS hasBlackList,
    MAX(CASE WHEN p.ord = 2 AND n.Hashtel IS NOT NULL THEN 1 ELSE 0 END) AS hasBlackList2,
    MAX(CASE WHEN p.ord = 3 AND n.Hashtel IS NOT NULL THEN 1 ELSE 0 END) AS hasBlackList3,
    MAX(CASE WHEN p.ord = 4 AND n.Hashtel IS NOT NULL THEN 1 ELSE 0 END) AS hasBlackList4,
    MAX(CASE WHEN p.ord = 5 AND n.Hashtel IS NOT NULL THEN 1 ELSE 0 END) AS hasBlackList5

FROM ' + @tableName + ' p
LEFT JOIN cclistanegra n WITH (NOLOCK) 
    ON p.hTel = n.Hashtel 

LEFT JOIN camplistanegra cl 
    ON cl.idtipolista = n.idtipolista 
    AND cl.status = 1 
    AND cl.cam_id =  @cam_id

GROUP BY p.callout_id
    OPTION (RECOMPILE);
    ';
--    print(@sql)
    EXEC sp_executesql @sql, N'@cam_id INT', @cam_id = @cam_id;

end

else if @action = 6 begin
    set @tableName = 'PhoneListTemp_' + CAST(@cam_id AS VARCHAR);

    set @sql = 'if exists( select * from sys.tables where name='''+@tableName+''') begin
    DROP TABLE '+@tableName+'
end';

    EXEC sp_executesql @sql;
end
