USE [CCenterRIA]
GO
/****** Object:  StoredProcedure [dbo].[ccsp_ValidateManualRotation]    Script Date: 18/03/2026 03:44:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[ccsp_ValidateManualRotation]
@camId INT
AS
set nocount on

SELECT TOP 1 CONVERT(int, ISNULL(selectRotationManualDialing, 0)) as selectRotationManualDialing FROM ccCamps WHERE cam_id = @camId;

set nocount off