USE [CCenterRIA]
GO
/****** Object:  StoredProcedure [dbo].[ccsp_RIACampsManualCall]    Script Date: 20/03/2026 12:29:13 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[ccsp_RIACampsManualCall]

@option int,
@UserID int = 0,
@onChat int = 0,
@campId int = 0
AS
set nocount on
if(@option = 1)
begin
	if (@onChat = 0)
	begin
		declare @mod smallint
		declare @IdArea smallint
		declare @DialingMode tinyint
		select @IdArea = IDArea, @DialingMode = DialingMode from ccUsers where User_id = @UserID
		select @mod = defCampaing from ccRIACat_Areas A
		where A.IDArea = @IdArea
		select distinct c.cam_id, c.cam_descripcion, case when ca.cam_id=@mod then 1 else 0 end [isDefault],  g.graphic_id, c.cam_ModoManual,
		isnull(c.selectRotativeANI, 0) selectRotativeANI
		, CASE WHEN c.ivrScript <> 0 AND c.callsBySurvey <> 0 THEN 8 ELSE isnull(c.CampType,0) END as CampType,
		CASE WHEN @DialingMode = 1 THEN (select count(1) from ccoWorkingTable nolock where cam_id = c.cam_id) ELSE 0 END AS countJobs,
		isnull(c.timesPreview, 0) timesPreview,
		isnull(ce.zipCodeSchedule, 0) AS zipCodeSchedule
		from ccCamps c with(index(PK_ccCamps)) join ccCampsAgente ca on c.cam_id=ca.cam_id and c.IDArea = @IdArea
		join ccRIACampsGraph g ON g.cam_id = c.cam_id
		left join ccCampsExtend ce ON ce.cam_id = c.cam_id
		where ca.user_id = @UserID
			and cam_ModoManual = case when @DialingMode = 1 OR (@DialingMode = 0 AND cam_ModoManual in (1,3)) then cam_ModoManual else -1 end AND CampType = CASE WHEN @DialingMode = 1 THEN 6 ELSE CampType END
		order by cam_descripcion
	end
	else
	begin
		select distinct c.cam_id, c.cam_descripcion,  g.graphic_id,  c.cam_ModoManual
		, isnull(c.CampType,0) as CampType,
		isnull(ce.zipCodeSchedule, 0) AS zipCodeSchedule
		from ccCamps c with(index(PK_ccCamps)) join ccCampsAgente ca on c.cam_id=ca.cam_id
		join ccRIACampsGraph g ON g.cam_id = c.cam_id
		join ccCampsExtend ce ON ce.cam_id = c.cam_id
		where ca.user_id = @UserID and manualCallOnChat = 1
		order by cam_descripcion
		SET NOCOUNT OFF;
	end
end
if(@option = 2)
begin
	declare @aniList int
	declare @rotativeAniListId int
	select @aniList = id_anilist, @rotativeAniListId  = rotativeAlgo from ccCamps where cam_id = @campId
	if @rotativeAniListId >0 begin
		select telAni from ccRotativeANIListDetail with(nolock) where id_RAniList = @aniList
	end
	else begin
		select top 0 '' telAni
	end
end