--sears
USE [CCenterRIA]
GO
/****** Object:  StoredProcedure [dbo].[ccsp_GalateaAdminCampaigns]    Script Date: 20/03/2026 01:43:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[ccsp_GalateaAdminCampaigns]
@Option AS      SMALLINT,
@CampType AS    SMALLINT = 0,
@WorkgroupId AS INT      = 0,
@Id AS          INT      = 0,
@AdminId AS     SMALLINT = 0,
@PinUpdate AS   SMALLINT = 0,
@LoadId AS      INT      = 0,
@Type AS        SMALLINT = 0,
@InboundType    SMALLINT = 0,
@AreaId         SMALLINT = 0,
@multi_type     varchar(max) = null,
@IsWhatsAppCampaign  bit = 0,
@groupList as varchar (MAX) = NULL,
@CampId AS      SMALLINT = 0
AS
BEGIN
    SET NOCOUNT ON;
IF @Option = 1 BEGIN -- Get Campaigns Ids List Per Workgroup and Campaign Type
    IF @WorkgroupId IS NOT NULL BEGIN
        SELECT CAST(IdCampEsp AS INT) AS Id, tipo as Type FROM ccRIACampEspWG WHERE IDWG = @WorkgroupId
        ORDER BY IdCampEsp ASC;
    END;
    ELSE BEGIN
        RAISERROR('ERROR. No existe una lista de campañas con el id de grupo de trabajo especificado', 18, 1);
    END;
    RETURN 0;
END;
IF @Option = 2 BEGIN-- Get Campaign complete information per Campaign Type and Campaign Id
    IF @CampType = 1 BEGIN-- Campaigns Out
        IF @Id IS NOT NULL BEGIN
            DECLARE @HasWorkingRowsForCampaign BIT = 0, @HasTemplatePaused   bit = 0,
        @HasTemplateDisabled bit = 0;

            IF EXISTS (
                SELECT 1
                FROM dbo.ccoWAWorkingTable AS cwwt
                WHERE cwwt.camId = @Id
            )
            BEGIN
                SET @HasWorkingRowsForCampaign = 1;
            END

            IF EXISTS (
                SELECT 1
                FROM dbo.ccoWAWorkingTable cwwt
                JOIN dbo.ccWhatsAppOutSource cwaos  ON cwaos.WAOut_Id = cwwt.WAOut_id
                JOIN dbo.ccMetaWAOutboundTemplates cmwot ON cmwot.Id = cwaos.TemplateId
                WHERE cwaos.camId = @Id AND cmwot.Status = 'PAUSED'
            ) SET @HasTemplatePaused = 1;

            IF EXISTS(
            SELECT 1 FROM dbo.ccMetaWAOutboundTemplates AS cmwot
                INNER JOIN dbo.ccMetaWhatsAppNumbers AS cmwan
                ON cmwan.MetaId = cmwot.MetaId
                WHERE cmwan.Cam_Id = @Id AND cmwot.Status = 'DISABLED'
                AND cmwot.StatusCW = 1
            )
            BEGIN
                SET @HasTemplateDisabled = 1;
            END

            SELECT DISTINCT
            CAST(camps.cam_id AS INT) AS Id, camps.cam_descripcion AS Name,
            isnull(CAST(graph.graphic_id AS INT),1) AS Frame, CAST(1 AS SMALLINT) AS Type,
            camps.cam_procesando IsStarted,
            ISNULL(a.AreaName, '') AS Area,
            CAST(ISNULL(camps.IDArea, 0) AS INT) as AreaId,
            CAST(CASE WHEN camps.progDial = 3 THEN 6 ELSE 0 END as [tinyint]) as InboundType,
            CASE WHEN ivrScript <> 0 AND callsBySurvey <> 0 THEN 8 when camps.CampType = 9 then 10  ELSE isnull(camps.CampType,0) END as OutboundType,
            ISNULL(extended.zipCodeSchedule, 0) AS ZipCodeSchedule,
            a.ToolsTransfer,
            @HasTemplatePaused AS HasTemplatePaused,
            @HasTemplateDisabled AS HasTemplateDisabled,
            @HasWorkingRowsForCampaign AS HasWorkingRowsForCampaign
            FROM ccCamps camps
            LEFT JOIN ccRIACampsGraph graph ON camps.cam_id = graph.cam_id
            LEFT JOIN ccRIACat_Areas a ON a.IDArea = camps.IDArea
            LEFT JOIN ccCampsExtend extended ON camps.cam_id = extended.cam_id
            WHERE camps.cam_id = @Id
            ORDER BY camps.cam_descripcion ASC;
        END;
        ELSE BEGIN
            RAISERROR('ERROR. No existe campañas de salida con el id especificado', 18, 1);
        END;
    END;
    ELSE IF @CampType = 0 -- Campaigns In (ACD)
        BEGIN
            IF @Id IS NOT NULL
                BEGIN
                    SELECT DISTINCT
                    CAST(inb.Inbound_id AS INT) AS Id, inb.descripcion AS Name,isnull( CAST(graph.graphic_id AS INT),1) AS Frame, CAST(0 AS SMALLINT) AS Type, CAST(inb.STATUS AS BIT) IsStarted,
                    ISNULL(a.AreaName, '') AS Area,
                            CAST(ISNULL(inb.IDArea, 0) AS INT) as AreaId, inb.chat AS InboundType, 0 as OutboundType,
                            a.ToolsTransfer
                    FROM ccInbound inb
                            LEFT JOIN ccRIAInboundGraph graph ON inb.Inbound_id = graph.Inbound_id
                            LEFT JOIN ccRIACat_Areas a ON a.IDArea = inb.IDArea
                    WHERE inb.Inbound_id = @Id
                            ORDER BY inb.descripcion ASC;
            END;
            ELSE
                BEGIN
                    RAISERROR('ERROR. No existe campañas de entrada con el id especificado', 18, 1);
            END;
    END;
    RETURN 0;
END;
ELSE IF @Option = 3  BEGIN -- Update OverallTotalNew By Campaign

    IF @Id IS NOT NULL BEGIN
        UPDATE ccCampsNvosCB SET  OverallTotalNew = ccCampsNvosCB.new WHERE id = @Id;
    END;
    ELSE BEGIN
        RAISERROR('ERROR. No existe la campañas de entrada con el id especificado', 18, 1);
    END;
    RETURN 0;
END;
ELSE IF @Option = 4 -- Update Pin from Campaign per Admin
BEGIN
    IF @Id IS NOT NULL
        AND @AdminId IS NOT NULL
    BEGIN
        IF @PinUpdate = 1
        BEGIN
            INSERT INTO PinedCampaigns (CampId, AdminId, Type)
            VALUES (@Id, @AdminId, @Type);
        END;

        IF @PinUpdate = 0
        BEGIN
            DELETE
            FROM PinedCampaigns
            WHERE CampId = @Id
                AND AdminId = @AdminId
                AND Type = @Type;
        END;
    END;
    ELSE
    BEGIN
        RAISERROR ('ERROR. La campañas o administrador no existen', 18, 1
                );
    END;

    RETURN 0;
END;

ELSE IF @Option = 5 BEGIN  -- Get Pin from Campaign Ids per Admin
    IF @AdminId IS NOT NULL BEGIN
        SELECT CampId AS Id FROM PinedCampaigns WHERE AdminId = @AdminId AND Type = @Type
        ORDER BY Id ASC;
    END;
    ELSE BEGIN
        RAISERROR('ERROR. El administrador con el id seleccionado no existe', 18, 1);
    END;
    RETURN 0;
END;
ELSE IF @Option = 6 -- Get Blacklist Ids by Campaign Id
BEGIN
    IF @Id IS NOT NULL
    BEGIN
        DECLARE @BlackListIds VARCHAR(MAX);

        SELECT @BlackListIds = COALESCE(@BlackListIds + '|' + CAST(idtipolista AS VARCHAR
                    (MAX)), CAST(idtipolista AS VARCHAR(MAX)))
        FROM Camplistanegra
        WHERE cam_id = @Id
            AND STATUS = 1;

        SELECT ISNULL(@BlackListIds, '0') AS BlackListIds;
    END;
    ELSE
    BEGIN
        RAISERROR ('ERROR. La campañas con el id seleccionado no existe', 18, 1);
    END;

    RETURN 0;
END;

ELSE IF @Option = 7 -- Get RegistryListIds Ids by Campaign Id
BEGIN
    IF (
            @Id IS NOT NULL
            AND EXISTS (
                SELECT *
                FROM cccamps
                WHERE cam_id = @Id
                )
            )
    BEGIN
        SELECT TOP 1 list_id
        FROM ccRIARegistryLists
        WHERE cam_id = @Id
            AND STATUS = 2
        ORDER BY list_id DESC;
    END;
    ELSE
    BEGIN        
        RAISERROR ('ERROR. No existe una campaña con el id especificado', 18, 1);
    END;

    RETURN 0;
END;

ELSE IF @Option = 8 -- Delete RegistryListIds Ids by LoadId
BEGIN
    IF (
            @LoadId IS NOT NULL
            AND EXISTS (
                SELECT *
                FROM ccRIARegistryLists
                WHERE list_id = @loadID
                    AND STATUS <> 0
                )
            )
    BEGIN
        UPDATE ccoCallsOutSource
        SET cal_status = '5'
        WHERE list_id = @loadID;

        DELETE
        FROM ccoWorkingTable
        WHERE list_id = @LoadId;

        EXEC ccsp_RIARegistryLists @action = 6, @list_id = @LoadId;
    END;
    ELSE
    BEGIN
        --Si el id de carga es nulo o no se encuentra registro de dicha carga o esta ya ha sido borrada
        RAISERROR ('ERROR. No existe una carga el id especificado', 18, 1);
    END;

    RETURN 0;
END;

ELSE IF @option = 9 -- Get Campaigns by Supervisor, Wg and type when admin eliminated from wg
BEGIN
    DECLARE @table TABLE (camId INT, campType TINYINT, PRIMARY KEY (camId, campType)
        );

    INSERT INTO @table
    SELECT DISTINCT IdCampEsp, Tipo
    FROM ccRIACampEspWG wg
    WHERE wg.IDWG IN (
            SELECT IDWG
            FROM ccRIAWorkGroupUsers
            WHERE IDWG <> @WorkgroupId
                AND User_id = @AdminId
            );

    SELECT CAST(B.IdCampEsp AS INT) AS Id, B.Tipo AS Type
    FROM @table A
    RIGHT JOIN (
        SELECT wg.IdCampEsp, wg.Tipo
        FROM ccRIACampEspWG wg
        WHERE wg.IDWG = @WorkgroupId
        ) B ON A.camId = B.IdCampEsp
        AND A.campType = B.Tipo
    WHERE A.camId IS NULL
    ORDER BY IdCampEsp;

    RETURN 0;
END;

ELSE IF @option = 10
BEGIN -- Get Agents States with totals per campaign by admin id and campaign type **********************
    DECLARE @date DATETIME = CONVERT(DATE, DATEADD(hh, - 3, GETDATE()));
    DECLARE @AdminWorkgroups TABLE (id INT, PRIMARY KEY (id));
    DECLARE @AgentsList TABLE (id INT, PRIMARY KEY (id));
    DECLARE @tmpCamAgent TABLE (
        camId INT, userId INT, multimediaType TINYINT, PRIMARY KEY (camId, userId)
    );
    DECLARE @AgentStatus TABLE (CampId SMALLINT, userId INT, CurrentState INT, isCampDialog BIT, campType BIT);
    DECLARE @CurrentStatus TABLE (userId INT, CurrentState INT, IdCampEsp INT, camType INT);
    DECLARE @campDataTotal TABLE (
        camId INT, CampName VARCHAR(500), Total INT, Area VARCHAR(100), NumberOfVirtualAgents INT, PRIMARY KEY (camId)
    );

    INSERT INTO @AdminWorkgroups
    SELECT DISTINCT IDWG
    FROM ccRIAWorkGroupUsers WG, ccUsers_Roles R
    WHERE WG.User_id = @AdminId
        OR (R.User_id = @AdminId AND R.Rol_id = 7);

    INSERT INTO @AgentsList
    SELECT DISTINCT A.User_id
    FROM ccRIAWorkGroupUsers A
    INNER JOIN @AdminWorkgroups B ON A.IDWG = B.id
    INNER JOIN ccUsers C ON A.User_id = C.User_id AND C.TipoUser_id = 1
    ORDER BY A.User_id;

    IF @IsWhatsAppCampaign = 1
    BEGIN
        INSERT INTO @tmpCamAgent
        SELECT DISTINCT campPerWg.IdCampEsp, wgUser.User_id, 
               CASE WHEN @Id = 0 AND @CampType = 0 THEN inbound.chat ELSE NULL END
        FROM ccRIACampEspWG campPerWg
        INNER JOIN @AdminWorkgroups wg ON wg.Id = campPerWg.IDWG
        INNER JOIN ccRIAWorkGroupUsers wgUser ON wgUser.IDWG = wg.id
        INNER JOIN ccUsers C ON wgUser.User_id = C.User_id
        LEFT JOIN ccInbound inbound ON inbound.Inbound_id = campPerWg.IdCampEsp AND @CampType = 0
        LEFT JOIN ccCamps camps ON camps.cam_id = campPerWg.IdCampEsp AND @CampType = 1
        WHERE C.TipoUser_id = 1
            AND (camps.CampType = 5 or inbound.chat = 5)
            AND campPerWg.Tipo = @CampType
            AND (@Id = 0 OR campPerWg.IdCampEsp = @Id);
    END
    ELSE
    BEGIN
        INSERT INTO @tmpCamAgent
        SELECT DISTINCT campPerWg.IdCampEsp, wgUser.User_id, 
               CASE WHEN @Id = 0 AND @CampType = 0 THEN inbound.chat ELSE NULL END
        FROM ccRIACampEspWG campPerWg
        INNER JOIN @AdminWorkgroups wg ON wg.Id = campPerWg.IDWG
        INNER JOIN ccRIAWorkGroupUsers wgUser ON wgUser.IDWG = wg.id
        INNER JOIN ccUsers C ON wgUser.User_id = C.User_id
        LEFT JOIN ccInbound inbound ON inbound.Inbound_id = campPerWg.IdCampEsp AND @CampType = 0
        LEFT JOIN ccCamps camps ON camps.cam_id = campPerWg.IdCampEsp AND @CampType = 1
        WHERE C.TipoUser_id = 1
            AND campPerWg.Tipo = @CampType
            AND (@Id = 0 OR campPerWg.IdCampEsp = @Id);
    END;

    ;WITH lastState AS (
        SELECT A.user_id, A.fecha,
               CASE WHEN A.currentStatus <= 0 THEN 0 ELSE A.currentStatus END AS currentStatus,
               IdCampEsp, Tipo
        FROM ccLogAgentesDiaLast A WITH(NOLOCK)
        INNER JOIN @AgentsList B ON A.User_id = B.id
        WHERE fecha >= @date
    )
    INSERT INTO @CurrentStatus
    SELECT A.User_id, currentStatus, IdCampEsp, Tipo
    FROM lastState A;

    IF @Id = 0 AND @CampType = 0
    BEGIN
        DELETE FROM @tmpCamAgent WHERE multimediaType = 0;
    END

    DECLARE @MultimediaType SMALLINT = 0, @chatType SMALLINT = 0;

    IF @Id > 0
    BEGIN
        IF @CampType = 1
        BEGIN
            SELECT @MultimediaType = ISNULL(meanContactTypeId, 0) FROM contactMeanOut WHERE camp_id = @Id;
        END
        ELSE
        BEGIN
            SELECT @chatType = ISNULL(chat, 0) FROM dbo.ccInbound WHERE Inbound_id = @Id;
            SELECT @MultimediaType = ISNULL(meanContactTypeId, 0) FROM contactMeanIn WHERE inboundId = @Id;
        END
    END

    IF (@chatType = 1) SET @MultimediaType = 1;

    DECLARE @StateIds VARCHAR(100) = (
        SELECT CASE 
            WHEN @MultimediaType = 5 THEN '6,34' 
            WHEN @MultimediaType = 1 THEN '23' 
            ELSE '4,5,6,9' 
        END
    );

    ;WITH stateDialog AS (
        SELECT CAST(value AS INT) AS CurrentState FROM dbo.fn_RIASplitDelimited(@StateIds,',')
    )
    INSERT INTO @AgentStatus
    SELECT A.camId, A.userId, B.CurrentState,
    (CASE
        WHEN @chatType = 1 THEN
            CASE WHEN B.CurrentState IN (SELECT CurrentState FROM stateDialog) THEN 1 ELSE 0 END
        ELSE
            CASE WHEN B.CurrentState IN (SELECT CurrentState FROM stateDialog) 
                 AND B.IdCampEsp = A.camId AND B.camType = @CampType THEN 1 ELSE 0 END
    END) AS isCampDialog, B.camType
    FROM @tmpCamAgent A
    INNER JOIN @CurrentStatus B ON A.userId = B.userId
    WHERE (@Id = 0 OR A.camId = @Id);

    IF @CampType = 1
    BEGIN
        WITH campDataTotal AS (
            SELECT camId, COUNT(*) AS total
            FROM @tmpCamAgent
            GROUP BY camId
        )
        INSERT INTO @campDataTotal
        SELECT A.camId, B.cam_descripcion, A.total, C.AreaName, ISNULL(va.concurrentSessionsLimit,0)
        FROM campDataTotal A
        INNER JOIN ccCamps B ON A.camId = B.cam_id
        INNER JOIN ccRIACat_Areas C ON C.IDArea = B.IDArea
        LEFT JOIN ccVirtualAgent va ON B.cam_id = va.idCampaign AND va.campType = 1;
    END
    ELSE
    BEGIN
        WITH campDataTotal AS (
            SELECT camId, COUNT(*) AS total
            FROM @tmpCamAgent
            GROUP BY camId
        )
        INSERT INTO @campDataTotal
        SELECT A.camId, B.descripcion, A.total, C.AreaName, 0
        FROM campDataTotal A
        INNER JOIN ccInbound B ON A.camId = B.Inbound_id
        INNER JOIN ccRIACat_Areas C ON C.IDArea = B.IDArea;
    END;

    WITH stateCamp AS (
        SELECT A.CampId, 
               COUNT(CASE WHEN A.CurrentState = 3 THEN 1 END) AS ready,
               COUNT(CASE 
                        WHEN A.CurrentState NOT IN (-2, -1, 0, 3, 4, 5, 6, 9, 30, 34, 37) THEN 1 
                        WHEN A.CurrentState IN (6, 4) AND (A.CampId != C.IdCampEsp OR A.campType != @CampType) THEN 1 
                     END) AS notReady,
               COUNT(CASE WHEN A.isCampDialog = 1 OR A.CurrentState = 34 THEN 1 END) AS dialog,
               COUNT(CASE WHEN A.CurrentState <= 0 THEN 1 END) AS disconnected,
               COUNT(CASE WHEN A.CurrentState = 37 THEN 1 END) AS auxiliaryReady
        FROM @AgentStatus A
        INNER JOIN @CurrentStatus C ON A.userId = C.userId
        GROUP BY A.CampId
    )
    SELECT A.camId, A.campName, (A.Total + A.NumberOfVirtualAgents) AS Total, 
           ISNULL(B.ready, 0) AS Ready, 
           ISNULL(B.notReady, 0) AS NotReady, 
           ISNULL(B.dialog, 0) AS Dialog, 
           CASE WHEN B.disconnected IS NULL THEN A.Total 
                ELSE A.Total - ISNULL(B.ready,0) - ISNULL(B.dialog,0) - ISNULL(B.notReady,0) - ISNULL(B.auxiliaryReady,0) 
           END AS Disconnected, 
           ISNULL(B.auxiliaryReady, 0) AS AuxiliaryReady, 
           A.NumberOfVirtualAgents, A.Area
    FROM @campDataTotal A
    LEFT JOIN stateCamp B ON A.camId = B.CampId
    ORDER BY A.campName;

    RETURN 0;
END
ELSE IF @Option = 11
BEGIN -- Get Campaigns Ids List Per Workgroup and Campaign Type
    IF NOT EXISTS (
            SELECT *
            FROM ccUsers_Roles WITH (NOLOCK)
            WHERE User_id = @AdminId
                AND Rol_id = 7
            )
    BEGIN        
        WITH wgId
        AS (
            SELECT IDWG
            FROM ccRIAWorkGroupUsers WITH (NOLOCK)
            WHERE user_id = @AdminId
            )
        SELECT DISTINCT CAST(IdCampEsp AS INT) AS Id
        INTO #tempIds
        FROM ccRIACampEspWG A WITH (NOLOCK)
        INNER JOIN wgId ON wgId.IDWG = A.IDWG
            AND A.Tipo = @CampType;

        IF(@CampType = 1)
        BEGIN
            SELECT Id FROM #tempIds ids
            INNER JOIN ccCamps c on c.cam_id = ids.Id
            WHERE (c.CampType = 5 AND @IsWhatsAppCampaign = 1)
            OR (c.CampType <> 5 AND @IsWhatsAppCampaign = 0)
        END
        ELSE
        BEGIN
            SELECT Id FROM #tempIds ids
            INNER JOIN ccInbound c on c.Inbound_id = ids.Id
            WHERE (c.chat = 5 AND @IsWhatsAppCampaign = 1)
            OR (c.chat <> 5 AND @IsWhatsAppCampaign = 0)
        END
        DROP TABLE #tempIds
    END;
    ELSE
    BEGIN        
        IF @CampType = 1
        BEGIN
            SELECT DISTINCT CAST(cam_id AS INT) AS Id
            FROM ccCamps WITH (NOLOCK)
            WHERE IDArea IS NOT NULL
            AND(CampType = 5 AND @IsWhatsAppCampaign = 1)
            OR (CampType <> 5 AND @IsWhatsAppCampaign = 0)
        END
        ELSE
        BEGIN
            SELECT DISTINCT CAST(Inbound_id AS INT) AS Id
            FROM ccInbound WITH (NOLOCK)
            WHERE IDArea IS NOT NULL
            AND (chat = 5 AND @IsWhatsAppCampaign = 1)
            OR (chat <> 5 AND @IsWhatsAppCampaign = 0)
        END
    END;

    RETURN 0;
END;

ELSE IF @Option = 12
BEGIN-- Get All Campaigns complete information per Campaign Type and Campaign Id
    IF @CampType = 1 -- Campaigns Out
    BEGIN
        ;WITH StopByCamp AS (
        SELECT
            cwaos.camId,
            IsStopDueTemplateStatusChange = CAST(
                CASE WHEN COUNT(*) > 0 THEN 1 ELSE 0 END AS BIT
            )
        FROM dbo.ccoWAWorkingTable AS cwwt
        INNER JOIN dbo.ccWhatsAppOutSource AS cwaos
            ON cwaos.WAOut_Id = cwwt.WAOut_id
        INNER JOIN dbo.ccMetaWAOutboundTemplates AS cmwot
            ON cmwot.Id = cwaos.TemplateId
        WHERE cmwot.Status IN ('PAUSED', 'DISABLED')
        GROUP BY cwaos.camId
        )

        SELECT DISTINCT
        CAST(camps.cam_id AS INT) AS Id, camps.cam_descripcion AS Name,
        isnull(CAST(graph.graphic_id AS INT),1) AS Frame, CAST(1 AS SMALLINT) AS Type,
        camps.cam_procesando IsStarted, a.AreaName AS Area, CAST(a.IDArea as INT) AS AreaId,
        CAST(CASE WHEN camps.progDial = 3 THEN 6 ELSE 0 END as [tinyint]) as InboundType,
        CASE WHEN ivrScript <> 0 AND callsBySurvey <> 0 THEN 8 when camps.CampType = 9 then 10 ELSE isnull(camps.CampType,0) END as OutboundType,
        ISNULL(extended.zipCodeSchedule, 0) AS ZipCodeSchedule,
        ISNULL(sbc.IsStopDueTemplateStatusChange, 0) AS IsStopDueTemplateStatusChange
        FROM ccCamps camps(NOLOCK)
        INNER JOIN ccRIACampsGraph graph(NOLOCK) ON camps.cam_id = graph.cam_id
        INNER JOIN ccRIACat_Areas a(NOLOCK) ON a.IDArea = camps.IDArea
        LEFT JOIN ccCampsExtend extended(NOLOCK) ON camps.cam_id = extended.cam_id
        LEFT  JOIN StopByCamp       sbc                   ON sbc.camId = camps.cam_id
        ORDER BY camps.cam_descripcion ASC;
    END;
    ELSE
    BEGIN
        SELECT DISTINCT CAST(inb.Inbound_id AS INT) AS Id, inb.descripcion AS Name, isnull
            (CAST(graph.graphic_id AS INT), 1) AS Frame, CAST(0 AS SMALLINT) AS Type, CAST(
                inb.STATUS AS BIT) IsStarted, a.AreaName AS Area, CAST(a.IDArea AS INT) AS
            AreaId, inb.chat AS InboundType, 0 AS OutboundType
        FROM ccInbound inb(NOLOCK)
                            INNER JOIN ccRIAInboundGraph graph (NOLOCK) ON inb.Inbound_id = graph.Inbound_id
        INNER JOIN ccRIACat_Areas a(NOLOCK) ON a.IDArea = inb.IDArea
        ORDER BY inb.descripcion ASC;
    END;

    RETURN 0;
END;

ELSE IF @Option = 13
BEGIN
    BEGIN
        IF NOT EXISTS (
                SELECT *
                FROM ccUsers_Roles NOLOCK
                WHERE User_id = @AdminId
                    AND Rol_id = 7
                )
        BEGIN
            IF @CampType = 1
            BEGIN
                WITH wgId
                AS (
                    SELECT IDWG
                    FROM ccRIAWorkGroupUsers NOLOCK
                                    WHERE user_id = @AdminId)
                                SELECT DISTINCT
                                    CAST(IdCampEsp AS INT) AS CampId,
                                    cam_descripcion AS Description,
                                    isnull(ccc.IDArea, -1) AS AreaID,
                                    CAST(-1 AS SMALLINT) AS CampaignType,
                                    CAST(isnull(cci.cam_id,-1) AS INT) AS RelatedCampId,
                                    CAST(CASE WHEN (ccc.ivrScript = 0 AND ccc.callsBySurvey = 0) THEN isnull(CampType,0) ELSE 8 END AS INT) AS Channel,
                                    CAST(ISNULL(ccRCG.graphic_id, 1) AS INT) As Frame,
                                    CAST(1 AS INT) As CampType
                FROM ccRIACampEspWG A
                INNER JOIN wgId ON wgId.IDWG = A.IDWG AND A.Tipo = 1
                INNER JOIN ccCamps ccc (NOLOCK) ON A.IdCampEsp = ccc.cam_id
                LEFT JOIN ccInbound cci(NOLOCK) ON ccc.cam_id = cci.cam_id
                LEFT JOIN ccRIACampsGraph ccRCG ON (ccc.cam_id = ccRCG.cam_id)
            END
            ELSE
            BEGIN
                WITH wgId
                AS (
                    SELECT IDWG
                    FROM ccRIAWorkGroupUsers NOLOCK
                                    WHERE user_id = @AdminId)
                                SELECT DISTINCT
                                    CAST(IdCampEsp AS INT) AS CampId,
                                    descripcion AS Description,
                                    isnull(IDArea, -1) AS AreaID,
                                    CAST(chat AS SMALLINT) AS CampaignType,
                                    CAST(isnull(cci.cam_id,-1) AS INT) AS RelatedCampId,
                                    CAST(chat AS INT) AS Channel,
                                    CAST(isnull(ccRCG.graphic_id,1) AS INT) As Frame,
                                    CAST(0 AS INT) As CampType
                FROM ccRIACampEspWG A(NOLOCK)
                INNER JOIN wgId ON wgId.IDWG = A.IDWG
                    AND A.Tipo = 0
                INNER JOIN ccInbound cci(NOLOCK) ON A.IdCampEsp = cci.Inbound_id
                                    LEFT JOIN ccRIACampsGraph ccRCG ON (cci.Inbound_id = ccRCG.cam_id)
                                    LEFT JOIN ccInboundExtend ccie ON (cci.Inbound_id = ccie.Inbound_id)
                                    AND ((@multi_type is null AND cci.chat = @InboundType)
                                        OR (@multi_type is not null AND cci.chat in (SELECT value from dbo.fn_RIASplitDelimited(@multi_type,','))));
            END
        END;
        ELSE
        BEGIN
            IF @CampType = 1
            BEGIN
                        SELECT DISTINCT
                                CAST(ccc.cam_id AS INT) AS CampId,
                                cam_descripcion AS Description,
                                isnull(ccc.IDArea, -1) AS AreaID,
                                CAST(-1 AS SMALLINT) AS CampaignType,
                                CAST(ISNULL(i.Inbound_id,-1) AS INT) AS RelatedCampId,
                                CAST(CASE WHEN (ccc.ivrScript = 0 AND ccc.callsBySurvey = 0) THEN isnull(CampType,0) ELSE 8 END AS INT) AS Channel,
                                CAST(ISNULL(ccRCG.graphic_id, 1) AS INT) As Frame,
                                CAST(1 AS INT) As CampType
                        FROM ccCamps AS ccc (NOLOCK)
                            LEFT JOIN ccRIACampsGraph ccRCG ON (ccc.cam_id = ccRCG.cam_id)
                            left join ccInbound i on i.cam_id = ccc.cam_id
                        where ccc.IDArea = @AreaId
            END
            ELSE
            BEGIN
                        SELECT DISTINCT
                                CAST(cci.Inbound_id AS INT) AS CampId,
                                descripcion AS Description,
                                isnull(IDArea, -1) AS AreaID,
                                CAST(chat AS SMALLINT) AS CampaignType,
                                CAST(chat AS INT) AS Channel,
                                CAST(isnull(cci.cam_id,-1) AS INT) AS RelatedCampId,
                                CAST(isnull(ccRCG.graphic_id,1) AS INT) As Frame,
                                CAST(0 AS INT) As CampType
                FROM ccInbound cci(NOLOCK)
                            LEFT JOIN ccRIACampsGraph ccRCG ON (cci.Inbound_id = ccRCG.cam_id)
                            LEFT JOIN ccInboundExtend ccie ON (cci.Inbound_id = ccie.Inbound_id)
                        where IDArea = @AreaId
                        AND ((@multi_type is null AND cci.chat = @InboundType)
                            OR (@multi_type is not null AND cci.chat in (SELECT value from dbo.fn_RIASplitDelimited(@multi_type,','))))

            END
        END;

        RETURN 0;
    END;
END;
ELSE IF @Option = 14
BEGIN
    IF NOT EXISTS (
            SELECT 1
            FROM ccUsers_Roles NOLOCK
            WHERE User_id = @AdminId
                AND Rol_id = 7
            )
    BEGIN
        WITH wgId
        AS (
            SELECT IDWG
            FROM ccRIAWorkGroupUsers NOLOCK
                                WHERE user_id = @AdminId)
                            SELECT DISTINCT
                                CAST(IdCampEsp AS INT) AS CampId,
                                descripcion AS Description,
                                isnull(IDArea, -1) AS AreaID,
                                CAST(chat AS SMALLINT) AS CampaignType,
                                CAST(isnull(cam_id,-1) AS INT) AS RelatedCampId
        FROM ccRIACampEspWG A(NOLOCK)
        INNER JOIN wgId ON wgId.IDWG = A.IDWG
            AND A.Tipo = 0
        INNER JOIN ccInbound cci (NOLOCK) ON A.IdCampEsp = cci.Inbound_id
            AND ((@multi_type is null AND cci.chat = @InboundType) OR (@multi_type is not null AND cci.chat in (SELECT value from dbo.fn_RIASplitDelimited(@multi_type,','))))

    END
    ELSE
    BEGIN
                    SELECT DISTINCT
                    CAST(Inbound_id AS INT) AS CampId,
                    descripcion AS Description,
                    isnull(IDArea, -1) AS AreaID,
                    CAST(chat AS SMALLINT) AS CampaignType,
                    CAST(isnull(cam_id,-1) AS INT) AS RelatedCampId
                    FROM ccInbound cci (NOLOCK) where IDArea = @AreaId
                    AND ((@multi_type is null AND cci.chat = @InboundType)
                        OR (@multi_type is not null AND cci.chat in (SELECT value from dbo.fn_RIASplitDelimited(@multi_type,','))))

    END
END

ELSE IF @Option = 15
BEGIN
    select
        CAST(Inbound_id AS INT) AS CampId,
        cci.descripcion AS Description,
        isnull(cci.IDArea, -1) AS AreaID,
        CAST(chat AS SMALLINT) AS CampaignType,
        CAST(isnull(cci.cam_id,-1) AS INT) AS RelatedCampId
    from ccCamps ccc
    INNER JOIN ccInbound cci ON cci.IDArea = ccc.IDArea
    where ccc.cam_id = @Id
        and chat IN (SELECT value from dbo.fn_RIASplitDelimited(@multi_type,','))
        and isnull(cci.cam_id,-1) > 0

END
ELSE IF  @Option=16
begin
    DECLARE @from DATETIME = CAST(GETDATE() AS DATE);
    DECLARE @to DATETIME = DATEADD(MILLISECOND, -3, DATEADD(DAY, 1, @from));
    select @AreaId = IDArea from ccUsers where User_id = @Id
    declare @camps table (cam_id int)
    insert @camps	select cam_id  FROM  dbo.fGet_CampAcd_Area(@Id,5) group by cam_id
    if((select SUM(cam_id) from @camps) IS NULL)
        begin
            select '' as CampName
            ,0 as Conversations
            ,0 as Assign
            ,0 as OnQueu
            ,0 AS FinishedBySystem
            ,0 AS FinishedByAgent
            ,'' as AreaName
            ,0 as IsAssignedCamps
        end
    else
        begin
            ;with camDesc as(
            select
            c.cam_id as cam_id
            ,cam_descripcion as cam_desc
            ,area.AreaName
            from ccCamps c with (nolock)
            inner join @camps id on c.cam_id = id.cam_id
            inner join ccRIACat_Areas area on area.IDArea = c.IDArea
            group by area.AreaName, c.cam_id, c.cam_descripcion
            )
            ,
            currentConversationWa as (
            select conversationId, camId, assignDate, onQueue,finishedBy
            ,case when conversationStatus = 2 then 1 else 0 end as assigned
            from ccWhatsAppConversationsOut with (nolock)
            where assignDate >= @from and assignDate <= @to
            )
            select
            b.cam_desc as CampName
            ,COALESCE(COUNT(ccw.conversationId), 0) AS Conversations
            ,COALESCE(SUM(ccw.assigned), 0) AS Assign
            ,COALESCE(count(ccw.onQueue),0) as OnQueu
            ,SUM(CASE WHEN ccw.finishedBy = 1 THEN 1 ELSE 0 END) AS FinishedBySystem
            ,SUM(CASE WHEN ccw.finishedBy = 2 THEN 1 ELSE 0 END) AS FinishedByAgent
            ,b.AreaName as AreaName
            ,1 as IsAssignedCamps
            from camDesc b
            left join currentConversationWa ccw on ccw.camId = b.cam_id
            group by b.cam_id, b.cam_desc, b.AreaName
        end
    end
ELSE IF @Option = 17 BEGIN -- Get Campaigns Ids List Per Workgroup and Campaign Type
        IF @groupList IS NOT NULL BEGIN
            IF OBJECT_ID('tempdb..#WGDelete') IS NOT NULL DROP TABLE #WGDelete;
            SELECT value As IDwg into #WGDelete FROM fn_RIASplitDelimited(@groupList, ',')
            SELECT CAST(IdCampEsp AS INT) AS Id, tipo as Type, IDWG AS IdWg FROM ccRIACampEspWG WHERE IDWG in (select IDwg from #WGDelete)
            ORDER BY IdCampEsp ASC;
        END;
        ELSE BEGIN
            RAISERROR('ERROR. No existe una lista de campañas con los ids de grupo de trabajo especificados', 18, 1);
        END;
        RETURN 0;
    END;

ELSE IF @Option = 18 BEGIN -- Validar si la campaña fue eliminada del area
        DECLARE @activo INT;

        IF @CampType = 0 BEGIN
            SELECT @activo = ISNULL(IDArea, 0)
            FROM ccInbound
            WHERE Inbound_id = @Id;
        END;

        ELSE BEGIN
            SELECT @activo = ISNULL(IDArea, 0)
            FROM ccCamps
            WHERE cam_id = @Id;
        END;

        SELECT @activo;
    END;

ELSE IF @Option = 19
    BEGIN

        DECLARE @SuccessId INT, @NonComprehensionId INT;
        DECLARE @IsSuperUser BIT = 0;
        DECLARE @wgId TABLE (IDWG INT);

        IF EXISTS (SELECT * FROM ccUsers_Roles NOLOCK WHERE User_id = @AdminId AND Rol_id = 7)
        BEGIN
            SET @IsSuperUser = 1;
        END
        ELSE
        BEGIN
            INSERT INTO @wgId (IDWG)
            SELECT IDWG
            FROM ccRIAWorkGroupUsers WITH (NOLOCK)
            WHERE user_id = @AdminId;
        END

        SELECT
            @SuccessId = ISNULL(idForSuccessfulTransaction, -1),
            @NonComprehensionId = ISNULL(idForNonComprehension, -1)
        FROM ccInbound WITH (NOLOCK)
        WHERE Inbound_id = @CampId;

        WITH MainCampaigns AS (
            SELECT
                CAST(cci.Inbound_id AS INT) AS CampId,
                cci.descripcion AS Description,
                ISNULL(cci.IDArea, -1) AS AreaID,
                CAST(cci.chat AS SMALLINT) AS CampaignType,
                CAST(0 AS BIT) AS IsSuccessTransfer,
                CAST(0 AS BIT) AS IsNonComprehensionTransfer
            FROM ccInbound cci WITH (NOLOCK)
            WHERE
            (
                -- Superusuario: por Área
                (@IsSuperUser = 1 AND cci.IDArea = @AreaId)
                OR
                -- Usuario normal: por Workgroup
                (@IsSuperUser = 0 AND EXISTS (
                    SELECT 1 FROM ccRIACampEspWG A WITH (NOLOCK)
                    INNER JOIN @wgId wg ON wg.IDWG = A.IDWG
                    WHERE A.Tipo = 0 AND A.IdCampEsp = cci.Inbound_id
                ))
            )
            AND cci.chat = 0
            AND cci.IDArea = @AreaId
        ),
        ReferencedCampaigns AS (
            SELECT
                CAST(cci.Inbound_id AS INT) AS CampId,
                cci.descripcion AS Description,
                ISNULL(cci.IDArea, -1) AS AreaID,
                CAST(cci.chat AS SMALLINT) AS CampaignType,
                CASE WHEN cci.Inbound_id = @SuccessId THEN CAST(1 AS BIT) ELSE CAST(0 AS BIT) END AS IsSuccessTransfer,
                CASE WHEN cci.Inbound_id = @NonComprehensionId THEN CAST(1 AS BIT) ELSE CAST(0 AS BIT) END AS IsNonComprehensionTransfer
            FROM ccInbound cci WITH (NOLOCK)
            WHERE cci.Inbound_id IN (@SuccessId, @NonComprehensionId)
        )

        SELECT * FROM ReferencedCampaigns
        UNION ALL
        SELECT m.*
        FROM MainCampaigns m
        LEFT JOIN ReferencedCampaigns r
        ON m.CampId = r.CampId
        WHERE r.CampId IS NULL;
    END;
END;