USE [CCenterRIA]
GO
/****** Object:  StoredProcedure [dbo].[ccsp_AgentUpdateCallCALIF]    Script Date: 25/03/2026 03:16:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[ccsp_AgentUpdateCallCALIF]
@IDCall INT,
@calif_id SMALLINT,
@TipoCall SMALLINT,
@Origin INT = 0,
@cal_key VARCHAR(40) = NULL,
@callOutId INT = 0,
@subId SMALLINT = 0
AS
SET NOCOUNT ON

DECLARE @RecicleSIC TINYINT, @Reprogram TINYINT, @DateNewDial SMALLDATETIME, @idTipoLista INT, @autoCB TINYINT,
@tel VARCHAR(30), @camp INT, @iddncList AS INT,@completatel VARCHAR(30),@camId int,@dni_id int
,@useCalkeyBlackList bit
,@userid INT
,@statusCallId int
,@hashTel INT
,@portId int
,@isInternationalPort bit=0

SELECT @RecicleSIC = valor
FROM ccSettings
WHERE setting_id = 60


SELECT @RecicleSIC = IsNull(@RecicleSIC, 0)


DECLARE @killListID INT = (
        SELECT idtipolista
        FROM ccTiposListaNegra
        WHERE Tipolista = 'default/KillList'
        )
DECLARE @killListSetting INT = (
        SELECT STATUS
        FROM ccSettings
        WHERE setting_id = 215
        )

IF @TipoCall = 1
BEGIN
    UPDATE ccCallsIN
    SET calif_id = @calif_id, cal_origin_id = @Origin, cal_key = isnull(@cal_key, cal_key)
    , califSub_id = CASE @subId WHEN 0 THEN NULL ELSE @subId END
    WHERE cal_id = @IDCall


    exec ccspSaveDispositionResult @action=2, @callid=@IDCall, @camId=@camp,@callType=0,
    @dispotitionId=@calif_id,@subDispotitionId=@subId,@statusCallId=13

    IF EXISTS (
            SELECT idTipoLista
            FROM cccalifblacklist WITH (INDEX (IX_cccalifblacklist))
            WHERE tipo = 0 AND calif_id = @calif_id
            )
    BEGIN
        SELECT @tel = dbo.Limpia(ci.cal_ANI)       
        ,@camId=Inbound_id,@dni_id=dni_id
        ,@portId=cal_puerto
        FROM ccCallsIN ci WITH (INDEX (PK_ccCallsIn))
        if @tel='' or LEFT(@tel,1)='E'
            return(0) -- si esta vacio o marca error 


        select top 1 @iddncList = idTipoLista from cccalifblacklist WHERE tipo = 0 AND calif_id = @calif_id


        IF @tel IS NOT NULL AND @iddncList IS NOT NULL AND @iddncList is null
        BEGIN
            SELECT @useCalkeyBlackList = valor
            FROM ccSettings2
            WHERE setting_id = 288

            if @useCalkeyBlackList is null set @useCalkeyBlackList=0

            if @useCalkeyBlackList=0 set @cal_key=null


            --insert ccListaNegra
            INSERT INTO cclistanegra (telefono, idtipolista, calKey)
            VALUES (@tel, @iddncList, @cal_key)

            --insert cc_killlist
            IF (@killListSetting = 1 AND @iddncList = @killListID) -- verifies if kill list setting is active and if the list_id matches killList id
            BEGIN
                select @hashTel = dbo.hashPhone(@tel)

                IF NOT EXISTS (
                        SELECT hashtel
                        FROM cc_KillList
                        WHERE hashTel = @hashTel
                        )
                BEGIN
                    INSERT INTO cc_KillList (hashTel, id_tipoLista, DATE)
                    VALUES (@hashTel, @iddncList, GETDATE())
                END
            END

            INSERT ccHistorialListaNegra (telefono, idtipolista, cam_id, fecha, callout_id, idtipomov)
            values (@tel,@iddncList,@camId,getdate(),@dni_id,6)
        END
    END

    RETURN (0)
END

IF @TipoCall = 2
BEGIN
    -- Toma como prioridad la configuración de la subcalificación (en caso de existir)
    SELECT @autoCB = autocallback
    FROM ccTipoCalifSubout
    WHERE califSub_Id = @subId

    -- Si no tiene subcalificacion toma la de la calificacion
    IF @autoCB IS NULL
    BEGIN
        SELECT @autoCB = autocallback
        FROM cctipocalifout
        WHERE calif_id = @calif_id
    END

    SELECT @callOutId = callout_id, @camp = cam_id, @userid = user_id
    ,@statusCallId=statusCall_id
    ,@tel=cal_telefono
        FROM ccocallsout
        WHERE Cal_id = @IDCall

    IF @autoCB = 1
    BEGIN
        SELECT @DateNewDial = dateadd(mi, t_autoCB, getdate())
        FROM cccamps cam
        WHERE cam.cam_id = @camp

        EXEC ccsp_OUTInsertaCallBack @IDCall, '', @camp, @DateNewDial, @callOutId, 1, @userid, '', 1
    END

    UPDATE ccoCallsOUT
    SET calif_id = @calif_id, califSub_id = CASE @subId WHEN 0 THEN NULL ELSE @subId END
    WHERE cal_id = @IDCall

    exec ccspSaveDispositionResult @action=2, @callid=@IDCall, @camId=@camp,@callType=1,
    @dispotitionId=@calif_id,@subDispotitionId=@subId,@statusCallId=@statusCallId

    SELECT @useCalkeyBlackList = valor
    FROM ccSettings2
    WHERE setting_id = 288

    if @useCalkeyBlackList is null set @useCalkeyBlackList=0

    set @completatel=dbo.Completa_ListaNegra(@tel)

    if @useCalkeyBlackList=0 set @cal_key=null

    IF EXISTS (
            SELECT idTipoLista
            FROM cccalifblacklist WITH (INDEX (IX_cccalifblacklist))
            WHERE tipo = 1 AND calif_id = @calif_id
            ) AND NOT EXISTS (
            select 1 from ccListaNegra bl with(nolock)
            where (telefono=@tel or telefono =@completatel)
            and calKey=@cal_key
            AND bl.idtipolista IN (
                    SELECT idTipoLista
                    FROM cccalifblacklist WITH (INDEX (IX_cccalifblacklist))
                    WHERE tipo = 1 AND calif_id = @calif_id
                    )
            )
    BEGIN --IF

        CREATE TABLE #NUMANDBL (id int identity,  iddncList int)
        CREATE TABLE #NUMBERS (id int identity, number varchar(30))
        DECLARE @allnumbersToBl BIT
        DECLARE @number varchar(30)

        SELECT @allnumbersToBl = allNumbersToBlacklist FROM ccTipoCalifOUT WHERE calif_id = @calif_id

       SELECT @number = co.cal_telefono
            ,@camId=cam_id
             ,@portId= cal_puerto
            FROM ccoCallsOut co WITH (INDEX (PK_ccoCallsOut))
            WHERE co.cal_id = @idCall

        if exists (select 1 from ccoDialerCamp A
        inner join ccoDialers D on A.dialer_id=D.dialer_id
        where cam_id=@camId and D.Puerto=@portId and DialingType=0)
        begin
            set @isInternationalPort=1
        end

        IF(@allnumbersToBl = 1)
        BEGIN
            INSERT INTO #NUMBERS (number)
            SELECT n.number
            FROM ccoCallsOutSource c
            CROSS APPLY
            (
                VALUES
                    (c.cal_telefono),
                    (c.cal_telefono2),
                    (c.cal_telefono3),
                    (c.cal_telefono4),
                    (c.cal_telefono5)
            ) v(phone)
            CROSS APPLY
            (
                VALUES
                (
                    CASE 
                        WHEN @isInternationalPort = 1 
                            THEN dbo.Limpia(v.phone)
                        ELSE dbo.Completa_ListaNegra(v.phone)
                    END
                )
            ) n(number)
            WHERE c.callout_id = @callOutId
              AND ISNULL(n.number, '') <> ''
              AND LEFT(n.number, 1) <> 'E';

        END
        ELSE
        BEGIN
            
            SET @number =case when @isInternationalPort=1 then dbo.Limpia(@number) else dbo.Completa_ListaNegra(@number) end
            
            IF(@number<>'' or LEFT(@number, 1) <> 'E')
            BEGIN
                INSERT INTO #NUMBERS (number) VALUES (@number)
            END
        END

        IF exists(SELECT 1 FROM #NUMBERS) begin
            INSERT INTO #NUMANDBL (iddncList)
            select cbl.idTipoLista from cccalifblacklist cbl  where cbl.calif_id=@calif_id and cbl.tipo = 1
        END

        DECLARE @Count int
        DECLARE @firstList bit = 1;  -- Solo la primera lista dispara limpieza WT/CS

        WHILE (SELECT count(id) from #NUMANDBL) > 0
        BEGIN  --WHILE
            select @Count = count(id) from #NUMANDBL
            SELECT @iddncList = iddncList from #NUMANDBL where id = @Count
            DECLARE @countNumbers INT, @indexNumbers INT = 1
            SELECT @countNumbers = COUNT(*) FROM #NUMBERS
            WHILE( @indexNumbers <= @countNumbers) --WHILE NUMBERS
            BEGIN
                SELECT @tel = number FROM #NUMBERS WHERE id = @indexNumbers
                IF @tel IS NOT NULL AND @iddncList IS NOT NULL
                BEGIN--Tel adn iddnclist                     
                    EXEC ccsp_InsertDNCList_Static
                        @telephone          = @tel,
                        @ln_id              = @iddncList,
                        @calKey             = @cal_key,
                        @skipWorkingCleanup = 0;
                    
                    IF (@killListSetting = 1 AND @iddncList = @killListID)
                    BEGIN
                        select @hashTel = dbo.hashPhone(@tel)

                        IF NOT EXISTS (SELECT hashtel FROM cc_KillList WHERE hashTel = @hashTel)
                        BEGIN
                            INSERT INTO cc_KillList (hashTel, id_tipoLista, DATE)
                            VALUES (@hashTel, @iddncList, GETDATE())
                        END
                    END

                    INSERT ccHistorialListaNegra (telefono, idtipolista, cam_id, fecha, callout_id, idtipomov)
                    SELECT @tel, @iddncList, co.cam_id, getdate(), co.callout_id, 6
                    FROM ccoCallsOut co WITH (INDEX (PK_ccoCallsOut))
                    WHERE co.cal_id = @idCall
                END --Tel adn iddnclist
                SET @indexNumbers = @indexNumbers + 1
            END --WHILE NUMBERS

            -- Despues de procesar la primera lista negra,
            -- marcamos que las siguientes ya NO deben limpiar WT/CS.
            IF (@firstList = 1)
                SET @firstList = 0;

            DELETE #NUMANDBL WHERE id = @Count
        END --WHILE
        DROP TABLE #NUMANDBL
        DROP TABLE #NUMBERS
    END --IF

    IF @RecicleSIC = 1
    BEGIN
        -- Toma como prioridad la configuración de la subcalificación (en caso de existir)
        SELECT @Reprogram = CanReprogram
        FROM ccTipoCalifSubout
        WHERE califSub_Id = @subId

        -- Si no tiene subcalificacion toma la de la calificacion
        IF @Reprogram IS NULL
        BEGIN
            SELECT @Reprogram = CanReprogram
            FROM ccTipoCalifOUT
            WHERE calif_id = @calif_id
        END

        IF @callOutId = 0
            SELECT @callOutId = callout_id
            FROM ccocallsout
            WHERE Cal_id = @IDCall

        UPDATE ccoWorkingTable
        SET calif_id = @calif_id, cal_status = CASE @Reprogram WHEN 0 THEN 3 ELSE cal_status END
        WHERE callout_id = @callOutId
    END

    DECLARE @keepDial BIT
    DECLARE @finishPreview BIT

    -- Toma como prioridad la configuración de la subcalificación (en caso de existir)
    SELECT @keepDial = keepDial
    FROM ccTipoCalifSubout
    WHERE califSub_Id = @subId

    -- Si no tiene subcalificacion toma la de la calificacion
    IF @keepDial IS NULL
    BEGIN
        SELECT @keepDial = keepDial
        FROM ccTipoCalifout
        WHERE calif_id = @calif_id
    END

    SELECT @finishPreview = isnull(finishPreview, 0)
    FROM ccTipoCalifout
    WHERE calif_id = @calif_id

    IF @keepDial = 1
    BEGIN
        UPDATE ccologdials
        SET TipoDialingMode = dbo.fn_getDialingMode(@IDCall, 3, 0, @camp)
        WHERE logDial_id IN (
                SELECT TOP 1 L.logDial_id
                FROM ccoLogDials L WITH (INDEX (IX_ccoLogDials_2), NOLOCK)
                JOIN ccoCallsOut O WITH (INDEX (PK_ccoCallsOut), NOLOCK) ON L.callout_id = O.callout_id
                WHERE O.cal_id = @IDCall
                ORDER BY L.logDial_id DESC
                )
    END

    SELECT @keepDial as keepDial, @finishPreview as finishPreview

    RETURN (0)
END

SET NOCOUNT OFF