USE [CCenterRIA]
GO
/****** Object:  StoredProcedure [dbo].[ccsp_DLRGetRotativeANI]    Script Date: 11/05/2026 09:18:16 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[ccsp_DLRGetRotativeANI]
@callout_id int,
@phones varchar(max),
@aniList int,
@algo tinyint
AS
set nocount on
DECLARE @Tels table (id int, pid varchar(2), phone varchar(32), ani varchar(32))
if @aniList<=0 begin
    SELECT * FROM @Tels
    return(0)
end

DECLARE @aniIdx varchar(500), @aniCnt smallint, @aniCurList int, @usedAniCnt int, @phoneCnt int, @ani varchar(32), @idx varchar(8)
DECLARE @id_phone INT, @phone varchar(32), @usedAni varchar(30)

if exists(select top 1 1 FROM ccRotativeAniListDetail with(nolock) WHERE id_RAniList = @aniList)
begin
    set @aniCnt= case when @algo = 3 then 2 else 1 end
end
else begin
    set @aniCnt=0
end

SELECT @aniCurList=isnull(id_RAniList,0),@aniIdx=isnull(ani_idx,'') FROM ccoWorkingTable with(nolock) WHERE callout_id = @callout_id

IF @aniList != @aniCurList SET @aniIdx = ''

IF @aniCnt > 0
BEGIN
    INSERT @Tels
    SELECT id,'p'+cast(id as varchar(1)),value,'' FROM fn_RIASplitDelimited(@phones, ';') WHERE len(value)>0

    IF OBJECT_ID('tempdb..#UsedAniList') IS NOT NULL DROP TABLE #UsedAniList;
    SELECT * INTO #UsedAniList FROM fn_RIASplitDelimited(@aniIdx, ',') WHERE len(value)>0
    SELECT @usedAniCnt=count(*) FROM #UsedAniList

    IF @algo = 3 and @usedAniCnt > 0 and @usedAniCnt < 2
    SELECT @usedAni = telAni FROM RowRotativeAniListDetail NOLOCK WHERE id_RAniList = @aniList AND RowNum=(
    SELECT TOP 1 value from #UsedAniList)

    DECLARE CUR_TEST CURSOR FAST_FORWARD FOR SELECT Id, phone FROM @Tels ORDER BY Id;
    OPEN CUR_TEST FETCH NEXT FROM CUR_TEST INTO @id_phone, @phone

    WHILE @@FETCH_STATUS = 0
    BEGIN

        IF @usedAniCnt >= @aniCnt SET @aniIdx = ''

        IF @algo = 0
        BEGIN
            SELECT @ani = dbo.TelAni(@phone,@aniList)
        END
        ELSE IF @algo = 1
        BEGIN
            SELECT TOP 1 @ani=telAni, @idx=idx FROM fnGetRotativeANI(@aniList, @aniIdx, default, default)
        END
        ELSE IF @algo = 2 or @algo = 3
        BEGIN
            DECLARE @cld varchar(3), @serie varchar(4), @cldCnt smallint
            IF len(@phone) < 10
            BEGIN
                FETCH NEXT FROM CUR_TEST INTO @id_phone, @phone
                CONTINUE
            END
			print(@usedAni)
            IF @algo = 3 and @usedAniCnt > 0 and @usedAniCnt < 2
            BEGIN
                IF EXISTS(SELECT TOP 1 1 FROM Series NOLOCK WHERE CLD=left(@usedAni, 2))
                    SELECT @serie = substring(@usedAni, 3, 4)
                ELSE
                    SELECT @serie = substring(@usedAni, 4, 3)
            END
			print('serie:'+@serie)
            IF @algo = 2 or (@algo = 3 and @usedAniCnt < 2)
            BEGIN
                IF EXISTS(SELECT TOP 1 1 FROM Series NOLOCK WHERE CLD=left(@phone, 2))
                    SET @cld = left(@phone, 2)
                ELSE
                    SET @cld = left(@phone, 3)
            END
            SELECT @cldCnt = count(*)
            FROM ccRotativeAniListDetail NOLOCK
            WHERE id_RAniList = @aniList
                AND (((@algo = 2 or (@algo = 3 and @usedAniCnt < 2)) and left(telAni, len(@cld))=@cld) or (@algo = 3 and @usedAniCnt >= 2))
                AND (@algo = 2 OR @usedAni is null OR left(telAni, 6) != left(@usedAni, 6) OR @usedAniCnt >= 2)
            IF @cldCnt > 0 and @usedAniCnt >= @cldCnt and @algo = 2 SET @aniIdx = ''
            print('@cldCnt:'+cast(@cldCnt as varchar(10)))
			DECLARE @newCld varchar(3) = case when @cldCnt > 0 and (@algo = 2 or (@algo = 3 and @usedAniCnt < 2)) then @cld else '' end
			declare @newSerie varchar(4) = case when @algo = 2 then '' when @usedAniCnt = 2 and @serie is not null then @serie else '' end
			SELECT TOP 1 @ani=telAni, @idx=idx
            FROM fnGetRotativeANI(@aniList, @aniIdx
                , @newCld
                , @newSerie)
			print('newcld:'+@newcld)
			print('newSeries:'+@newSerie)
			print('usedanicnt:'+cast(@usedAniCnt as varchar(10)))

        END

        SELECT @aniIdx = @aniIdx+','+@idx, @usedAniCnt = @usedAniCnt+1, @usedAni = @ani

        UPDATE @Tels SET ani=@ani WHERE id=@id_phone

        FETCH NEXT FROM CUR_TEST INTO @id_phone, @phone
    END
    CLOSE CUR_TEST
    DEALLOCATE CUR_TEST

    IF @usedAniCnt > @aniCnt SET @aniIdx = ''

    UPDATE ccoWorkingTable --WITH (ROWLOCK)
    SET id_RAniList = @aniList, ani_idx = ISNULL(@aniIdx,'')
    WHERE callout_id = @callout_id
END

SELECT * FROM @Tels

set nocount off