USE [CCenterRIA]
GO
/****** Object:  StoredProcedure [dbo].[ccsp_AgentUpdateCallTimes]    Script Date: 05/05/2026 04:22:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[ccsp_AgentUpdateCallTimes]
	@IDCall int,
	@cal_tXfer float,
	@cal_tDialog float,
	@cal_tNotas float,
	@TipoCall tinyint,
	@cal_tRing float=0,
	@mtmoh smallint = 0,
	@isChatCall bit = 0,
	@isErroManualCall bit =0,
	@isTransferEngine bit =0,
	@cal_twait float = null,
	@cal_whoHung smallint = null,
	@statusCall tinyint = 0
	AS
	set nocount on
	if @IDCall<=0 
		return(0)

	declare @tMinAVRS smallint
	declare @cal_manual int
	declare @minimoDialogo tinyint 
	select @minimoDialogo = valor from ccSettings where setting_id = 13

	set @cal_manual=0

	if @TipoCall=1 begin--INBOUND
	  if @cal_tDialog < @minimoDialogo and @isTransferEngine =1 begin
		--el status 18 es para llamada cortada con transferencia en Reminder
		exec ccsp_RIAUpdateCallBack_Abandon @cal_id = @IDCall, @nStatus = 18
	  end
	  Update ccCallsIN with(rowlock) Set cal_tXfer=@cal_tXfer, 
		cal_tDialog=case when @cal_tDialog > 0 and @cal_tDialog > cal_tDialog then @cal_tDialog else cal_tDialog end, 
	  cal_tNotas=@cal_tNotas, 
	  cal_tRing=@cal_tRing, cal_colgada=0, statusCall_id=13, 
	  cal_tMoh= case when @mtmoh>0 then  @mtmoh else cal_tMoh end
	  Where cal_id= @IDCall

	  exec ccspSaveDispositionResult @action=2, @callid=@IDCall,@callType=0,@statusCallId=13


	  --Actualizar tiempo total de llamada
	  exec ccsp_EngineLogTransfers 2, @IDCall, @TipoCall, 2, null, @cal_tXfer, @cal_tDialog

	  -- Elimina callback generado por abandono
  
	  if @isTransferEngine = 0  begin
	  Declare @ANI_x varchar(19)
	  select @ANI_x=cal_ani from cccallsin with(index(PK_ccCallsIn), nolock) where cal_id=@IDCall

	  DELETE ccoWorkingTable with(rowlock ) WHERE callout_id in (select callout_id from ccRIAUpdateCallBack_Abandon with(index(PK_ccRIAUpdateCallBack_Abandon), nolock) where cal_ani=@ANI_x)
	  DELETE ccRIAUpdateCallBack_Abandon with(rowlock) WHERE cal_ANI=@ANI_x
	  end
	end
	else if @TipoCall=2 begin--OUTBOUND 
		declare @calloutId int, @NotTransferQuantum bit
		select @NotTransferQuantum=case when @statusCall in (6,20) then 1 else 0 end
		Update ccoCallsOUT with(rowlock) Set cal_tXfer=case when @cal_tXfer > 0 then @cal_tXfer else cal_tXfer end, 
                cal_tRing=case when @cal_tRing > 0 then @cal_tRing else cal_tRing end, 
                cal_tDialog = case 
                        when @NotTransferQuantum = 1 then 0
                        when @cal_tDialog > 0 and @cal_tDialog > cal_tDialog then @cal_tDialog 
                        else cal_tDialog 
                        end,
    
                cal_tNotas=case when @cal_tNotas > 0 then @cal_tNotas else cal_tNotas end, 
                cal_tMoh=case when @mtmoh > 0 then @mtmoh else cal_tMoh end,
    
                cal_manual=case when @isChatCall=1 then 3 else cal_manual end,
                cal_colgada=0,
                statusCall_id = case 
                                when @statusCall != 0 then @statusCall
                                when @isErroManualCall = 0 then 13 
                                else statusCall_id 
                            end,
                totalCall_Time=case when totalCall_Time is null then @cal_tDialog else totalCall_Time end 
                ,@calloutId=callout_id,
                cal_twait = case 
                            when @NotTransferQuantum = 1 then @cal_tDialog
                            else ISNULL(@cal_twait, cal_twait)
                        end,
                cal_que = case 
                        when @statusCall = 6 then 1
                        else cal_que
                      end,
                cal_whoHung = ISNULL(@cal_whoHung, cal_whoHung)
                Where cal_id=@IDCall

		if @NotTransferQuantum = 1 return

		exec ccspSaveDispositionResult @action=2, @callid=@IDCall,@callType=1,@statusCallId=13
		
		DELETE ccRIAUpdateCallBack_Abandon with(rowlock) WHERE callout_id=@calloutId

		-- calcula el costo de la llamada
		exec ccsp_CstoCalculaCosto @IDCall
	  select @cal_manual=cal_manual from ccoCallsOUT with(nolock) Where cal_id=@IDCall

	 end

	select @tMinAVRS=isnull(valor,5) from ccSettings where setting_id=65

	if @cal_tDialog >= @tMinAVRS and @cal_manual<>1
	  begin 
			insert ccAVRSTransfer (cal_id, tipo) values (@IDCall, @TipoCall - 1)
	end

	return(0)
	set nocount off