USE [ccReportsRia]
GO
/****** Object:  StoredProcedure [dbo].[ccspRepInCallsDetail]    Script Date: 10/07/2018 07:56:00 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
EXEC sp_RENAME 'RepInCallsDetail.username', 'userName', 'COLUMN'
GO
ALTER PROCEDURE [dbo].[ccspRepInCallsDetail]
@action as tinyint,
@from as datetime = null,
@to as datetime = null
AS

DECLARE @callId as int

if @from is null
	select @from = convert(datetime,convert(varchar(11),getdate()))
select @to = getdate()

if @action = 1
begin
	
	declare @tab table(callId int primary key, [Dato1] varchar(255),[Dato2] varchar(255),[Dato3] varchar(255),[Dato4] varchar(255),[Dato5] varchar(255))

	insert into @tab
	select callId,[Dato 1],[Dato 2],[Dato 3],[Dato 4],[Dato 5]
	from
	(select A.CallId,[Data],[Description] from DataCallIn A
	inner join ccCallsIn B on A.CallId=B.cal_id
	where b.cal_Inicio >= @from AND b.cal_Inicio < @to
	) as SourceTable
	pivot
	(
	max([Data])
	for [Description] in ([Dato 1],[Dato 2],[Dato 3],[Dato 4],[Dato 5])
	)as pvt


	--Borrar lo que esta para no repetir
	delete from RepInCallsDetail with(rowlock) where date >= @from AND date < @to

	insert into RepInCallsDetail
	select cal_inicio, Inbound_id, '' as Inbound, statusCall_id, '' as statusCall, calif_id, '' as calif, isnull(califSub_id,0), '' as califSub,
	dni_id, '' as dni, user_id, '' as agentName,
	isnull(cal_key,''), cal_ANI, cal_tWait, cal_tXfer, cal_tRing, cal_tDialog, cal_extension, '',
	case when a.cal_whoHung = 0 then 'systemTranslated_Client'
	when a.cal_whoHung = 1 then 'systemTranslated_Agent'
	else 'systemTranslated_AgentSurvey' end [whoHangUp]
	, cal_tMoh, datepart(yyyy,cal_inicio), datepart(mm,cal_inicio), datepart(dd,cal_inicio)
	, datepart(hh,cal_inicio), datepart(mi,cal_inicio)
	,di.provedor_id,prov.descrip [Proveedor],a.cal_puerto
	,case when a.file_moved = 1 then 'systemTranslated_Remoto' else 'Local' end as file_Moved
	,cal_tNotas,AverageHandleTime= cal_tNotas+cal_tDialog
	,ISNULL(tab.Dato1,'') as Dato1
	,ISNULL(tab.Dato2,'') as Dato2
	,ISNULL(tab.Dato3,'') as Dato3
	,ISNULL(tab.Dato4,'') as Dato4
	,ISNULL(tab.Dato5,'') as Dato5
	from cccallsin a
	left join ccoDialers di on di.dialer_id = a.cal_puerto
	left join cstoProvedor prov on di.provedor_id = prov.provedor_id
	left join @tab tab on tab.callId=a.cal_id
	where cal_inicio >= @from AND cal_inicio < @to
	
	update a set acdGroup = isnull(descripcion,'')
	from RepInCallsDetail a
	left join ccInbound b
	on a.inboundId = b.Inbound_id
	where [date] >= @from AND [date] < @to

	update a set callStatus = isnull(descripcion,'')
	from RepInCallsDetail a
	left join ccstatusllamada b
	on a.callStatusId = b.statusCall_id
	where [date] >= @from AND [date] < @to

	update a set disposition = isnull(description,'')
	from RepInCallsDetail a
	left join cctipocalif b
	on a.dispositionId = b.calif_id
	where [date] >= @from AND [date] < @to

	update a set subDisposition = isnull(califSubDesc,'')
	from RepInCallsDetail a
	left join cctipocalifsub b
	on a.subDispositionId = b.califSub_id
	where [date] >= @from AND [date] < @to

	update a set dnis = isnull(dni_numero,'')
	from RepInCallsDetail a
	left join ccdnis b
	on a.dnisId = b.dni_id
	where [date] >= @from AND [date] < @to

	update a set username = isnull(login,''),
	agentName = isnull(Nombres + ' ' + ApellidoPaterno + ' ' + ApellidoMaterno,'')
	from RepInCallsDetail a
	left join ccusers b
	on a.userId = b.user_id
	where [date] >= @from AND [date] < @to

end