USE [CCenterRIA]
GO
/****** Object:  StoredProcedure [dbo].[ccsp_AgentOutGetTels]    Script Date: 24/01/2024 02:52:06 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ccsp_AgentOutGetTelsKolob]
@callout_id int
AS
if @callout_id=0 begin
	select 'Other' Other
	return 
end
declare @telefono1 varchar(30)
declare @telefono2 varchar(30)
declare @telefono3 varchar(30)
declare @telefono4 varchar(30)
declare @telefono5 varchar(30)

select @Telefono1=cal_telefono, @Telefono2=cal_telefono2, @Telefono3=cal_telefono3, @Telefono4=cal_telefono4, @Telefono5=cal_telefono5
from ccoCallsOutSource with(nolock)
where callout_id=@callout_id


select @Telefono1 Phone1,@Telefono2 Phone2,@Telefono3 Phone3,@Telefono4 Phone4,@Telefono5 Phone5,'Other' Other