USE [CCenterRIA]
GO
/****** Object:  StoredProcedure [dbo].[ccsp_AgentGetStartStopPermission]    Script Date: 08/02/2024 04:36:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[ccsp_AgentGetStartStopPermission]
@cam_id int,
@call_type int
AS
BEGIN
	SET NOCOUNT ON;

	declare @valor as int
	set @valor = 0
		---------- Entra agente con permiso de StartStopRecording
		IF @call_type = 1 ------- Revisamos especialidad
			set @valor = (select isnull(startStopRecording,0) from ccInbound (nolock) where Inbound_id = @cam_id)
		ELSE ------- Revisamos Campaña
			set @valor = (select isnull(startStopRecording,0) from ccCamps (nolock) where cam_id = @cam_id)

	select @valor Allowed
END