USE [CCenterRIA]
GO
/****** Object:  StoredProcedure [dbo].[ccsp_BaseXmngr]    Script Date: 09/11/2023 02:20:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[ccsp_BaseXmngr]
@action int,
@option tinyint = 0,
@ids varchar(max)=null,
@name varchar(25) = NULL,
@top int = 0,
@dateIni datetime =null,
@dateEnd datetime =null,
@dateStart dateTime= null,
@userId int = 0,
@node varchar(10) = null,
@grabIds varchar(4000) = null
AS

declare @sql nvarchar(max),@tableName nvarchar(max),@columnId nvarchar(max),@tableNameHistory nvarchar(max)
declare @parameterDefinition nvarchar(max)
declare @chat tinyint ,@rec tinyint,@email tinyint,@twitter tinyint
declare @status tinyint
declare @filterWg varchar(max)
declare @len int
declare @tipo int
declare @serviceId varchar(10)

set @sql = ''

select @tableName=tableName,@tableNameHistory=tableNameHistory,@columnId=columnId from ccFinderServices where id=@option 

if @action in (1,6) begin --obtiene los nodos a insertar en BX
	if @action = 1 set @status =0
	else if @action = 6 set @status = 2

	if @option <>2 begin

	declare @auxTag nvarchar(10)
							
	select @auxTag =case when @option = 1 then '@C09' when @option in (3,4) then '@C02'
	else '@CDATE'   end
	set @parameterDefinition =N'@status int, @top int,@option int'
	set @sql='declare @basexName varchar(max)
select @basexName=Xname from ccBaseXDB where serviceId=@option and isFull=0;
	with node ( '+@columnId+ ',xmlString,dateNode)
	AS(
		select top(@top) '+@columnId+ ', replace(replace(convert(nvarchar(max),node),''{'',''&#123;''),''}'',''&#125;'') xmlString
		,isNull(node.value(''(/R0' + cast(@option as nvarchar(3)) + '/@CDATE)[1]'',''datetime''),node.value(''(/R0' + cast(@option as nvarchar(3)) + '/'+@auxTag+')[1]'',''datetime'')) as dateNode
		from '+ @tableName + ' A with(rowlock)
		where A.status =@status
		union
		select top(@top) '+@columnId+ ', replace(replace(convert(nvarchar(max),node),''{'',''&#123;''),''}'',''&#125;'') xmlString
		,isNull(node.value(''(/R0' + cast(@option as nvarchar(3)) + '/@CDATE)[1]'',''datetime''),node.value(''(/R0' + cast(@option as nvarchar(3)) + '/'+@auxTag+')[1]'',''datetime'')) as dateNode
		from '+ @tableNameHistory + ' A with(rowlock)
		where A.status =@status  
	)

	select node.'+@columnId+ ',node.xmlString,isnull(baseX.Xname,@basexName) Xname from node
	left join ccBaseXDB baseX on baseX.serviceId= @option and node.dateNode between baseX.dateStart and isnull(baseX.dateEnd,getdate())
	order by baseX.Xname'
	--print(@sql)
	EXECUTE sp_executesql  @sql, @parameterDefinition, @status=@status,@top=@top,@option=@option
	end
end
else if @action in (2,7) begin--actualiza los nodos insertados en BX
	if @action = 2 set @status =0
	else if @action = 7 set @status = 2

	set @parameterDefinition =N'@status int'

	set @sql = 'update '+@tableName+' with(rowlock) set [status] = @status + 1 , dateOut = getDate() where '+@columnId+' in('+@ids+') and [status] = @status'
	select @tableName,@columnId,@ids,@sql
	EXECUTE sp_executesql  @sql, @parameterDefinition, @status=@status
	set @sql = 'update '+@tableNameHistory+' with(rowlock) set [status] = @status + 1 , dateOut = getDate() where '+@columnId+' in('+@ids+') and [status] = @status'
	--print(@sql)
	EXECUTE sp_executesql  @sql, @parameterDefinition, @status=@status

end
else if @action = 3 --trae el nombre de la base de datos en BX
begin
	select Xname from ccBaseXDB where serviceId = @option and isFull=0
end
else if @action = 4 --inserta el nombre del xml en BX
begin
	insert into ccBaseXDB (serviceId, dateStart, Xname,[isFull]) values (@option,@dateStart, @name,0)
end
else if @action = 5 begin --obtener servicios disponibles    
	select id, ref  from ccFinderServices where isActive=1
end
else if @action = 8 begin--trae la lista de las bases para la busqueda
	select Xname from ccBaseXDB where serviceId = @option
	and (

	@dateIni between dateStart and dateEnd
	or @dateEnd between dateStart and dateEnd
	or dateStart between @dateIni and @dateEnd
	)
	union
	select Xname from ccBaseXDB where serviceId = @option and isFull=0
	and (
		dateStart between @dateIni and @dateEnd
		or @dateIni>=dateStart

	)
end
else if @action = 9 begin--Cierra la base datos
	update ccBaseXDB set isfull = 1,dateEnd=isnull(@dateEnd,getdate()), dateStart=isnull(@dateStart,dateStart) where serviceId= @option and  isfull = 0 and dateEnd is null
	and Xname=@name
end

else if @action = 10 begin
	
	set @tipo = CASE WHEN @node = 'R06' THEN 1 ELSE 0 END
	set @filterWg=''
	if @node is null or @node = 'R02'
	begin
		select @filterWg=@filterWg+'(@CID=' +convert(varchar(max), WGCam.IdCampEsp)+ ' and @CType='+convert(varchar(max), WGCam.Tipo+1)+') or ' from ccRIAWorkGroupUsers Wguser
		inner join ccRIACampEspWG WGCam on WGCam.IDWG=Wguser.IDWG
		where Wguser.User_id=@userId
						
	end
	else
	begin
	
	set @serviceId = (select convert(varchar(10), id) from ccFinderServices where ref = @node)
	select @filterWg=@filterWg+'(@CID=' +convert(varchar(max), WGCam.IdCampEsp)+ ' and @CType='+@serviceId+') or ' from ccRIAWorkGroupUsers Wguser
		inner join ccRIACampEspWG WGCam on WGCam.IDWG=Wguser.IDWG
		where Wguser.User_id=@userId and WGCam.Tipo=@tipo
	end


	set @len=len(@filterWg)- CHARINDEX('ro )', REVERSE(@filterWg))
	select SUBSTRING(@filterWg,0, @len)
	end


else if @action = 11 begin--trae el nombre de la base de datos en BX

	set @sql='
	declare @dateStart datetime
	set @dateStart= convert(datetime,convert(varchar(10),getdate(),121))
	SELECT isnull(min(dateIn),@dateStart) as node FROM '+@tableName+' where status = 0  '
	EXECUTE sp_executesql  @sql

end

else if @action = 13 begin
	set @sql = ''
	select @tableName=tableName,@tableNameHistory=tableNameHistory,@columnId=columnId from ccFinderServices where id=5 
	select @tableName,@tableNameHistory,@columnId
	set @sql='
	;
	with duplicateIds as(
	select '+@columnId+',dateIn from '+@tableName+' where '+@columnId+' in('+@grabIds+')
	union
	select '+@columnId+',dateIn from '+@tableNameHistory+' where '+@columnId+' in('+@grabIds+')
	)

	select A.'+@columnId+' as Id,min(B.Xname) Xname from duplicateIds A
	inner join ccbasexDB B on B.serviceId=2 and( A.dateIn between B.dateStart and B.dateEnd or A.dateIn>= B.dateStart)
	group by A.'+@columnId+',A.dateIn
	Having count(*)>1
	order by Xname
	'
	exec (@sql)

end

else if @action = 14 begin
	declare @CidNameOut varchar(100),@CidNameIn varchar(100)
	declare @filterCamId varchar(max)
	declare @campType int
	declare @cidOut varchar(max)=''
	declare @cidin varchar(max)=''

	set @filterWg=''
	if @node is null begin
		set @node='R02'
	end

	set @CidNameOut='$CID_OUT_'+@node
	set @CidNameIn='$CID_In_'+@node

	set @filterCamId=''

	if @node = 'R02'
	begin
		select @filterCamId=@filterCamId+'"'+ convert(varchar(max), WGCam.IdCampEsp) +'",'
		from ccRIAWorkGroupUsers Wguser
		inner join ccRIACampEspWG WGCam on WGCam.IDWG=Wguser.IDWG
		inner join ccCamps c on c.cam_id=WGCam.IdCampEsp and c.CampType not in(5,7)
		where Wguser.User_id=@userId and WGCam.Tipo=1								
	end
	else if @node = 'R05'
	begin		
		select @filterCamId=@filterCamId+'"'+ convert(varchar(max), WGCam.IdCampEsp) +'",'
		from ccRIAWorkGroupUsers Wguser
		inner join ccRIACampEspWG WGCam on WGCam.IDWG=Wguser.IDWG
		inner join ccCamps c on c.cam_id=WGCam.IdCampEsp and c.CampType =5
		where Wguser.User_id=@userId and WGCam.Tipo=1						
	end

	if @filterCamId<>'' begin
		if @node in( 'R02','R05') begin
			set @filterWg='let '+@CidNameOut+':=('
		end

		set @filterCamId=SUBSTRING(@filterCamId,0,len(@filterCamId))
		set @filterCamId=@filterCamId+')'+char(10)	

		set @filterWg=@filterWg+@filterCamId
	end	
		
	set @tipo = case when @node in('R01','R02','R03','R04') then 1	
		when @node ='R05' then 5 
		when @node ='R06' then 6 
		else 0 end -- revisar ccsp_CreateNodeMultimedia CTYPE

	set @campType = case when @node ='R01' then 1	
		when @node ='R02' then 0
		when @node ='R03' then 3
		when @node ='R04' then 4
		when @node ='R05' then 5
		when @node ='R06' then 6 else 0 end

	set @filterCamId=''
			
	select @filterCamId=@filterCamId+'"'+ convert(varchar(max), WGCam.IdCampEsp) +'",'
	from ccRIAWorkGroupUsers Wguser
		inner join ccRIACampEspWG WGCam on WGCam.IDWG=Wguser.IDWG
		inner join ccInbound c on c.Inbound_id=WGCam.IdCampEsp and c.chat =@campType
		where Wguser.User_id=@userId and WGCam.Tipo=0
	
	if @filterCamId<>'' begin
		set @filterCamId=SUBSTRING(@filterCamId,0,len(@filterCamId))
		set @filterCamId=@filterCamId+')'+char(10)	

		set @filterWg=@filterWg+'let '+@CidNameIn+':=('+@filterCamId
	end
	
	if @node = 'R02' begin
		set @cidOut='(exists(index-of('+@CidNameOut+',@CID)) and @CType=2)'
	end
	else if @node = 'R06' begin
		set @cidOut='(exists(index-of('+@CidNameOut+',@CID)) and @CType=6)'
	end
	if @node not in('R05') begin
		set @cidin='(exists(index-of('+@CidNameIn+',@CID)) and @CType='+ convert(varchar(max), @tipo)+')'
	end
	
	select @filterWg as VarCamInOut,@cidOut as CidOut,@cidin as CidIn
end
else if @action = 15 begin --Saber si hacer busqueda en basex
  select @tableName=tableName,@tableNameHistory=tableNameHistory from ccFinderServices where ref=@node
  if @node='R02' begin
	select 1
	return(0)
  end

  set @sql='if exists(select * from '+@tableName+') begin
		select 1
	end
	else if exists(select * from '+@tableNameHistory+') begin
		select 1
	end
	select 0'
	exec (@sql)
	
end