USE [CCenterRIA]
GO
/****** Object:  StoredProcedure [dbo].[ccsp_GalateaCallbacksDays]    Script Date: 24/01/2024 05:36:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[ccsp_GalateaCallbacksDays]--[dbo].[ccsp_GalateaCallbacksDays] 40
@userID int
AS
declare @currentDay datetime,@rangeDays int 

set @currentDay =getdate()

select @rangeDays=valor from ccSettings where setting_id=35

-- Returns days with callbacks made by an agent
SELECT cal_fusercallback Day
FROM ccoCallBacks cb with(nolock)
WHERE user_id = @userID
and cal_fusercallback between @currentDay and dateadd(dd,@rangeDays,getdate())
order by Day