USE [CCenterRIA]
GO
/****** Object:  StoredProcedure [dbo].[ccsp_GalateaCallbacksDetail]    Script Date: 24/01/2024 03:53:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[ccsp_GalateaCallbacksDetail]
@userID int,
@dateCallBack datetime
AS
-- Returns data of callbacks made by an agent on specific day
declare @to datetime
set @dateCallBack=convert(date,@dateCallBack,121)
set @to=dateadd(dd,1,@dateCallBack)

SELECT	
		CAST(DATEPART(HOUR, cal_fusercallback)AS smallint) 'Hour',
		DATEPART(MINUTE, cal_fusercallback) 'Minute',
		cb.cal_telefono Telephone,
		cam_descripcion Campaign
FROM ccoCallBacks cb with(nolock)
	 join ccCamps c on cb.cam_id = c.cam_id
WHERE user_id = @userID and cal_fusercallback between @dateCallBack and @to
