USE [CCenterRIA]

-- DROP PROCEDURE [dbo].[ccsp_GalateaSettingsExtendById]

CREATE PROCEDURE [dbo].[ccsp_GalateaSettingsExtendById]
@Id smallint = NULL
AS
BEGIN

SET NOCOUNT ON;

SELECT [setting_id]
		,[valor]
		,[Status]
		,[Tipo]
		,[bLoadSettings]
	FROM [dbo].[ccSettings2] WITH(NOLOCK)
	WHERE (@Id IS NULL OR [setting_id]=@Id)

END