USE [CCenterRIA]
GO
/****** Object:  StoredProcedure [dbo].[ccsp_GalateaSettingsExtendById]    Script Date: 27/02/2024 01:24:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ccsp_GalateaSettingsExtend]
    @Ids VARCHAR(1000) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @IdList TABLE (Id SMALLINT);
    DECLARE @Delimiter CHAR(1) = ',';
    DECLARE @Pos INT;
    DECLARE @NextPos INT;
    DECLARE @Id VARCHAR(255);

    SET @Ids = LTRIM(RTRIM(@Ids))+ ',';
    SET @Pos = CHARINDEX(@Delimiter, @Ids, 1);

    WHILE (@Pos > 0)
    BEGIN
        SET @Id = LTRIM(RTRIM(LEFT(@Ids, @Pos - 1)));
        IF (@Id != '')
        BEGIN
            INSERT INTO @IdList (Id) VALUES (@Id);
        END
        SET @Ids = RIGHT(@Ids, LEN(@Ids) - @Pos);
        SET @Pos = CHARINDEX(@Delimiter, @Ids, 1);
    END;

    SELECT [setting_id], [valor]
    FROM
    (
        SELECT [setting_id], [valor], 1 AS [Tabla]
        FROM [dbo].[ccSettings] WITH(NOLOCK)
        WHERE ([setting_id] IN (SELECT Id FROM @IdList WHERE Id <= 255) and Status = 1 ) or Tipo = 'AGT'
        UNION ALL
        SELECT [setting_id], [valor], 2 AS [Tabla]
        FROM [dbo].[ccSettings2] WITH(NOLOCK)
        WHERE [setting_id] IN (SELECT Id FROM @IdList WHERE Id > 255) and Status = 1
    ) AS AllSettings
    ORDER BY [setting_id], [Tabla];

END