USE [CCenterRIA]
GO
/****** Object:  StoredProcedure [dbo].[ccsp_RIAADMgetAbandonoSalida_Fix]    Script Date: 24/11/2023 01:00:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [dbo].[ccsp_RIAADMgetAbandonoSalida_Fix]
as
set nocount on
declare @to smalldatetime, @from smalldatetime
declare @interval int
declare @i int
declare @row int

declare @tempChart table(
cam_id	int,
countAbnd int,
countAll int,
timestamp	smalldatetime
)

set @interval=10
set @to = convert(datetime, convert(varchar(13), getdate(), 121)+':00:00',121)

set @to = dateadd(mi,10,@to)
set @from = dateadd( mi, -@interval*30, @to)

set @row=DATEDIFF(mi,@from,@to)
select @row=ABS( CEILING(1.0*@row/@interval))


;WITH Numbers AS
(
    SELECT TOP (@row) n = CONVERT(INT, ROW_NUMBER() OVER (ORDER BY s1.[object_id]))
    FROM sys.all_objects AS s1 CROSS JOIN sys.all_objects AS s2
)
, times as(
	SELECT  ROW_NUMBER() OVER (ORDER BY n) as [ID], DATEADD(MINUTE,@interval* (n-1), @from) as [Start], DATEADD(MINUTE,@interval* (n), @from) as [Stop]
	FROM Numbers
), tempChart as(
	select cam_id,case statuscall_id when 6 then 1 end  as countAbnd
	,convert(datetime, 	convert(varchar(15), cal_inicio, 121)+'0:00',121) as timeSpam		
	from ccoCallsOut
	with( index(IX_ccoCallsOut_2),nolock )
	where cal_manual in (0,2 ) and cal_inicio between @from and @to
),timeCamps as(
	select c.cam_id,t.Start as timeSpam from times t
	cross join ccCamps c
	where c.IDArea is not null
),tempChartGroup as(
	select cam_id,count(countAbnd) as countAbnd,
	COUNT(*) as countAll,timeSpam
	from tempChart
	group by cam_id,timeSpam
)

insert into @tempChart
select tCamp.cam_id,isnull(countAbnd,0) as countAbnd,isnull(countAll,0) countAll
,tCamp.timeSpam from timeCamps tCamp
left join tempChartGroup chart on tCamp.cam_id=chart.cam_id and tCamp.timeSpam=chart.timeSpam

truncate table ccAbandonoSalida_Chart

insert into ccAbandonoSalida_Chart
select cam_id,
CONVERT(decimal(10,2),
case when countAll=0 then 0 else countAbnd*100.00/countAll end
),[timestamp]
  from @tempChart order by cam_id 

truncate table ccAbandonoSalida  
  
 insert into ccAbandonoSalida
 select cam_id,
 CONVERT(decimal(10,2),
 case when sum(countAll) =0 then 0 else 
 SUM(countAbnd*100.0)/sum(countAll) end 
 ) as AbndPctg 

 from @tempChart
 group by cam_id
 
set nocount off