USE [CCenterRIA]
GO
/****** Object:  StoredProcedure [dbo].[ccsp_Callbacks]    Script Date: 24/01/2024 05:39:27 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[ccsp_Callbacks]
@cam_id as int
AS
select año,mes,dia,hora, callbacks from ccRIACallbacks with(nolock)

where cam_id=@cam_id order by año,mes,dia,hora