<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CenterwareWSSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="CenterwareWSSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.1.249/WSAdmin/CenterwareWS.asmx"
                binding="basicHttpBinding" bindingConfiguration="CenterwareWSSoap"
                contract="WebServicesAdmin.CenterwareWSSoap" name="CenterwareWSSoap" />
            <endpoint address="http://192.168.1.249/WSAdmin/CenterwareWS.asmx"
                binding="customBinding" bindingConfiguration="CenterwareWSSoap12"
                contract="WebServicesAdmin.CenterwareWSSoap" name="CenterwareWSSoap12" />
        </client>
    </system.serviceModel>
</configuration>